extends layout

block content
  .row
    .col-md-12
        h3 Benchmarks 
          small Performance percentiles in a given stat
        - var hero = constants.heroes[hero_id]
        if hero
          h3.text-center
            span #{hero.localized_name}
          h4.text-center
            img.hero(src=hero.img, title=hero.localized_name)
        .table-responsive
          table.table.table-condensed.table-striped
            tr
              th Stat
              each entry, i in result[Object.keys(result)[0]]
                th=(entry.percentile*100)+"%"
            each val, key in result
              tr
                td=prettyPrint(key)
                each entry, i in result[key]
                  td=Number(entry.value.toFixed(2))
          each val, key in result
            div(id="benchmarks-"+key)
//-
  script.
    var data = !{JSON.stringify(result)};
    console.log(data);
    for (var key in data){
      generateChart(key);
    }
    function generateChart(key)
    {
    var xs = {};
    var columns = [];
    var bin = 0;
    xs[key] = key+"_x";
    columns.push([key+'_x'].concat(data[key].map(function(p){return p.value;})));
    columns.push([key].concat(data[key].map(function(p){return p.percentile*100;})));
    console.log(columns);
    var options = {
        bindto: "#benchmarks-"+key,
        size: {height: 600},
        data: {
        xs: xs,
        columns: columns,
        type: 'area-spline'
    },
    axis: {
        x: {
            label: 'Metric',
            //type: 'category',
            //categories: cats
        },
        y: {
            label: 'Percentile'
        },
    },
    legend:
    {
    hide: false
    }
    };
    c3.generate(options);     
    }