extend layout

block content
  #about-top.gallery.faq
    .row
      .col-md-6.col-md-offset-3.text-center
        br
        br
        h1 Blog            
        h3 All the cool stuff we've been doing.
        img.img-responsive(src='../public/images/curlycue.png', style='margin: auto;')
        br
        br
  .row
    .col-md-12
      each post in posts
        .panel.panel-default.blog-panel
          .panel-heading
              h2.panel-title.blog-heading=post.title
              h6.blog-date By #{post.author} | #{moment(post.date).format("dddd, MMMM Do, YYYY")}
          .panel-body
              != post.content
              //-
                .tags
                  each tag in post.tags
                    a(href=tagUrl(tag))
                      span.label.label-info #{tag}
      ul.pagination.pull-left
        if id<max
          li: a(href="/blog/"+(id+1)) Newer
      ul.pagination.pull-right
        if id>1
          li: a(href="/blog/"+(id-1)) Older
    //-
      .col-md-2
        block taglegend
          .well.sidebar-nav.tag-key
            p.lead Tags
            each tag in getTags()
              div
                span.label.label-info
                  a(href=tagURL(tag)) #{tag}