extend layout
  
block content
  .page-header.text-center
    h1(style='font-weight: 700;') We Need Your Help
    p.lead Buy some Cheese. Help pay for servers.
    hr
    .row
      if subscription && subscription.length > 0
        .row
          .col-md-8.col-md-offset-2
            if subscription.length > 1
              table.table
                tbody
                  tr 
                    th Amount
                    each s in subscription
                      td= s.amount
                  tr
                    th Renewal
                    each s in subscription
                      td= moment(subscription.active_until).format("MMM Do YYYY")
            else
              - var sub = subscription[0];
              p You're currently subscribed for #{sub.amount} cheese/month ($#{sub.amount}/month).
                | This is set to renew on #{moment(sub.active_until).format("dddd, MMMM Do YYYY")}.
            p Thanks so much for your support!
            p To cancel your subscription, click #[a(href="/cancel") here]. 
              | Questions about your subscription? Check #[a(href="/faq") here].
        hr
      #alert.alert.alert-danger(role="alert", style="display:none;")
      .col-md-4(style="font-size:24px;")
        h4 YASP is completely community funded. We have no ads or paid employees. 
        h4 We run through your support!
      .col-md-4
        p Give me 
          select.form-control#amount(style="width:inherit;display:inline;")
            option 1
            option 2
            option 3
            option 4
            option(selected) 5
            option 6
            option 7
            option 8
            option 9
            option 10
            option 20
            option 30
            option 40
            option 50
            option 75
            option 100
            option 150
          |  cheese!
        .checkbox
          label 
            input#subscription(type="checkbox") 
            abbr(title="You'll be charged monthly for this amount. Subscriptions give us reliable revenue so that we can better allocate our expenditures on providing the best site experience.") Make this a monthly thing <br> cause you're extra awesome!
        .row
          .col-md-6
            div.inline
              button#thething.btn.btn-warning(type="submit", style="text-transform: initial;") 
                i.fa.fa-credit-card 
                |  or 
                i.fa.fa-btc
                |  via Stripe
          .col-md-6
            div.inline#paypal-container
        #cancel-info(style="display:none;")
          br
          p Subscriptions are only supported through Stripe.
          if user
            p You'll be able to cancel your subscription from this page or by emailing support@yasp.co with your player ID.
          else
            p You're not logged in! If you want to cancel your subscription, you'll have to email us at support@yasp.co.
      .col-md-4
        p $1/Cheese. It's worth it.
        p Payment processing is done through Stripe or Paypal. We never see your credit card information. <br>
        br
        if user
          strong You are logged in! Your contribution will be public. Logout if you wish to remain anonymous.
        else  
          strong You aren't logged in! This contribution will be anonymous, and the Cheese will not be attached to an account.
    hr
    .row
      .col-md-4
        p.lead Be At the Top
        span.fa.fa-line-chart.fa-5x
        p.text(style="margin-top:1em;") Get listed as a <a href="#top">top contributor</a>. People will be all, "Wow!"
      .col-md-4
        p.lead Cheese Your Profile
        span.flaticon-1.medium-cheese
        p.text(style="margin-top:1em;") Cause cheese is awesome.
      .col-md-4
        p.lead Feel Good About Yourself
        span.fa.fa-heart-o.fa-5x
        p.text You're awesome.
    .row
      p.lead Cheese buyers are also indefinitely tracked. <br> All your games from now on will be parsed, whether you visit or not.
    hr
    .row
      p.lead More Cheese features to come. Or not. Who knows.
  .row#top
    .text-center
      h1 Top Carries
      p.lead  These people have made especially large contributions. Look at them in awe. Thank you. Thank you. Thank you.
    table.table.table-striped
      tr
        th Number
        th User
        th Cheese Count
      each player, i in users
        if player.cheese
          tr
            td= i + 1
            td
              div(style="margin: 0 auto;")
                a(href=player.profileurl || "#", target="_blank", style="display:inline-block; margin-right:10px;")
                  if player.avatar
                    img(src='#{player.avatar}').img-thumbnail
                h4(style="display:inline"): a(href="/players/#{player.account_id}") #{player.personaname || player.account_id}
            td #{player.cheese}

append footer_assets
   style.
     .img-thumbnail { width: 40px;}
   script(src="https://checkout.stripe.com/checkout.js")
   script.
    var stripe_public = "#{stripe_public}";
   script(src="https://js.braintreegateway.com/v2/braintree.js")
   script(src="/public/js/donate.js")
        