extend layout

block content
  .row
    .col-md-12
      h3 Solo MMR Distribution 
        small (#{mmr.sum.count} players)
        br
        small Includes players displaying MMR on profile and sharing public match data (Sign-in not required)
      #mmr
  .row
    .col-md-6
      h3 Game Mode 
      #game_mode
    .col-md-6
      h3 Lobby Type 
      #lobby_type

append footer_assets
  script.
    var mmr = !{JSON.stringify(mmr.rows)};
    var count = !{mmr.sum.count};
    var counts = mmr.map(function(d){return d.count;});
    var names = mmr.map(function(d){return d.bin_name});
    var pcts = mmr.map(function(d){return d.cumulative_sum/count*100;});
    var max = Math.max.apply(null, counts);
    var counts2 = [];
    var options = {
        bindto: "#mmr",
        size: {height: 500},
        data: {
            x: 'MMR',
            columns: [
            ['MMR'].concat(names),
            ['Players'].concat(counts),
            ['Percentile'].concat(pcts)
            ],
            type: "bar",
            types: {
            "Percentile": "spline"
            },
            axes: {
            "Players":"y",
            "Percentile":"y2"
            },
            groups: [
            ['Players','Percentile']
            ]
        },
        bar: {
            width: {
                ratio: 0.8
            }
        },
        axis: {
            x: {
                label: "MMR"
            },
            y: {
                label: "# Players"
            },
            y2: {
                show:true,
                label: "Percentile"
            }
        },
        tooltip: {
            format: {
                value: function(value, ratio, id, ind) {
                    if (id==="Percentile"){
                        return value.toFixed(2);
                    }
                    return value;
                }
            }
        }
    };
    c3.generate(options);
    var game_mode = !{JSON.stringify(game_mode)};
    var lobby_type = !{JSON.stringify(lobby_type)};
    c3.generate({
        bindto: "#game_mode",
        data: {
            columns: game_mode.rows.map(function(r){
                return [r.display_name, r.count];
            }),
            type: 'pie'
        },
        color: {
            pattern: ['#1f77b4', '#aec7e8', '#ff7f0e', '#ffbb78', '#2ca02c', '#98df8a', '#d62728', '#ff9896', '#9467bd', '#c5b0d5', '#8c564b', '#c49c94', '#e377c2', '#f7b6d2', '#7f7f7f', '#c7c7c7', '#bcbd22', '#dbdb8d', '#17becf', '#9edae5']
        }
    });
    c3.generate({
        bindto: "#lobby_type",
        data: {
            columns: lobby_type.rows.map(function(r){
                return [r.display_name, r.count];
            }),
            type: 'pie'
        }
    });