extend layout

block content
  .row
    .col-md-12
      h3 Solo MMR Distribution 
        small (#{mmr ? mmr.sum.count : 0} players)
        br
        small Includes players displaying MMR on profile and sharing public match data (Sign-in not required)
      #mmr
  .row
    .col-md-12
      h3 Average MMR by Country
      table.table.table-striped.table-condensed
        tr
          th #
          th Country
          th Players
          th MMR
        if country_mmr
          each row, i in country_mmr.rows
            tr
              td=i+1
              td
                span.flag-icon(class="flag-icon-"+row.loccountrycode.toLowerCase())            
                =row.common
              td=row.count
              td=row.avg

append footer_assets
  script.
    var mmr = !{JSON.stringify(mmr ? mmr.rows : [])};
    var count = !{mmr ? mmr.sum.count : 0};
    var counts = mmr.map(function(d){return d.count;});
    var names = mmr.map(function(d){return d.bin_name});
    var pcts = mmr.map(function(d){return d.cumulative_sum/count*100;});
    var max = Math.max.apply(null, counts);
    var counts2 = [];
    var options = {
        bindto: "#mmr",
        size: {height: 500},
        data: {
            x: 'MMR',
            columns: [
            ['MMR'].concat(names),
            ['Players'].concat(counts),
            ['Percentile'].concat(pcts)
            ],
            type: "bar",
            types: {
            "Percentile": "spline"
            },
            axes: {
            "Players":"y",
            "Percentile":"y2"
            },
            groups: [
            ['Players','Percentile']
            ]
        },
        bar: {
            width: {
                ratio: 0.8
            }
        },
        axis: {
            x: {
                label: "MMR"
            },
            y: {
                label: "# Players"
            },
            y2: {
                show:true,
                label: "Percentile"
            }
        },
        tooltip: {
            format: {
                value: function(value, ratio, id, ind) {
                    if (id==="Percentile"){
                        return value.toFixed(2);
                    }
                    return value;
                }
            }
        }
    };
    c3.generate(options);