footer.footer
  .container
    .row
      .col-md-4.text-center
        p Buy some cheese. Help pay for servers.
        p Reaching the goal every month keeps us running.
      .col-md-4.text-center
        .meter_wrapper
          h3(style="font-weight:700; margin-top: 0;") Monthly Cheese Goal
          - var percent = Number(cheese || 0) / config.GOAL * 100;
          - percent = percent > 100 ? 100 : percent;
          .meter
            span(style="width: #{percent}%;min-width:7.1%;") #{percent.toFixed(0)}%
          small
            - var today = moment()
            - var difference = (today.date() / today.endOf("month").date()) * 100 - percent
            | $#{cheese || 0}/$#{config.GOAL}
            if difference > 0
              |  - Behind #{difference.toFixed(2)}%. 
            if percent >= 50 && percent < 100
              |  - Getting there... 
            else if percent === 100
              |  - Woo!!! Thanks guys! No more ads!
            |  - Resets #{moment().endOf("month").fromNow()}.
      .col-md-4.text-center
        span.flaticon-1.medium-cheese(style="padding: 5px 11px;")
        a(href="/carry", target="_blank")
          button.btn.btn-warning(style="margin-bottom:2em; margin-left: 2em;") Help Us Out
    .row
      .col-md-12.text-center
        small.
          An <a href='https://github.com/yasp-dota/yasp'>open source</a> volunteer project
          &bull; <a href='//blog.yasp.co'>Privacy/Terms</a>
          &bull; Follow on <a href='https://twitter.com/yasp_dota'><i class="fa fa-twitter"></i></a>
          &bull; <a href='https://discord.gg/0o5SQGbXuWCNDcaF' target="_blank">Discord</a>
          &bull; Dota 2 API powered by <a href='http://store.steampowered.com/'><i class="fa fa-steam-square"></i></a>
          &bull; Parsing by <a href='https://github.com/skadistats/clarity'>clarity</a>
          &bull; <a href="//blog.yasp.co">Blog</a>
          &bull; <a href="/status">Status</a>
          &bull; Wallpaper by <a href="http://css101.deviantart.com/">css101</a>
          &bull; Cheese icon by <a href="http://www.belcu.com">Belc</a> on <a href="http://www.flaticon.com">flaticon</a>

    //- light theme selector
      .row.text-center
        if (user)
          .checkbox
            label
              input.pref#theme(type="checkbox", checked=user.light_theme)
              | Use Light Theme
          script.
            $(".pref").change(function() {
                $.post(
                    "/preferences", {
                        light_theme: $("#theme").is(":checked"),
                    },
                    function(data) {
                        if (data.sync) {
                            location.reload(true);
                        }
                        else {
                            $(".page-header").after("<div role='alert' class='sync alert alert-warning'>Failed to update preferences. Try again later.</div>");
                        }
                        $(".sync").fadeOut(3000);
                    });
            });
