#top.header.alt.vert
  .container
    br
    br
    h1.home YASP
    p.lead YASP: Another Stats Page 
    div &nbsp;
    a.btn.btn-default.btn-lg(href='/login')
      img(src='http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_border.png')
      h4 Start parsing my matches
    div &nbsp;
    a.btn.btn-default.btn-lg(href="/request")
      h4 Parse a match by id
    
section.main
  a.arrow-wrap(href='#philosophy')
    span.arrow

paper-fab-menu.fab(icon='dashboard', closeicon='close', duration='0.3')
    paper-fab-menu-item(icon='expand-less', color='rgb(23, 190, 207);', tooltip='Scroll up!', link="#top")#up
    paper-fab-menu-item(icon='filter-list', color='rgb(255, 127, 14);', tooltip='TL;DR', link="#content")#tldr
    paper-fab-menu-item(icon='star', color='rgb(44, 160, 44);', tooltip='Features', link="#match_statistics")#features
    paper-fab-menu-item(icon='redeem', color='red;', tooltip='We need your help!', link="#cheeses")#cheese

#philosophy
  .right-img
      .container
        .row
          .col-md-7
            h1(style="color:#000000;") Our Mission
            p.lead Free Replay Parsing for All
          .col-md-5

#content.featurette
  .container
    .row
      .col-md-12.text-center.bottom-padding
        h1 Why We're Awesome  
    .row
      .col-md-4.text-center.team-text
        .featurette-item
          .icon-circle
            img.circle-margin(src='../public/images/tools2.png')
          h4 Open source.
          p All of YASP's code is open source and available on GitHub for contributors to improve and modify.     
      .col-md-4.text-center.team-text
        .featurette-item
          .icon-circle
            img.circle-margin(src='../public/images/barchart.png')
          h4 Go beyond the API.
          p YASP parses replays to provide statistics unavailable through the API or game client.
      .col-md-4.text-center.team-text
        .featurette-item
          .icon-circle
            img.circle-margin(src='../public/images/present.png')
          h4 Free of charge.
          p YASP is supported by volunteer developers and community contributions, making it completely free for users.

#match_statistics.callout
    .container.bottom-padding
      .col-md-12.text-center
        h1 Features
        h2 Detailed Game Play Breakdowns
      .row
        .col-md-8.col-md-offset-2.bottom-padding
            hr
      .row
        .col-md-12.text-center.bottom-padding
          h3 Purchases
          include match/timelines_purchases_table.jade
        .col-md-8.col-md-offset-2.text-center
          h3 View detailed skill/item usage and timelines of item purchases. Also see <a href="/matches/#{match.match_id}/timelines" target="_blank">timelines of kills</a>,
            | <a href="/matches/#{match.match_id}/details" target="_blank">gold and xp breakdowns</a>,
            | <a href="/matches/#{match.match_id}/teamfights" target="_blank">teamfight recaps</a> and more.
.featurette.dark
  .container
    .vert
        .col-md-12.text-center
          h2 Graphs
        .col-md-8.col-md-offset-2.bottom-padding
          hr
        .col-md-12.text-center.bottom-padding
            h3 Gold
            #chart-gold
        .col-md-8.col-md-offset-2.text-center.bottom-padding
          h3 See <a href="/matches/#{match.match_id}/graphs" target="_blank">charts</a> of how gold, XP, last hits, and income changed over the game.
#positions.blurb.bright
  .container
    .col-md-12.text-center
      h2 Positions
    .col-md-8.col-md-offset-2.bottom-padding
      hr(style="border-top: 1px solid #777;")
    include match/positions_map
    .col-md-8.col-md-offset-2.text-center
      br
      h3 See how players laned and where they warded.

#cheeses.featurette.dark
  .container
    .vert
      .col-md-12.text-center.bottom-padding
        h2 And more to come!
        h3 We are constantly developing and improving YASP. <br>
           | <a href="https://github.com/yasp-dota/yasp/issues" target="_blank"> Request a feature</a> or <a href="https://github.com/yasp-dota/yasp/pulls" target="_blank">build it yourself!</a>
        br
        hr
        br
        h2 The generous Dota 2 <br> community
        h1 keeps us running
        br
        hr
        h2(style="margin-bottom:25px;") Found us helpful?
        include cheese_block

append footer_assets
  script.
    var graphData = !{JSON.stringify(match.graphData)};
    generateCharts(graphData);
  script.
    var heatmap = h337.create({
        container: document.getElementById('map'),
        radius: 15
      });
      var posData = !{JSON.stringify(match.posData)}
      adjustHeatmapData(posData, 600/127, null, 25);
      $(".activate").on("mouseover", function(){
        var pData = posData[Number($(this).attr('data-index'))]
        var data = pData[$(this).attr('data-type')];
        heatmap.setData(data);
        heatmap.repaint();
      })