doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
      include ./header.jade
      .container
        .page-header
          h1(style='font-weight: 700;') YASP 
            small Yet Another Stats Page
        h3 Recent Matches
        #row
          #col-md-2
          #col-mid-8
            table.table
              tr
                td Match ID
                td Duration
                td Game Mode
                td Winner
                td Played
              - each match in matches
                tr(class= match.radiant_win ? "success" : "danger")
                  td: a(href='/matches/#{match.match_id}')= match.match_id
                  td= gameModes[match.game_mode]
                  td= moment().startOf('day').seconds(match.duration).format("H:mm:ss")
                  if match.radiant_win
                    td Radiant
                  else
                    td Dire
                  td= moment.unix(match.start_time + match.duration).fromNow()
      include ./footer.jade