extend base_layout

block sticky_content
  body.frame(style="margin-top:70px;")
    include navbar
    .sticky_footer_row
    .sticky_footer_row.expand
      .container
          if banner_msg
           .alert.alert-success.text-center(role="alert") !{banner_msg}
          if api_down
           .alert.alert-warning.text-center(role="alert") !{constants.api_msg}
          if user && user.track===0
             .alert.alert-warning(role="alert") !{constants.untracked_msg}
          if login_req_msg
           .alert.alert-warning(role="alert") Please log in to access the #{login_req_msg} page
          if !error
           include ads/leaderboard
          - var clientConstants = {"game_mode": constants.game_mode,"lobby_type": constants.lobby_type,"heroes": constants.heroes,"parse_status": constants.parse_status};
          script.
            var constants = !{JSON.stringify(clientConstants)};
          block content
    .sticky_footer_row
      include footer
