extend match_base

append head
  style.
    h3 img {
      padding-right: 1em;
    }
    
    .abilities img {
       height: 35px;
    }
    
append content
  .row
    .col-md-12
      if match.parsed_data
        h2 Details
        table.table.table-hover.table-responsive
          tr
            th Player
            th Hero
            th Couriers/Flying
            th TP Scrolls
            th Observers
            th Sentries
            th Smokes
            th Dusts
            th Gems
            th Buybacks
            th Gold Lost
            th Skill Use
            th Item Use
          - each player, i in match.players
             tr(class = player.player_slot<64 ? "success" : "danger")
               td
                 if (player.account_id == constants.anonymous_account_id)
                   ="Anonymous"
                 else
                   a(href='/players/#{player.account_id}')= player.personaname || player.account_id
               - var hero = constants.heroes[player.hero_id]
               td.hero
                 if hero
                   img(src=hero.img, alt=hero.localized_name)
                 else
                   =player.hero_id
               - var parsedPlayer = match.parsed_data.players[i]
               td #{parsedPlayer.itembuys.courier || "-"}/#{parsedPlayer.itembuys.flying_courier || "-"}
               td #{parsedPlayer.itembuys.tpscroll || "-"}
               td #{parsedPlayer.itembuys.ward_observer*2 || "-"}
               td #{parsedPlayer.itembuys.ward_sentry*2 || "-"}
               td #{parsedPlayer.itembuys.smoke_of_deceit || "-"}
               td #{parsedPlayer.itembuys.dust*2 || "-"}
               td #{parsedPlayer.itembuys.gem || "-"}
               td #{parsedPlayer.buybacks.buyback || "-"}
               td #{parsedPlayer.gold_log.loss || "-"}
               td=parsedPlayer.abilityuses
               td=parsedPlayer.itemuses                 
      else
        h1 This match has no parsed data!