extend match

block match_content
  .row
    .col-md-12
        h2 Details
        .table-responsive
          table.table.table-hover.summable
            each player, i in match.players
              if !(i%10)
                thead
                  tr
                    th Hero
                    th: abbr(title="Lane based on early game position") LANE
                    th: abbr(title="Percentage of standard lane gold obtained") EFF
                    th: abbr(title="Town Portal Scrolls bought") TP
                    th: abbr(title="Observer Wards bought") OBS
                    th: abbr(title="Sentry Wards bought") SEN
                    th: abbr(title="Smokes of Deceit bought") SMK
                    th: abbr(title="Dusts of Appearance bought") DST
                    th: abbr(title="Gems of True Sight bought") GEM
                    th: abbr(title="Number of Buybacks") BB
                    th: abbr(title="Seconds of disable on enemy heroes") STUN
                    th: abbr(title="Neutral creeps killed") NK
                    th: abbr(title="Towers killed") TK
                    th: abbr(title="Couriers killed") CK
                    //th: abbr(title="Number of times the player clicked") CLICK
                    each val, key in constants.runes
                      th=val.name

              tbody
                tr(class = player.isRadiant ? "success" : "danger")
                  - var hero = constants.heroes[player.hero_id]
                  - var p = player.parsedPlayer
                  td.hero
                   if hero
                     img(src=hero.img, title=hero.localized_name)
                   else
                     =player.hero_id
                  td #{constants.lane_ids[p.lane] || "-"} (#{p.lane_role})
                  td #{(p.lane_efficiency*100).toFixed(2)}
                  td #{p.purchase.tpscroll || "-"}
                  td #{p.purchase.ward_observer*2 || "-"}
                  td #{p.purchase.ward_sentry*2 || "-"}
                  td #{p.purchase.smoke_of_deceit || "-"}
                  td #{p.purchase.dust*2 || "-"}
                  td #{p.purchase.gem || "-"}
                  td #{p.buyback_log.length || "-"}
                  td #{p.stuns.toFixed(2)}
                  td #{p.neutral_kills || "-"}
                  td #{p.tower_kills || "-"}
                  td #{p.courier_kills || "-"}
                  //td #{p.clicks[0] || "-"}
                  each val, key in constants.runes
                    td #{p.runes[key] || "-"}
                  
        hr    
        h2 Performance
        .table-responsive
          table.table.table-hover
            each player, i in match.players
              if !(i%10)
                thead
                  tr
                    th Hero
                    th: abbr(title="Largest instance of damage on a hero") Biggest Hit
                    th: abbr(title="Skills used (Number of hits on enemy heroes)") Skill Use (Hero Hits)
                    th: abbr(title="Items used") Item Use
                    th: abbr(title="Damage dealt (Number of kills)") Damage (Kills)
              tbody
                tr(class = player.isRadiant ? "success" : "danger")
                  - var hero = constants.heroes[player.hero_id]
                  - var p = player.parsedPlayer
                  td.hero
                   if hero
                     img(src=hero.img, title=hero.localized_name)
                   else
                     =player.hero_id
                  td.table-img
                    - var ability = constants.abilities[p.max_hero_hit.inflictor]
                    - var item = constants.items[p.max_hero_hit.inflictor]
                    - var hero = constants.hero_names[p.max_hero_hit.key]
                    div.img-text
                      if ability
                        span: img.ability(src=ability.img, alt=p.max_hero_hit.inflictor)
                      else if item
                        span: img.item(src=item.img, alt=p.max_hero_hit.inflictor)
                      else
                        span: img.ability(src="/public/images/default_attack.png" ,title="Auto Attack")
                      div (#{p.max_hero_hit.value})                      
                    if hero
                      span: img.kill(src=hero.img, title=hero.localized_name)
                    else
                      =p.max_hero_hit.key
                    
                  td.table-img
                    each ability in p.ability_uses_arr
                      div.img-text
                        img.ability(src=ability.img, alt=ability.name)
                        div #{ability.val}
                        div (#{ability.hero_hits || 0})
                  td.table-img
                    each item in p.item_uses_arr
                      div.img-text
                        img.item(src=item.img, alt=item.name)
                        div #{item.val}
                  td.table-img
                    each dmg in p.damage_arr
                      div.img-text
                        img.dmg(src=dmg.img, title=dmg.localized_name)
                        div.format #{dmg.val}
                        div (#{dmg.kills || 0})
                        
        hr
        include ads/leaderboard_2
        hr
        .row
          .col-md-8.table-responsive
            h2 Gold
            table.table.table-hover.summable
              thead
                tr
                  th Hero
                  each val, key in constants.gold_reasons
                    th: abbr(title=val.tooltip)=val.name

              tbody
                each player, i in match.players
                  tr(class = player.isRadiant ? "success" : "danger")
                    - var hero = constants.heroes[player.hero_id]
                    - var p = player.parsedPlayer
                    td.hero
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id
                      each val, key in constants.gold_reasons
                        td #{p.gold_reasons[key] || "-"}
          .col-md-4.table-responsive
            h2 XP
            table.table.table-hover.summable
              thead
                tr
                  th Hero
                  each val, key in constants.xp_reasons
                    th=val
              tbody
                each player, i in match.players
                  tr(class = player.isRadiant ? "success" : "danger")
                    - var hero = constants.heroes[player.hero_id]
                    - var p = player.parsedPlayer
                    td.hero
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id
                      each val, key in constants.xp_reasons
                        td #{p.xp_reasons[key] || "-"}