extend layout
block content
  include ads/leaderboard
  .row.match-top
    .col-md-6
      h1 Match #{match.match_id}
    .col-md-6
      table.table.table-condensed
        thead
          tr(class = match.radiant_win ? "success" : "danger")
            th Result
            th Duration
            th Game Mode
            th Played
            th Status
        tbody
          tr(class = match.radiant_win ? "success" : "danger")
            td= match.radiant_win ? "Radiant Victory" : "Dire Victory"
            td= moment().startOf('day').seconds(match.duration).format("H:mm:ss")
            td= constants.modes[match.game_mode] ? constants.modes[match.game_mode].name : match.game_mode
            td= moment.unix(match.start_time + match.duration).fromNow()
            td= constants.parse_status[match.parse_status]
  if match.parsed_data
    .row(style="padding-bottom:1em;")
      .col-md-12
        ul.nav.nav-tabs
          each val, key in tabs
            li(class= (route == key ? 'active' : ''))
                a(href="/matches/#{match.match_id}/" + (key == 'index' ? "" : key))= val.name
