extend match

append content
  .row
    .col-md-12
      if match.parsed_data
        h2 Details
        table.table.table-hover.table-responsive.summable
          tr
            th Hero
            th 
              abbr(title="Town Portal Scrolls bought") TP
            th 
              abbr(title="Observer Wards bought") OBS
            th
              abbr(title="Sentry Wards bought") SEN
            th
              abbr(title="Smokes of Deceit bought") SMK
            th
              abbr(title="Dusts of Appearance bought") DST
            th
              abbr(title="Gems of True Sight bought") GEM
            th
              abbr(title="Number of Buybacks") BB
            th
              abbr(title="Seconds of disable on enemy heroes") STUN
            th 
              abbr(title="Skills used (Number of hits on enemy heroes)") Skills (Hero Hits)
            th
              abbr(title="Items used") Items
            th: abbr(title="Damage dealt (Number of kills)") Damage (Kills)
          each player, i in match.players
             tr(class = player.player_slot<64 ? "success" : "danger")
               - var hero = constants.heroes[player.hero_id]
               - var parsedHero = match.parsed_data.heroes[hero.name]
               - var parsedPlayer = match.parsed_data.players[i]
               td.hero
                if hero
                  img(src=hero.img, title=hero.localized_name)
                else
                  =player.hero_id
               td #{parsedHero.itembuys.tpscroll || "-"}
               td #{parsedHero.itembuys.ward_observer*2 || "-"}
               td #{parsedHero.itembuys.ward_sentry*2 || "-"}
               td #{parsedHero.itembuys.smoke_of_deceit || "-"}
               td #{parsedHero.itembuys.dust*2 || "-"}
               td #{parsedHero.itembuys.gem || "-"}
               td #{parsedPlayer.buybacks.length || "-"}
               td #{parsedPlayer.stuns.toFixed(2)}
               td
                 each val, key in parsedHero.abilityuses
                   - var ability = constants.abilities[key]
                   if ability
                     div.img-text
                       img.ability(src=ability.img, alt=key)
                       div #{val}
                       div (#{parsedHero.hero_hits[key] || 0})
                   else
                     =key
               td.table-img
                 each val, key in parsedHero.itemuses
                   - var item = constants.items[key]
                   if item
                     div.img-text
                       img.item(src=item.img, alt=key)
                       div #{val}
                   else
                     =key
               td.table-img
                 each val, key in parsedHero.damage
                   - var hero = constants.hero_names[key]
                   if hero
                     div.img-text
                       img.dmg(src=hero.img, title=hero.localized_name)
                       div.format #{val}
                       div (#{parsedHero.kills[key] || 0})
                   else
                     //=key                     
        include ads/leaderboard_2
        .row
          .col-md-8
            h2 Gold
            table.table.table-hover.table-responsive.summable
              tr
                th Hero
                each val, key in constants.gold_reasons
                  th=val
              each player, i in match.players
                tr(class = player.player_slot<64 ? "success" : "danger")
                  - var hero = constants.heroes[player.hero_id]
                  td.hero
                    if hero
                      img(src=hero.img, title=hero.localized_name)
                    else
                      =player.hero_id
                    - var parsedHero = match.parsed_data.heroes[hero.name]
                    each val, key in constants.gold_reasons
                      td #{parsedHero.gold_log[key] || "-"}
          .col-md-4
            h2 XP
            table.table.table-hover.table-responsive.summable
              tr
                th Hero
                each val, key in constants.xp_reasons
                  th=val
              each player, i in match.players
                tr(class = player.player_slot<64 ? "success" : "danger")
                  - var hero = constants.heroes[player.hero_id]
                  td.hero
                    if hero
                      img(src=hero.img, title=hero.localized_name)
                    else
                      =player.hero_id
                    - var parsedHero = match.parsed_data.heroes[hero.name]
                    each val, key in constants.xp_reasons
                      td #{parsedHero.xp_log[key] || "-"}
        include ads/leaderboard_3
        .row
          .col-md-12
            h2 Purchases
            table.table.table-hover.table-responsive
              tr
                th Hero
                - var bucket = 300
                - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                  th= i/60+"'"
              each player, ind in match.players
                - var hero = constants.heroes[player.hero_id]
                - var parsedPlayer = match.parsed_data.heroes[hero.name]
                tr(class = player.player_slot<64 ? "success" : "danger")
                  td.hero
                    if hero
                      img(src=hero.img, title=hero.localized_name)
                    else
                      =player.hero_id              
                  - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                    td
                      each entry in parsedPlayer.timeline
                        if entry.time < i && entry.time >= i-bucket
                          - var item = constants.items[entry.key]                 
                          if item
                            div.img-text
                              img.item(src=item.img, alt=entry.key)
                              div.format-seconds=entry.time
                          else
                            =key
        if match.parsed_data.version >= 2
          .row
            .col-md-12
              h2 Hero Kills
              table.table.table-hover.table-responsive
                tr
                  th Hero
                  - var bucket = 300
                  - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                    th= i/60+"'"
                each player, ind in match.players
                  - var hero = constants.heroes[player.hero_id]
                  - var parsedPlayer = match.parsed_data.heroes[hero.name]
                  tr(class = player.player_slot<64 ? "success" : "danger")
                    td.hero
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id              
                    - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                      td
                        each entry in parsedPlayer.herokills
                          if entry.time < i && entry.time >= i-bucket
                            - var hero = constants.hero_names[entry.key]
                            if hero
                              div.img-text
                                img.dmg(src=hero.img, title=hero.localized_name)
                                div.format-seconds=entry.time
                            else
                              =key
      else
        h1 This match has no parsed data!

append footer_assets
