extend match_base

append content
  .row
    .col-md-12
      if match.parsed_data
        h2 Details
        table.table.table-hover.table-responsive.summable
          tr
            th Hero
            th CR
            th FLY
            th TP
            th OBS
            th SEN
            th SMK
            th DST
            th GEM
            th BB
            th Stuns
            th Skills
            th Item Use
            th Kills
          each player, i in match.players
             tr(class = player.player_slot<64 ? "success" : "danger")
               - var hero = constants.heroes[player.hero_id]
               td.hero
                 if hero
                   img(src=hero.img, title=hero.localized_name)
                 else
                   =player.hero_id
               - var parsedPlayer = match.parsed_data.players[i]
               td #{parsedPlayer.itembuys.courier || "-"}
               td #{parsedPlayer.itembuys.flying_courier || "-"}
               td #{parsedPlayer.itembuys.tpscroll || "-"}
               td #{parsedPlayer.itembuys.ward_observer*2 || "-"}
               td #{parsedPlayer.itembuys.ward_sentry*2 || "-"}
               td #{parsedPlayer.itembuys.smoke_of_deceit || "-"}
               td #{parsedPlayer.itembuys.dust*2 || "-"}
               td #{parsedPlayer.itembuys.gem || "-"}
               td #{parsedPlayer.buybacks.buyback || "-"}
               td.format #{parsedPlayer.stuns || "-"}
               td.table-img
                 each val, key in parsedPlayer.abilityuses
                   - var ability = constants.abilities[key]
                   if ability
                     div.img-text
                       img.ability(src=ability.img, title=ability.dname)
                       if constants.skillshots[key]
                         div #{parsedPlayer.hero_hits[key] || 0}/#{val}
                       else
                         div #{val}
                   else
                     //=key
               td.table-img
                 each val, key in parsedPlayer.itemuses
                   - var item = constants.items[key]                   
                   if item
                     div.img-text
                       img.item(src=item.img, title=item.dname)
                       div=val
                   else
                     =key
               td.table-img
                 each val, key in parsedPlayer.kills
                   - var kill = constants.hero_names[key]
                   if kill
                     div.img-text
                       img.kill(src=kill.img, title=kill.dname)
                       div=val
                   else
                     //=key
        .row
          .col-md-8
            h2 Gold
            table.table.table-hover.table-responsive.summable
              tr
                th Hero
                each val, key in constants.gold_reasons
                  th=val
              each player, i in match.players
                tr(class = player.player_slot<64 ? "success" : "danger")
                  - var hero = constants.heroes[player.hero_id]
                  td.hero
                    if hero
                      img(src=hero.img, title=hero.localized_name)
                    else
                      =player.hero_id
                    - var parsedPlayer = match.parsed_data.players[i]
                    each val, key in constants.gold_reasons
                      td #{parsedPlayer.gold_log[key] || "-"}
          .col-md-4
            h2 XP
            table.table.table-hover.table-responsive.summable
              tr
                th Hero
                each val, key in constants.xp_reasons
                  th=val
              each player, i in match.players
                tr(class = player.player_slot<64 ? "success" : "danger")
                  - var hero = constants.heroes[player.hero_id]
                  td.hero
                    if hero
                      img(src=hero.img, title=hero.localized_name)
                    else
                      =player.hero_id
                    - var parsedPlayer = match.parsed_data.players[i]
                    each val, key in constants.xp_reasons
                      td #{parsedPlayer.xp_log[key] || "-"}
      else
        h1 This match has no parsed data!