extend layout
block content

 script.
  var lh = !{JSON.stringify(match.lastHits)}
  var denies = !{JSON.stringify(match.denies)}
  var gold = !{JSON.stringify(match.gold)}
  var xp = !{JSON.stringify(match.xp)}
  var levels = !{JSON.stringify(match.levels)}
  var time = !{JSON.stringify(match.time)}
  var names = !{JSON.stringify(match.playerNames)}
 
 style.
  * {font-family: 'Roboto', sans-serif;}
  .items img {width: 35px;}
  
 .container
        h1 Match #{match.match_id}
        .row
          .col-md-6
          .col-md-6
            table.table.table-condensed
              tr
                td Duration
                td Game Mode
              tr
                td= moment().startOf('day').seconds(match.duration).format("H:mm:ss")
                td= constants.gameModes[match.game_mode]
        .row
          .col-md-12
            h1(class = match.radiant_win ? "success" : "danger").text-center= match.radiant_win ? "Radiant Victory" : "Dire Victory"
            table.table.table-hover.table-responsive.text-center
                  tr
                    td Player
                    td Hero
                    td K
                    td D
                    td A
                    td LH
                    td DN
                    td Gold
                    td GPM
                    td XPM
                    td HD
                    td TD
                    td HH
                    td Items
                  - each player, i in match.players
                   tr(class = i < 5 ? "success" : "danger")
                     td= match.playerNames ? match.playerNames[i] : player.account_id
                     - var hero = constants.heroes[player.hero_id]
                     td: img(src='http://cdn.dota2.com/apps/dota2/images/heroes/' + hero.name.replace('npc_dota_hero_', "") + "_sb.png", alt=hero.localized_name )
                     td= player.kills
                     td= player.deaths
                     td= player.assists
                     td= player.last_hits
                     td= player.denies
                     td= player.gold
                     td= player.gold_per_min
                     td= player.xp_per_min
                     td= player.hero_damage
                     td= player.tower_damage
                     td= player.hero_healing
                     td.items.text-left
                       each val, index in player
                         - if (index.slice(0, 5)==="item_")
                           - var item = constants.items[val]
                           if item
                             img(src='http://cdn.dota2.com/apps/dota2/images/items/' + item.img, alt=item.dname)
                         - if (index === "additional_units")
                           hr(style='margin:10px;')
                           each val, index in player.additional_units[0]
                             - var item = constants.items[val]
                             if item
                               img(src='http://cdn.dota2.com/apps/dota2/images/items/' + item.img, alt=item.dname)
                           
        .row
          h1.text-center Gold Earned
            p: button.btn#gold Toggle
          #chart-gold
          h1.text-center Experience
            p: button.btn#exp Toggle
          #chart-xp
          h1.text-center Levels
          #chart-levels
          h1.text-center Last Hits
          #chart-lh
          h1.text-center Denies
          #chart-denies
          script(type='text/javascript', src='../public/js/chart.js')
         