extend match

block match_content
  .row
    .col-md-12
          .row
            .col-md-7
              h2 Map
              #map.mapContainer
                img.map(src='/public/images/map.jpg', alt="map")
            .col-md-5
              h2 Positions
              table.table.table-hover.table-responsive
                tr
                  th Hero
                  th: abbr(title="Lane based on early game positions") Lane
                  th Observer
                  th Sentry
                each player, ind in match.players
                  - var hero = constants.heroes[player.hero_id]
                  tr(class = player.isRadiant ? "success" : "danger")
                    td.hero
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id              
                    td.activate(data-index=ind, data-type=0)=constants.lane_ids[player.lane]
                    td.activate(data-index=ind, data-type=1)=player.obs.length
                    td.activate(data-index=ind, data-type=2)=player.sen.length


append footer_assets
  script.
    var heatmap = h337.create({
        container: document.getElementById('map'),
        radius: 18
      });
      var pos_data = !{JSON.stringify(match.players.map(function(p){return p.pos || []}))}
      var obs_data = !{JSON.stringify(match.players.map(function(p){return p.obs || []}))}
      var sen_data = !{JSON.stringify(match.players.map(function(p){return p.sen || []}))}
      
      pos_data = scaleAndExtrema(pos_data, 10);
      obs_data = scaleAndExtrema(obs_data, 1);
      sen_data = scaleAndExtrema(sen_data, 1);
      
      function scaleAndExtrema(data, clamp){
        return data.map(function(d){
          var vals = d.map(function(p){p.x=p.x*(600/127);p.y=p.y*(600/127);return p.value;});
          var max = Math.max.apply(null, vals);
        return {
        min: 0,
        max:Math.min(max, clamp),
        data: d,
        }
        });      
      }
      
      var arr = [pos_data, obs_data, sen_data];
      
      $(".activate").on("mouseover", function(){
        var data = arr[Number($(this).attr('data-type'))][Number($(this).attr('data-index'))];
        console.log(data);
        heatmap.setData(data);
        heatmap.repaint();
      })
