extend match

block match_content
  .row
    .col-md-12
      h2 Teamfights
      //pre=JSON.stringify(match.parsed_data.teamfights)
      each entry in match.parsed_data.teamfights
        table.table.table-condensed
          tr 
            th Map
            th Start
            th Duration
            th Deaths
            th Radiant Gold Swing
            th Radiant XP Swing
          tr
            td
              #map.mapContainer
                img.map(src='//cdn.rawgit.com/kronusme/dota2-api/master/images/map/dota-map-6.82.jpg', alt="map")
                //place sprite icons
                each death in entry.deaths_log
                  //unit, x, y
                  i(class="d2mh "+death.unit style="position: absolute; top: "+(127-(death.y-64))/1.27+"%; left: "+(death.x-64)/1.27+"%;")
            td.format-seconds(data-format-seconds=entry.start)
            td.format-seconds(data-format-seconds=entry.end-entry.start)
            td=entry.deaths
            td=entry.radiant_gold_delta
            td=entry.radiant_xp_delta
        table.table
          tr
            th Hero
            th Ability Use
            th Item Use
            th Died
            th Bought Back
            th Damage
            th Gold Change
            th XP Change
            each player in entry.players
              //color and fade based on team and participation
              tr
                - var hero = constants.heroes[player.hero_id]
                td
                  if hero
                    img(src=hero.img, title=hero.localized_name)
                  else
                    =player.hero_id
                td
                  each val, key in player.ability_uses
                    - var ability = constants.abilities[key]
                    div.img-text
                      img.ability(src=ability.img, alt=key)
                      div #{val}
                td
                  each val, key in player.item_uses
                    - var item = constants.items[key]
                    div.img-text
                      img.item(src=item.img, alt=key)
                      div #{val}
                td=player.deaths
                td=player.buybacks
                td=player.damage
                td=player.gold_delta
                td=player.xp_delta

append footer_assets
//-
  script.
    var posData = !{JSON.stringify(match.tfPosData)};
    adjustHeatmapData(posData, 300/127, 1);
    //initialize heatmaps
    //load one at a time, data is nth element of posData array
    $(".mapContainer").each(function(i){
        console.log(i, posData[i], $(this)[0]);
        var heatmap = h337.create({
          container: $(this)[0],
          radius: 15,
        });
        heatmap.setData(posData[i].deaths_pos);
        heatmap.repaint();
    });
