extend match

block match_content
  .row
    .col-md-12
          .row
            .col-md-7
              h2 Map
              #map.mapContainer
                img.map(src='/public/images/map.jpg', alt="map")
            .col-md-5
              h2 Positions
              table.table.table-hover.table-responsive
                tr
                  th Hero
                  th: abbr(title="Lane based on early game positions") Lane
                  th Observer
                  th Sentry
                each player, ind in match.players
                  - var hero = constants.heroes[player.hero_id]
                  - var p = player.parsedPlayer
                  tr(class = player.isRadiant ? "success" : "danger")
                    td.hero
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id              
                    td.activate(data-index=ind, data-type="pos")=constants.lane_ids[p.lane]
                    td.activate(data-index=ind, data-type="obs")=match.posData[ind].obs.length
                    td.activate(data-index=ind, data-type="sen")=match.posData[ind].sen.length


append footer_assets
  script.
    var heatmap = h337.create({
        container: document.getElementById('map'),
        radius: 15
      });
      var posData = !{JSON.stringify(match.posData)}
      posData.forEach(function(d){
        d.pos = scaleAndExtrema(d.pos, 10);
        d.obs = scaleAndExtrema(d.obs, 1);
        d.sen = scaleAndExtrema(d.sen, 1);
      })
      
      function scaleAndExtrema(points, max){
        points.forEach(function(p){
          p.x=p.x*(600/127);
          p.y=p.y*(600/127);
          })
          /*
          var vals = d.map(function(p){return p.value;});
          var max = Math.max.apply(null, vals);
          */
          return {
          min: 0,
          max: max,
          data: points,
          };
      }
      
      $(".activate").on("mouseover", function(){
        var index = posData[Number($(this).attr('data-index'))]
        console.log(index);
        var data = index[$(this).attr('data-type')];
        console.log(data);
        heatmap.setData(data);
        heatmap.repaint();
      })
