extend layout

append head
    meta(property="og:title",  content="Match #{match.match_id}")
    | <!-- This page generated at #{moment(Date.now()).format('MMMM Do YYYY, h:mm:ss a')} -->
    
block content
  .row.match-top
    .col-md-6
      h1 Match #{match.match_id}
    .col-md-6
      table.table.table-condensed
        thead
          tr
            td Game Mode
            td Region
            td Duration
            td Result
            td Played
            td Status
        tbody
          tr(class = match.radiant_win ? "success" : "danger")
            td= constants.modes[match.game_mode] ? constants.modes[match.game_mode].name : match.game_mode
            td= constants.regions[match.cluster] ? constants.regions[match.cluster] : match.cluster
            td= moment().startOf('day').seconds(match.duration).format("H:mm:ss")
            td= match.radiant_win ? "Radiant Victory" : "Dire Victory"
            td= moment.unix(match.start_time + match.duration).fromNow()
            td= constants.parse_status[match.parse_status]
  if match.parsed_data
    .row
      .col-md-10
        ul.nav.nav-tabs
          each val, key in tabs
            li(class= (route == key ? 'active' : ''))
                a(href="/matches/#{match.match_id}/" + (key == 'index' ? "" : key))= val.name
      .col-md-2
        .addthis_sharing_toolbox.pull-right
  else
    .row
      .addthis_sharing_toolbox.pull-right
  script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5452f1e51eac0fc5" async="async")
