extend match_base
     
append content
  .row
    .col-md-12
      if match.parsed_data
        table.table.table-hover.table-responsive
          tr
            th Hero
            - var bucket = 300
            - for (var i = 0; i <= match.duration + bucket; i+=bucket)
              th= i/60+"'"
          each player, ind in match.players
            - var hero = constants.heroes[player.hero_id]
            - var parsedPlayer = match.parsed_data.heroes[hero.name]
            tr(class = player.player_slot<64 ? "success" : "danger")
              td.hero
                if hero
                  img(src=hero.img, title=hero.localized_name)
                else
                  =player.hero_id              
              - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                td
                  each entry in parsedPlayer.timeline
                    if entry.type=="itembuys" && entry.time < i && entry.time >= i-bucket
                      - var item = constants.items[entry.key]                 
                      if item
                        div.img-text
                          img.item(src=item.img, alt=entry.key)
                          div.format-seconds=entry.time
                      else
                        =key
      else
        h1 This match has no parsed data!