extend match_base

append content
  .row
    .col-md-12
      if match.parsed_data
        h2 Details
        table.table.table-hover.table-responsive.summable
          tr
            th Hero
            th TP
            th OBS
            th SEN
            th SMK
            th DST
            th GEM
            th BB
            th Stuns
            th Skills
            th Items
            th Kills
          each player, i in match.players
             tr(class = player.player_slot<64 ? "success" : "danger")
               - var hero = constants.heroes[player.hero_id]
               td.hero
                 if hero
                   img(src=hero.img, title=hero.localized_name)
                 else
                   =player.hero_id
               - var parsedHero = match.parsed_data.heroes[hero.name]
               - var parsedPlayer = match.parsed_data.players[i]
               td #{parsedHero.itembuys.tpscroll || "-"}
               td #{parsedHero.itembuys.ward_observer*2 || "-"}
               td #{parsedHero.itembuys.ward_sentry*2 || "-"}
               td #{parsedHero.itembuys.smoke_of_deceit || "-"}
               td #{parsedHero.itembuys.dust*2 || "-"}
               td #{parsedHero.itembuys.gem || "-"}
               td #{parsedPlayer.buybacks.length || "-"}
               td #{parsedPlayer.stuns.toFixed(2)}
               td.table-img
                 each val, key in parsedHero.abilityuses
                   - var ability = constants.abilities[key]
                   if ability
                     div.img-text
                       img.ability(src=ability.img, alt=key)
                       if constants.skillshots[key]
                         div #{val}/#{parsedHero.hero_hits[key] || 0}
                       else
                         div #{val}
                   else
                     //=key
               td.table-img
                 each val, key in parsedHero.itemuses
                   - var item = constants.items[key]
                   if item
                     div.img-text
                       img.item(src=item.img, alt=key)
                       div #{val}
                   else
                     =key
               td.table-img
                 each val, key in parsedHero.kills
                   - var kill = constants.hero_names[key]
                   if kill
                     div.img-text
                       img.kill(src=kill.img, title=kill.dname)
                       div=val
                   else
                     //=key
        .row
          .col-md-8
            h2 Gold
            table.table.table-hover.table-responsive.summable
              tr
                th Hero
                each val, key in constants.gold_reasons
                  th=val
              each player, i in match.players
                tr(class = player.player_slot<64 ? "success" : "danger")
                  - var hero = constants.heroes[player.hero_id]
                  td.hero
                    if hero
                      img(src=hero.img, title=hero.localized_name)
                    else
                      =player.hero_id
                    - var parsedHero = match.parsed_data.heroes[hero.name]
                    each val, key in constants.gold_reasons
                      td #{parsedHero.gold_log[key] || "-"}
          .col-md-4
            h2 XP
            table.table.table-hover.table-responsive.summable
              tr
                th Hero
                each val, key in constants.xp_reasons
                  th=val
              each player, i in match.players
                tr(class = player.player_slot<64 ? "success" : "danger")
                  - var hero = constants.heroes[player.hero_id]
                  td.hero
                    if hero
                      img(src=hero.img, title=hero.localized_name)
                    else
                      =player.hero_id
                    - var parsedHero = match.parsed_data.heroes[hero.name]
                    each val, key in constants.xp_reasons
                      td #{parsedHero.xp_log[key] || "-"}
      else
        h1 This match has no parsed data!