extend layout
append head
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/async/0.9.0/async.js')
    script(type='text/javascript' src='../../public/js/utility.js')
    script.
      $( document ).ready(function() {
        $('.format').each(function(){
          $(this).text(format($(this).text()))
        })
        $('.format-seconds').each(function(){
          $(this).text(formatSeconds($(this).text()))
        })
        });
    style.
      h3 img {
        padding-right: 1em;
      }
      .table-img{
        white-space: nowrap;
        min-width: 200px;
      }
      .img-text{
        float: left;
        text-align: center;
        font-size: 10px;
      }
      .img-text.ability img{
         width: 35px
      }
      .img-text.item img{
         width: 30px;
      }
      .img-text.kill img{
        width: 35px;
      }
      td.abilities {
         padding: 8px 1px !important;
      }
      td.abilities img {
         height: 35px;
         width: 35px;
      }
      
block content
  h1 Match #{match.match_id}
  .row
    .col-md-6
    .col-md-6
      table.table.table-condensed
        tr(class = match.radiant_win ? "success" : "danger")
          td Result
          td Duration
          td Game Mode
          td Played
          td Status
        tr(class = match.radiant_win ? "success" : "danger")
          td= match.radiant_win ? "Radiant Victory" : "Dire Victory"
          td= moment().startOf('day').seconds(match.duration).format("H:mm:ss")
          td= constants.modes[match.game_mode] ? constants.modes[match.game_mode].name : match.game_mode
          td= moment.unix(match.start_time + match.duration).fromNow()
          td= constants.parse_status[match.parse_status]
  if match.parsed_data
    .row(style="padding-bottom:1em;")
      .col-md-12
        ul.nav.nav-tabs
          each val, key in tabs
            li(class= (route == key ? 'active' : ''))
                a(href="/matches/#{match.match_id}/" + (key == 'index' ? "" : key))= val.name
