extend layout

append head
    - var desc = (constants.modes[match.game_mode] ? constants.modes[match.game_mode].name : match.game_mode) + " - " + (constants.regions[match.cluster] ? constants.regions[match.cluster] : match.cluster) + " - " + (match.radiant_win ? "Radiant Victory " : "Dire Victory") + " - Length: " + moment().startOf('day').seconds(match.duration).format("H:mm:ss")
    meta(property="og:title", content="Match #{match.match_id}")
    meta(name="description", content="#{desc}")
    | <!-- This page generated at #{moment(Date.now()).format('MMMM Do YYYY, h:mm:ss a')} -->
    
block content
  .row.match-top
    .col-md-6
      h1 Match #{match.match_id}
    .col-md-6
      table.table.table-condensed
        thead
          tr
            td
              abbr(title=constants.tooltips.status) Status
            td Game Mode
            td Region
            td Duration
            td Result
            td Played
            td Patch
        tbody
          tr(class = match.radiant_win ? "success" : "danger")
            td= constants.parse_status[match.parse_status]
            td= constants.modes[match.game_mode] ? constants.modes[match.game_mode].name : match.game_mode
            td= constants.regions[match.cluster] ? constants.regions[match.cluster] : match.cluster
            td= moment().startOf('day').seconds(match.duration).format("H:mm:ss")
            td= match.radiant_win ? "Radiant Victory" : "Dire Victory"
            td.fromNow= match.start_time + match.duration
            td= constants.patches[match.patch] ? constants.patches[match.patch].id : match.patch
  .row
    .col-md-4.col-md-offset-4.text-center
      .meter_wrapper
        h2
          abbr(title="YASP's algorithmic analysis of data trends combined with advanced statistical aggregation calculates a 'throw' metric for each game.") 322 Level
        - var tl = (Number(match.match_id)*0.5) % 100;
        - var title = tl < 33 ? "Good job." : tl < 50 ? "Could have been cleaner." : tl < 80 ? "Almost threw." : "EG levels."
        - var color = tl < 33 ? "#BBF0FD" : tl < 50 ? "#43B01E" : tl < 80 ? "#DA6B43" : "#C02121"
        .meter.throw(title=title)
          span(style="width: #{tl}%; background-color: #{color}")
        small Learn more <a href="/post/throws">here.</a>
  .row
      .col-md-10
        ul.nav.nav-tabs
          each val, key in tabs
            li(class= (route === key ? 'active' : ''), style=(match.parse_status !==2 && key!=="index" ? 'display:none;' : ''))
                a(href="/matches/#{match.match_id}/" + (key == 'index' ? "" : key))= val.name
      .col-md-2
        .addthis_sharing_toolbox.pull-right
  block match_content
  if route !== "index"
    hr
    .row
      .col-md-12
        include ads/leaderboard_3
      
append footer_assets
  script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5452f1e51eac0fc5", async="async")