extend match

block match_content
  .row
    .col-md-12
      if match.parsed_data
          .row
            .col-md-7
              h2: abbr(title="Player movement during the game") Heatmap
              #map.mapContainer
                img.map(src='/public/images/map.jpg', alt="map")
            .col-md-5
              h2 Positions
              table.table.table-hover.table-responsive
                tr
                  th Hero
                  th: abbr(title="Lane based on early game location") Lane
                each player, ind in match.players
                  - var hero = constants.heroes[player.hero_id]
                  - var parsedPlayer = match.parsed_data.players[ind]
                  tr.mapHero(id=ind, class = player.player_slot<64 ? "success" : "danger")
                    td.hero
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id              
                    td=constants.lane_ids[parsedPlayer.lane]
      else
        h1 This match has no parsed data!

append footer_assets
  script(src="//cdn.rawgit.com/pa7/heatmap.js/v2.0/build/heatmap.min.js")
  script.
    var heatmap = h337.create({
        container: document.getElementById('map'),
          radius: 40
      });
      var data = !{JSON.stringify(match.parsed_data.players.map(function(pl){return pl.positions || []}))}
      $(".mapHero").on("mouseover", function(){
        heatmap.setData({data: data[Number($(this).attr('id'))].map(function(p){return {x:p[0]*(600/127),y:p[1]*(600/127)}})});
        heatmap.repaint();
      })
