extend match_base

append content
  .row
    .col-md-12
      if match.parsed_data
        h2 Details
        table.table.table-hover.table-responsive
          tr
            th Hero
            th CR
            th FLY
            th TP
            th OBS
            th SEN
            th SMK
            th DST
            th GEM
            th BB
            th LOSS
            th Skill Use
            th Item Use
            th Kills
          each player, i in match.players
             tr(class = player.player_slot<64 ? "success" : "danger")
               - var hero = constants.heroes[player.hero_id]
               td.hero
                 if hero
                   img(src=hero.img, title=hero.localized_name)
                 else
                   =player.hero_id
               - var parsedPlayer = match.parsed_data.players[i]
               td #{parsedPlayer.itembuys.courier || "-"}
               td #{parsedPlayer.itembuys.flying_courier || "-"}
               td #{parsedPlayer.itembuys.tpscroll || "-"}
               td #{parsedPlayer.itembuys.ward_observer*2 || "-"}
               td #{parsedPlayer.itembuys.ward_sentry*2 || "-"}
               td #{parsedPlayer.itembuys.smoke_of_deceit || "-"}
               td #{parsedPlayer.itembuys.dust*2 || "-"}
               td #{parsedPlayer.itembuys.gem || "-"}
               td #{parsedPlayer.buybacks.buyback || "-"}
               td #{parsedPlayer.gold_log.loss || "-"}
               td.table-img
                 each val, key in parsedPlayer.abilityuses
                   - var ability = constants.abilities[key]
                   if ability
                     div.img-text.ability
                       img(src=ability.img, title=ability.dname)
                       div=val
                   else
                     //=key

               td.table-img
                 each val, key in parsedPlayer.itemuses
                   - var item = constants.items[key]                   
                   if item
                     div.img-text.item
                       img(src=item.img, title=item.dname)
                       div=val
                   else
                     =key
               td.table-img
                 each val, key in parsedPlayer.kills
                   - var kill = constants.hero_names[key.replace("npc_dota_hero_", "")]                
                   if kill
                     div.img-text.kill
                       img(src=kill.img, title=kill.dname)
                       div=val
                   else
                     //=key
      else
        h1 This match has no parsed data!