extend layout

block content
  h1 Match #{match.match_id}
  .row
    .col-md-6
    .col-md-6
      table.table.table-condensed
        tr(class = match.radiant_win ? "success" : "danger")
          td Result
          td Duration
          td Game Mode
          td Status
        tr(class = match.radiant_win ? "success" : "danger")
          td= match.radiant_win ? "Radiant Victory" : "Dire Victory"
          td= moment().startOf('day').seconds(match.duration).format("H:mm:ss")
          td= constants.modes[match.game_mode] ? constants.modes[match.game_mode].name : match.game_mode
          td= constants.parse_status[match.parse_status]
  if match.parsed_data
    .row(style="padding-bottom:1em;")
      .col-md-12
        ul.nav.nav-tabs
          each name in ["Match", "Details", "Graphs", "Timelines", "Chat"]
            li(class= (name == route ? 'active' : ''))
                a(href="/matches/#{match.match_id}/" + (name === "Match" ? "" : name.toLowerCase()))= name