extend match

block match_content
  .row
    .col-md-12
          .row
            .col-md-7
              h2: abbr(title="Player movement during the game") Position Map
              #map.mapContainer
                img.map(src='/public/images/map.jpg', alt="map")
            .col-md-5
              h2 Positions
              table.table.table-hover.table-responsive
                tr
                  th Hero
                  th: abbr(title="Lane based on early game positions") Lane
                each player, ind in match.players
                  - var hero = constants.heroes[player.hero_id]
                  tr.mapHero(id=ind, class = player.isRadiant ? "success" : "danger")
                    td.hero
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id              
                    td=constants.lane_ids[player.lane]

append footer_assets
  script.
    var heatmap = h337.create({
        container: document.getElementById('map')
      });
      var pos_data = !{JSON.stringify(match.players.map(function(p){return p.pos || []}))}
      var pos_data = pos_data.map(function(d){
        var vals = d.map(function(p){p.x=p.x*(600/127);p.y=p.y*(600/127);return p.value;});
        var min = Math.min.apply(null, vals);
        var max = Math.max.apply(null, vals);
      return {
      min: min,
      max:max,
      points: d,
      }
      });

      console.log(pos_data);
      $(".mapHero").on("mouseover", function(){
        var data = pos_data[Number($(this).attr('id'))];
        heatmap.setData({min: data.min, max: data.max, data: data.points});
        heatmap.repaint();
      })
