extend blog

block blogcontent
  each post in posts
    div.post
      h3: a(href=post.url)= post.title
      div.post.content
        != post.preview
      div.tags
        each tag in post.tags
          a(href=tagUrl(tag))
            span.label.label-info #{tag}
  - var pageCount = getPageCount();
  if pageCount > 1
    ul.pagination
      - var i = 1;
      - while ( i <= pageCount )
        if page == i
          li(class='active')
            a(href=pageURL(i)) #{i}
        else
          li
            a(href=pageURL(i)) #{i}
        - i++;