extend layout
    
block content
  .row.match-top
    .col-md-1
      img(src='#{player.avatarmedium}').img-thumbnail
    .col-md-4
      h1= player.personaname || player.account_id
    .col-md-1
      if player.cheese
        i.flaticon-1.medium-cheese(style="display:inline-block")
        div.text-right x#{player.cheese}
    .col-md-6
      table.table.table-condensed
        thead
          tr
            th Record
            th Full History
            th Name Update
            th Last Visit
        tbody
          tr
            td #{player.aggData.win}-#{player.aggData.lose} <br> (#{player.aggData.games ? (player.aggData.win/player.aggData.games*100).toFixed(2) : "0.00"}%)
            td=(player.full_history_time ? moment(player.full_history_time).fromNow() : "never")
            td=(player.last_summaries_update ? moment(player.last_summaries_update).fromNow() : "never")
            td #{(player.last_visited ? moment(player.last_visited).fromNow() : "never")} <br> (#{(player.account_id in trackedPlayers) ? "tracked" : "untracked"})
  .row(style="margin-top:1em;")
    .col-md-12
      ul.nav.nav-tabs
        each val, key in tabs
          li(class= (route === key ? 'active' : ''))
              a(href="/players/#{player.account_id}/" + (key == 'index' ? "" : key))= val.name
        if player.profileurl
          li
            a(href=player.profileurl, target="_blank") Steam Profile
  block playercontent
  hr
  .row
    .col-md-12
      include ads/leaderboard_3
append footer_assets
  script.
    $("#hero_id").select2({
      maximumSelectionSize: 1
    });
    $("#with_account_id").select2({
     tags: !{JSON.stringify(player.teammates.map(function(t){return {id:t.account_id, text:t.personaname+"-"+t.account_id};}))},
     maximumSelectionSize: 10
    });
    $("#teammate_hero_id").select2({
      maximumSelectionSize: 5
    });
    $("#enemy_hero_id").select2({
      maximumSelectionSize: 5
    });
  //-
    $.fn.serializeObject = function() {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
    };
    
    $(function() {
        $('form').submit(function() {
            console.log(JSON.stringify($('form').serializeObject()));
            return false;
        });
    });
  include assets/datatables
