extend player
block playercontent
  h3 Teammates
  table.table#teammates
    thead
        tr
          th Name
          th Games
          th Wins
          th Losses
          th Winrate          
      each teammate in player.teammates
          tr
            td
              img(src=teammate.avatar)
              a(href='/players/#{teammate.account_id}')=teammate.personaname || teammate.account_id
            td=teammate.games
            td=teammate.win
            td=teammate.lose
            td #{(100*teammate.win/teammate.games).toFixed(2)}%
