extend player

block playercontent
  if (user && user.account_id === player.account_id)
    .row
      .col-md-12
        table.table
          tr
            th Welcome!
            th Request
            th Preferences
            th MMR Tracker
          tr
            td
              .alert.alert-info
                | Just joined?  We probably don't have your old matches yet.
                br
                | Play a game and come back, or request a match by ID.
            td
              include request
            td
              .checkbox
                label
                  input.pref#dark(type="checkbox", checked=user.dark_theme)
                  | Use Dark Theme
              .checkbox
                label
                  input.pref#publicmmr(type="checkbox", checked=user.publicmmr)
                  | Make MMR public
            td
              if (user.account_id in ratingPlayers)
                button.btn.btn-default(disabled) MMR Tracked
              else
                a.btn.btn-success(href="http://steamcommunity.com/profiles/"+ (bots[0] ? bots[0].steamID : "")) Add MMR Tracker &raquo;
  .row
    .col-md-8
      h3 Recent Matches
      table.table
        thead
          tr
           th Match ID
           th Hero
           th Result
           th Game Mode
           th Duration
           th Played
           th: abbr(title=constants.tooltips.status) Status
        each match in player.matches.slice(0,10)
          tr(class= match.player_win ? "success" : "danger")
            td: a(href='/matches/#{match.match_id}')= match.match_id
            - var hero = constants.heroes[match.players[0].hero_id]
            td.hero 
              if hero
                img(src=hero.img, title=hero.localized_name)
              else
                =match.players[0].hero_id
            td= match.player_win ? "Won" : "Lost"
            td= constants.modes[match.game_mode] ? constants.modes[match.game_mode].name : match.game_mode
            td= moment().startOf('day').seconds(match.duration).format("H:mm:ss")
            td= moment.unix(match.start_time + match.duration).fromNow()
            td=constants.parse_status[match.parse_status]
    .col-md-4
        h3 Top Heroes
        table.table
          thead
            tr
              th Hero
              th Games
              th Winrate
          each h in player.heroes_arr.slice(0,10)
            - var hero = constants.heroes[h.hero_id]
            tr
              td.hero
                img(src=hero.img, title=hero.localized_name)
              td= h.games
              td #{(100*h.win/h.games).toFixed(2) || 0.00}%
  hr
  .row
    include ads/leaderboard_2
  hr
  .row
    .col-md-12
      h3 Rating (#{player.publicmmr ? "public" : "private"})
      h4#solo Solo: 
      h4#party Party:
      #ratings

append footer_assets
  script.
    $(".pref").change(function() {
        $.post(
            "/preferences", {
                dark_theme: $("#dark").is(":checked"),
                publicmmr: $("#publicmmr").is(":checked")
            },
            function(data) {
                if (data.sync) {
                    location.reload(true);
                }
                else {
                    $(".page-header").after("<div role='alert' class='sync alert alert-warning'>Failed to update preferences. Try again later.</div>");
                }
                $(".sync").fadeOut(3000);
            });
    });
      var ratings = !{JSON.stringify((player.publicmmr || (user && user.account_id === player.account_id)) ? player.ratings : [])};
      $("#solo").append(ratings[0] ?  ratings[0].soloCompetitiveRank : "N/A");
      $("#party").append(ratings[0] ?  ratings[0].competitiveRank : "N/A");
      var times = ratings.map(function(r){return new Date(r.time);});
      var solo = ratings.map(function(r){return r.soloCompetitiveRank;});
      var party = ratings.map(function(r){return r.competitiveRank;});
      c3.generate({
      bindto: "#ratings",
      data: {
          x: 'x',
          columns: [
          ['x'].concat(times),
          ['Solo'].concat(solo),
          ['Party'].concat(party)
          ],
          type:"line"
      },
      axis: {
          x: {
              type: 'timeseries',
              label: 'Date',
              tick: {
                  format: '%Y-%m-%d',
                  count: 10
              }
          },
          y: {
              label: 'Rating'
          }
      }
      });