extend layout
block content
     .container
        .page-header
           h1(style='font-weight: 700;')=player.display_name
             small=player.account_id
           h3 Recent Matches
           h3 Teammates
             table.table
               each count in counts
                 tr
                   td=count.id
                   td=count.win
                   td=count.lose
