extend layout

append head
  script.
    var data = !{JSON.stringify(data)}
    
block content
     .row
       if player.avatarmedium
         .col-xs-3.col-sm-2.col-md-1(style="margin-top:2em;")
           img(src='#{player.avatarmedium}').img-thumbnail
       .col-xs-4.col-sm-3.col-md-2
         h1(style='font-weight: 700;')=player.personaname || player.account_id
         p.lead (#{player.win || 0 }-#{player.lose || 0})
     .row
       .col-md-12
         ul.nav.nav-tabs
           each val, key in tabs
             li(class= (route == key ? 'active' : ''))
                 a(href="/players/#{player.account_id}/" + (key == 'index' ? "" : key))= val.name
     block playercontent 

