extend player

block playercontent
  .row        
    .col-md-4
      h3 Teammates
      table.table#teammates
        thead
          tr
            th Name
            th Games
            th Winrate          
        each teammate in player.teammates
          if (teammate.account_id !== constants.anonymous_account_id && teammate.account_id !== player.account_id && teammate.games > 2) 
            tr
              td
                img.user(src=teammate.avatar)
                a(href='/players/#{teammate.account_id}')=teammate.personaname || teammate.account_id
              td= teammate.games
              td #{(100*teammate.win/teammate.games).toFixed(2)}%
    .col-md-8
      h3 Heroes
      table.table#heroes
        thead
          tr
            th Hero
            th Hero Name
            th As
            th As Winrate
            th With
            th With Winrate
            th Against
            th Against Winrate
        each hero in constants.heroes
          tr
            td.hero
              img(src=hero.img, title=hero.localized_name)
            td=hero.localized_name
            - var h = player.heroes[hero.id]
            td #{h ? h.games : 0}
            td #{h ? (100*h.win/h.games).toFixed(2) : (0).toFixed(2)}%
            td #{h ? h.with_games : 0}
            td #{h ? (100*h.with_win/h.with_games).toFixed(2) : (0).toFixed(2)}%
            td #{h ? h.against_games : 0}
            td #{h ? (100*h.against_win/h.against_games).toFixed(2) : (0).toFixed(2)}%

append footer_assets
  script.
    playerTables();