extend layout
block content
     .row
       if player.avatarmedium
         .col-xs-3.col-sm-2.col-md-1(style="margin-top:2em;")
           img(src='#{player.avatarmedium}').img-thumbnail
       .col-xs-4.col-sm-3.col-md-2
         h1(style='font-weight: 700;')=player.personaname || player.account_id
         p.lead (#{player.win || 0 }-#{player.lose || 0})
     .row       
       .col-md-8
         h3 Matches
         table.table
            tr
              th Match ID
              th Hero
              th Result
              th Game Mode
              th Duration
              th Played
              th Status
            - each match in matches
              tr(class= match.player_win ? "success" : "danger")
                td: a(href='/matches/#{match.match_id}')= match.match_id
                - var hero = constants.heroes[match.player_hero]
                td.hero: img(src=hero.img, alt=hero.localized_name)
                td= match.player_win ? "Won" : "Lost"                
                td= constants.modes[match.game_mode] ? constants.modes[match.game_mode].name : match.game_mode
                td= moment().startOf('day').seconds(match.duration).format("H:mm:ss")
                td= moment.unix(match.start_time + match.duration).fromNow()
                td= constants.parse_status[match.parse_status]
       .col-md-4
         h3 Teammates
         table.table
           tr
             th Name
             th Wins
             th Losses
           each teammate in player.teammates
             if (teammate.account_id != constants.anonymous_account_id)
               tr
                 td
                   a(href='/players/#{teammate.account_id}')=teammate.personaname || teammate.account_id
                 td=teammate.win
                 td=teammate.lose
         h3 Heroes
         table.table
           tr
             th Hero
             th Wins
             th Losses
           each hero in player.heroes
             tr
               - var herodata = constants.heroes[hero.hero_id]
               td.hero: img(src=herodata.img, alt=herodata.localized_name)
               td=hero.win
               td=hero.lose