extend layout
    
block content
  .row.match-top
    .col-md-1
      img(src='#{player.avatarmedium}').img-thumbnail
    .col-md-4
      h1= player.personaname || player.account_id
    .col-md-1
      if player.cheese
        i.flaticon-1.medium-cheese(style="display:inline-block")
        div.text-right x#{player.cheese}
    .col-md-6
      table.table.table-condensed
        thead
          tr
            th Record
            th Full History
            th Name Update
            th Last Visit
        tbody
          tr
            td <span style="color:#00FF00;">#{player.aggData.win}</span>-<span style="color:#FF0000;">#{player.aggData.lose}</span> <br> (#{player.aggData.games ? (player.aggData.win/player.aggData.games*100).toFixed(2) : "0.00"}%)
            td=(player.full_history_time ? moment(player.full_history_time).fromNow() : "never")
            td=(player.last_summaries_update ? moment(player.last_summaries_update).fromNow() : "never")
            td #{(player.last_visited ? moment(player.last_visited).fromNow() : "never")} <br> (#{(player.account_id in trackedPlayers) ? "tracked" : "untracked"})
  .row(style="margin-top:1em;")
    .col-md-12
      ul.nav.nav-tabs
        each val, key in tabs
          li(class= (route === key ? 'active' : ''))
              a(href="/players/#{player.account_id}/" + (key == 'index' ? "" : key))= val.name
        if player.profileurl
          li
            a(href=player.profileurl, target="_blank") Steam Profile
  block playercontent
  hr
  .row
    .col-md-12
      include ads/leaderboard_3
