extend player

block playercontent
  h3 Matches
  table.table#matches
    thead
      tr
       th Match ID
       th Hero
       th Hero Name
       th Result
       th Game Mode
       th Duration
       th Played
       th K
       th D
       th A
       th LH
       th DN
       th GPM
       th XPM
       th HD
       th TD
       th HH
    each match in player.matches
      tr(class= match.player_win ? "success" : "danger")
        td: a(href='/matches/#{match.match_id}')= match.match_id
        - var hero = constants.heroes[match.players[match.slot].hero_id]
        td.hero 
          if hero
            img(src=hero.img, title=hero.localized_name)
          else
            =match.players[match.slot].hero_id
        td= hero ? hero.localized_name : hero.id
        td= match.player_win ? "Won" : "Lost"
        td= constants.modes[match.game_mode] ? constants.modes[match.game_mode].name : match.game_mode
        td= moment().startOf('day').seconds(match.duration).format("H:mm:ss")
        td= moment.unix(match.start_time + match.duration).fromNow()
        td=match.players[match.slot].kills
        td=match.players[match.slot].deaths
        td=match.players[match.slot].assists
        td=match.players[match.slot].last_hits
        td=match.players[match.slot].denies
        td=match.players[match.slot].gold_per_min
        td=match.players[match.slot].xp_per_min
        td=match.players[match.slot].hero_damage
        td=match.players[match.slot].tower_damage
        td=match.players[match.slot].hero_healing
block footer_assets
  include assets/datatables
  script.
     $('#matches').dataTable({
        "order": [
            [0, "desc"]
        ],
        "columnDefs": [{
            "targets": [1],
            "orderData": [2]
        }, {
            "targets": [2],
            visible: false
        }]
      });