extend blog
block blogcontent
  div.post
    h1: a(href=post.url)= post.title
    div.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
    div.author by #{post.author}
    div.post.content
      != post.content
    div.tags
      each tag in post.tags
        a(href=tagUrl(tag))
          span.label.label-info #{tag}