extend blog
block blogcontent
	.panel.panel-default.blog-panel
		.panel-heading
			h1.panel-title.blog-heading: a(href=post.url)=post.title
			h6.blog-date By #{post.author} | #{moment(post.date).format("dddd, MMMM Do, YYYY")}

		.panel-body.blog-preview
			!= post.content
			hr
			.tags
				each tag in post.tags
					a(href=tagUrl(tag))
						span.label.label-info #{tag}
block taglegend
	.well.sidebar-nav
		p.lead Tags
		ul.nav.nav-list
			- each tag in getTags()
				li
					a(href=tagURL(tag)) 
						span.panel.tag-list #{tag}
