extend layout
include /mixins/match_table

block content
  h1 Professional
  h3 Matches
  table.table.table-condensed#matches.table-striped
    thead
      tr
        th ID
        th Radiant
        th Dire
        th.seconds Duration
        th.fromNow Ended
        th Status

    tbody
      each match in matches
        tr 
          td: a(href="/matches/"+match.match_id)=match.match_id
          td=match.radiant_name
          td=match.dire_name
          td=match.duration
          td=match.start_time+match.duration
          td=constants.parse_status[match.parse_status] || match.parse_status

append footer_assets
  script.
    playerMatches();