h3.inline-header Filter
button.btn.btn-xs.btn-dark.toggle-button(data-toggle="collapse" data-target="#filter_collapse", aria-expanded="false" style='font-size:1rem') Toggle Options
#filter_collapse.collapse
  form#query(action="" method="GET")
    if process.env.NODE_ENV==="development"
      pre=JSON.stringify(q)
    //pre=JSON.stringify(all_teammate_list)
    .row
      .col-md-4
        h4 Synergies
        .form-group
          select.form-control(name="included_account_id", multiple, data-placeholder="Played with: Name or SteamID")#included_account_id
            each entry in teammate_ids
              option(value=entry.account_id, selected=q.included_account_id && q.included_account_id.indexOf(entry.account_id)!==-1)=entry.personaname
        .form-group
          select.form-control(name="with_hero_id" multiple, data-placeholder="Allied heroes: Any")#with_hero_id
            each entry in constants.alpha_heroes
              option(value=entry.id, selected=q.with_hero_id && q.with_hero_id.indexOf(entry.id)!==-1)=entry.localized_name
        .form-group
          select.form-control(name="against_hero_id" multiple, data-placeholder="Enemy heroes: Any")#enemy_hero_id
            each entry in constants.alpha_heroes
              option(value=entry.id, selected=q.against_hero_id && q.against_hero_id.indexOf(entry.id)!==-1)=entry.localized_name

      .col-md-4
        h4 Personal Parameters
        .form-group
          select.form-control(name="hero_id")#hero_id
            option(value) Any Hero
            each entry in constants.alpha_heroes
              option(value=entry.id, selected=(q["hero_id"] && q["hero_id"][0]===entry.id))=entry.localized_name
        .form-group
          select.form-control(name="isRadiant")#game-side
            option(value) Any Faction
            option(value="1", selected=(q["isRadiant"] && q["isRadiant"][0]===1)) Radiant
            option(value="0", selected=(q["isRadiant"] && q["isRadiant"][0]===0)) Dire
        .form-group
          select.form-control(name="win")#game-result
            option(value) Any Result
            option(value="1", selected=(q["win"] && q["win"][0]===1)) Wins
            option(value="0", selected=(q["win"] && q["win"][0]===0)) Losses
        .form-group
          select.form-control(name="lane_role")#game-role
            option(value) Any Lane
            each val, key in constants.lane_role
              option(value=key, selected=(q["lane_role"] && q["lane_role"][0]===Number(key)))=val

      .col-md-4
        h4 Match Parameters
        .form-group
          select.form-control(name="patch")#game-patch
            option(value) Any Patch
            each entry, i in constants.patch
              option(value=i, selected=(q["patch"] && q["patch"][0]===i))=entry.name
        .form-group
          select.form-control(name="game_mode")#game-mode
            option(value) Any Game Mode
            each entry in constants.game_mode
              option(value=entry.id, selected=(q.game_mode && q.game_mode[0]===entry.id))=entry.name
        .form-group
          select.form-control(name="lobby_type")#lobby-type
            option(value) Any Lobby Type
            each entry in constants.lobby_type
              option(value=entry.id, selected=(q.lobby_type && q.lobby_type[0]===entry.id))=entry.name

    if compare
      .row
        .col-md-12
          .form-group
            abbr(title="Select a teammate or enter an account ID")
              label Compare With
            select.form-control(name="compare_account_id", multiple)#compare_account_id
              each entry in teammate_ids
                option(value=entry.account_id, selected=q.compare_account_id && q.compare_account_id.indexOf(entry.account_id)!==-1)=entry.personaname

    .row
      .col-md-12.text-center
        button.btn.btn-yasp(type="submit") Do the Thing

script.
    $("#included_account_id").selectize({
        create: true,
        maxItems: 10
    });
    $("#with_hero_id").selectize({
        maxItems: 5
    });
    $("#enemy_hero_id").selectize({
        maxItems: 5
    });
    $("#compare_account_id").selectize({
        create: true,
        maxItems: 5
    });
    $("#hero_id").selectize({
        create: true,
        sortField: 'text'
    });
    $("#game-side").selectize();
    $("#game-result").selectize();
    $("#game-role").selectize();
    $("#game-patch").selectize();
    $("#game-mode").selectize();
    $("#lobby-type").selectize();
