
h3.inline-header Filter
button.btn.btn-xs.btn-dark.toggle-button(data-toggle="collapse" data-target="#filter_collapse", aria-expanded="false") Toggle Options
#filter_collapse.collapse
  form#query(action="" method="GET")
    //pre=JSON.stringify(q)
    .row
      //-
        .col-md-4(style="display:none;")
          h4 Global Parameters
          .form-group
            label All Matches with Player (Account ID)
            input.form-control(name="players.account_id", placeholder="Any Player", value=q["players.account_id"], readonly)
          .form-group
            label All Matches with Hero
            select.form-control(name="players.hero_id")
              option(value="all") Any Hero
              each entry in constants.alpha_heroes
                option(value=entry.id, selected=(Number(q["players.hero_id"])===entry.id), readonly)=entry.localized_name
      .col-md-4
        h4 Synergies
        .form-group
          label The Players Included (Account ID)
          input.form-control(type="hidden", name="with_account_id", multiple, placeholder="Included: Any Player", value=q.with_account_id )#with_account_id
        .form-group
          label The Team Included
          select.form-control(name="teammate_hero_id" multiple, placeholder="Team: Any Hero")#teammate_hero_id
            each entry in constants.alpha_heroes
              option(value=entry.id, selected=(q.teammate_hero_id && typeof q.teammate_hero_id==="object" ? q.teammate_hero_id.indexOf(entry.id)!==-1 : Number(q.teammate_hero_id)===entry.id))=entry.localized_name
        .form-group
          label The Enemies Included
          select.form-control(name="against_hero_id" multiple, placeholder="Enemy: Any Hero")#enemy_hero_id
            each entry in constants.alpha_heroes
              option(value=entry.id, selected=(q.against_hero_id && typeof q.against_hero_id==="object" ? q.against_hero_id.indexOf(entry.id)!==-1 : Number(q.against_hero_id)===entry.id))=entry.localized_name
      .col-md-4
        h4 Personal Parameters
        .form-group
          label Hero
          select.form-control(name="hero_id" placeholder="Played Any Hero")#hero_id
            option(value="all") Any Hero
            each entry in constants.alpha_heroes
              option(value=entry.id, selected=(Number(q.hero_id)===entry.id))=entry.localized_name
        .form-group  
          label Faction
          select.form-control(name="isRadiant")
            option(value="all") All Factions
            option(value="1", selected=(q["isRadiant"]==="1")) Radiant
            option(value="0", selected=(q["isRadiant"]==="0")) Dire
        .form-group  
          label Result
          select.form-control(name="win")
            option(value="all") All Results
            option(value="1", selected=(q["win"]==="1")) Wins
            option(value="0", selected=(q["win"]==="0")) Losses
      .col-md-4
        h4 Match Parameters
        .form-group
          label Patch
          select.form-control(name="patch")
            option(value="all") All Patches
            each entry, i in constants.patch
              option(value=i, selected=(Number(q.patch)===i))=entry.name
        .form-group
          label Game Mode
          select.form-control(name="game_mode")
            option(value="all") All Modes
            each entry in constants.game_mode
              option(value=entry.id, selected=(Number(q.game_mode)===entry.id))=entry.name
        .form-group
          label Lobby Type
          select.form-control(name="lobby_type")
            option(value="all") All Lobbies
            each entry in constants.lobby_type
              option(value=entry.id, selected=(Number(q.lobby_type)===entry.id))=entry.name
        .form-group
          label League
          select.form-control(name="leagueid")#leagueid
            option(value="all") All Leagues
            option(value="gtzero" selected=q["leagueid"]==="gtzero") All Pro Games
            each entry in constants.leagues
              option(value=entry.leagueid, selected=(Number(q.leagueid)===entry.leagueid))=entry.name
        .form-group
          label: abbr(title="Excludes match types different from 'normal Dota,' such as 1v1 Mid, Diretide, Greeviling, ARDM, Ability Draft, etc.") Significant
          select.form-control(name="significant")
            option(value="1",  selected=Boolean(Number(q.significant))) Significant Matches
            option(value="all", selected=!Boolean(Number(q.significant))) All Matches
    if compare
      .row
        .col-md-12
          .form-group
            label Compare
            input.form-control(type="hidden", name="compare", multiple, value=q.compare)#compare
    .row
      .col-md-12.text-center
        button.btn.btn-yasp(type="submit") Do the Thing

script.
  var teammate_list = !{teammate_list ? JSON.stringify(teammate_list.map(function(t) {return {id: t.account_id, text: t.personaname + " (" + t.account_id +")"};})) : "[]"};
  queryForm();
