h3(style="display:inline-block;margin-right:1em;") Filter
button.btn.btn-xs.btn-dark(data-toggle="collapse" data-target="#filter_collapse", style="display:inline;vertical-align: super;") Toggle Options
#filter_collapse.collapse.in
  form(action="" method="GET")
    //pre=JSON.stringify(q)
    //-
      h4 Global
      label All Matches with Player
      input.form-control(name="players.account_id", value=q["players.account_id"] || player.account_id, onchange="this.form.submit()" disabled)
      
      label All Matches with Hero
      select.form-control(name="players.hero_id" onchange="this.form.submit()" disabled)
        option(value="all") Any Hero
        each entry in constants.alpha_heroes
          option(value=entry.id, selected=(Number(q["players.hero_id"])===entry.id))=entry.localized_name
    
    .row
      .col-md-6
        .form-group
          label #{player.personaname || player.account_id} Played
          select.form-control(name="hero_id")
            option(value="all") Any Hero
            each entry in constants.alpha_heroes
              option(value=entry.id, selected=(Number(q.hero_id)===entry.id))=entry.localized_name
        .form-group
          label Also Included Player
          select.form-control(name="with_account_id", multiple)#with_account_id
            option(value="all") Any Player
            each tm in player.teammates
              option(value=tm.account_id, selected=(q.with_account_id && typeof q.with_account_id==="object" ? q.with_account_id.indexOf(tm.account_id.toString())!==-1 : Number(q.with_account_id)===tm.account_id)) #{tm.personaname} (#{tm.account_id})
        .form-group
          label My Team Included
          select.form-control(name="teammate_hero_id" multiple)#teammate_hero_id
            option(value="all") Any Hero
            each entry in constants.alpha_heroes
              option(value=entry.id, selected=(q.teammate_hero_id && typeof q.teammate_hero_id==="object" ? q.teammate_hero_id.indexOf(entry.id.toString())!==-1 : Number(q.teammate_hero_id)===entry.id))=entry.localized_name
            
        .form-group
          label My Enemies Included
          select.form-control(name="against_hero_id" multiple)#enemy_hero_id
            option(value="all") Any Hero
            each entry in constants.alpha_heroes
              option(value=entry.id, selected=(q.against_hero_id && typeof q.against_hero_id==="object" ? q.against_hero_id.indexOf(entry.id.toString())!==-1 : Number(q.against_hero_id)===entry.id))=entry.localized_name
      .col-md-6
        .form-group  
          label Result
          select.form-control(name="win")
            option(value="all",  selected=q.win==="all") All Results
            option(value="1", selected=q.win==="1") Wins
            option(value="0", selected=q.win==="0") Losses
        
        .form-group
          label Patch
          select.form-control(name="patch")
            option(value="all") All Patches
            each entry, i in constants.patches
              option(value=i, selected=(Number(q.patch)===i))=entry.id
      
        .form-group
          label Game Mode
          select.form-control(name="game_mode")
            option(value="all") All Modes
            each entry in constants.modes
              option(value=entry.id, selected=(Number(q.game_mode)===entry.id))=entry.name
        .form-group  
          label 
            abbr(title="Balanced Modes excludes match types different from 'normal Dota,' such as  1 v 1 Mid, Diretide, and Ability Draft") Match Type
          select.form-control(name="balanced")
            option(value="1",  selected=q.balanced==="1") Balanced Modes
            option(value="0", selected=q.balanced==="0") All Modes
    .row
      .col-md-12.text-center
        button.btn.btn-yasp(type="submit") Do the Thing