extend layout

block content
  .row
    .col-md-12
      h3 Rankings 
        small Data from ranked matches. MMR must be shared on profile in order to compute ranking.
      if !rankings
        //render grid with images of each hero
        //order alpha?
        //add text?
        each hero, key in constants.heroes
          //TODO fancy mouseover effect?
          a(href='/rankings/'+key): img.hero(src=hero.img, title=hero.localized_name)
      else
        - var hero = constants.heroes[hero_id]
        h4.text-center
          span #{hero.localized_name}
        h4.text-center
          img.hero(src=hero.img, title=hero.localized_name)
        table.table.table-striped.table-condensed.rankable#picks
          thead
            tr
              th #
              th Name
              th Rating
              th Score
          tbody
            each player, i in rankings || []
              tr
                td=i+1
                td
                  if player.loccountrycode && constants.countries[player.loccountrycode]
                    span: abbr(title=constants.countries[player.loccountrycode].name.common): span.flag-icon(style="margin-right:5px;" class="flag-icon-"+player.loccountrycode.toLowerCase())  
                  a(href="/players/"+player.account_id)=player.personaname || player.account_id
                td.rankable=player.solo_competitive_rank
                td.rankable=player.score
            
append footer_assets
  script.
    $('#rankings').dataTable({
      info: false,
      "paging": false,
      "searching": true,
      "order": [
          [1, "desc"]
      ],
      "drawCallback":function(){
          tooltips();
      },
      "columnDefs": [{
          targets: "fromNow",
          render: function(data, type) {
              if (type === "display") {
                  if (!Number(data)){
                      return "never";
                  }
                  return moment.unix(data).fromNow();
              }
              return data;
          }
      }]
    });