extend layout
  
block content
  .row
    .col-md-6.text-center.col-md-offset-3
      h1 Player Search
      form.form
        .input-group
          input(type="text", name="q", class="form-control", placeholder="Search by Player Name or Steam ID", value="#{ query ? query : ''}")
          span.input-group-btn
            button.btn.btn-default(type="submit")
              span.glyphicon.glyphicon-search(aria-hidden="true")
  if result && Array.isArray(result) && result.length > 0
    .row
      .col-md-12
        .grid
          // Remove repeats by keeping track of what we've printed.
          - var seen = {};
          each player in result
            if !(player.account_id in seen)
              figure.effect-sarah
                a(href="/players/#{player.account_id}")
                  img(src="#{player.avatarfull}")
                  figcaption
                    h2 #{player.personaname}
                    p ID: #{player.account_id}
              - seen[player.account_id] = 0;
    link(rel="stylesheet", type="text/css", href="/public/css/search.css")
  else if result
    h3.text-center Looks like we couldn't find anything!