extend layout

block content
  h1 Status
  .row
    .col-md-3
      h3 Counts
      table.table
        thead
          tr
            th Stat
            th Count
        tbody
          each val, key in result
            if typeof val === "number"
              tr
                td=key
                td(id=key)=val
    .col-md-3
      h3 Last Added
      table.table#last_added
        thead
          tr
            th Match ID
            th Ended
        tbody
          each match in result.last_added
            tr
              td: a(href="/matches/"+match.match_id)= match.match_id
              td=moment.unix(match.start_time + match.duration).fromNow()
    .col-md-3
      h3 Last Parsed
      table.table#last_parsed
        thead
          tr
            th Match ID
            th Ended
        tbody
          each match in result.last_parsed
            tr
              td: a(href="/matches/"+match.match_id)= match.match_id
              td=moment.unix(match.start_time + match.duration).fromNow()
    .col-md-3
      h3 Queue
      //pre=JSON.stringify(result.queue)
      table.table.table-condensed
        thead
          tr
            th Type
            each val, key in result.queue[Object.keys(result.queue)[0]] || {}
              th=key
        tbody
          each val, key in result.queue
            tr
              td=key
              each val2, key2 in val
                td(id=["queue",key, key2].join('_'))=val2

append footer_assets
  //-
    script(src="/socket.io/socket.io.js")
    script.
      var data = !{JSON.stringify(result)}
      statusHandler(data);
      var socket = io.connect();
      socket.on('status', statusHandler);
      function statusHandler(data){
      console.log(data);
      for (var prop in data) {
        if (prop==="queue"){
          for (var key in data[prop]){
              $("#queue_" + key).html(data[prop][key]);
          }
        }
        else if (typeof data[prop] === "object") {
            $("#" + prop + " tbody").empty();
            for (var i = 0; i < data[prop].length; i++) {
            var seqnum = "<td>" + data[prop][i].match_seq_num + "</td>";
            var match_id = "<td><a href='/matches/" + data[prop][i].match_id + "'>" + data[prop][i].match_id + "</a></td>";
            var time = "<td>"+ moment.unix(data[prop][i].start_time + data[prop][i].duration).fromNow() + "</td>";
                $("<tr>" + match_id + time + "</tr>").appendTo($("#" + prop + " tbody"));
            }
            formatHtml();
        }
        else {
            $("#" + prop).html(data[prop]);
        }
      }
      }