extend layout

block content
  h1 Status
  .row
    .col-md-4
      h3 Counts
      table.table
        thead
          tr
            th Stat
            th Count
        tbody
          each val, key in result
            if typeof val === "number"
              tr
                td=key
                td(id=key)=val
    .col-md-4
      h3 Last Added
      table.table#last_added
        thead
          tr
            th Match ID
            th Ended
        tbody
          each match in result.last_added
            tr
              td: a(href="/matches/"+match.match_id)= match.match_id
              td=moment.unix(match.start_time + match.duration).fromNow()
    .col-md-4
      h3 Last Parsed
      table.table#last_parsed
        thead
          tr
            th Match ID
            th Ended
        tbody
          each match in result.last_parsed
            tr
              td: a(href="/matches/"+match.match_id)= match.match_id
              td=moment.unix(match.start_time + match.duration).fromNow()
  .row
    .col-md-4
      h3 Queue
      //pre=JSON.stringify(result.queue)
      table.table.table-condensed
        thead
          tr
            th Type
            each val, key in result.queue[Object.keys(result.queue)[0]] || {}
              th=key
        tbody
          each val, key in result.queue
            tr
              td=key
              each val2, key2 in val
                td(id=["queue",key, key2].join('_'))=val2
    .col-md-4
      h3 Parsers
      table.table.table-condensed
        thead
          tr
            th Node
            th Count
        tbody
          - var group = "parser"
          - var total = 0;
          each entry in result.parser
            if true || entry.hostname.indexOf(group) === 0
              - total += entry.count
            else
              tr
                td=entry.hostname
                td=entry.count
          tr
            td
              a#collapse.panel-group(data-toggle="collapse", href="#group", aria-expanded="false" aria-controls="group") #{group}
            td= total
      .collapse#group
        table.table.table-condensed
          thead
            tr
              th Node
              th Count
          tbody
            each entry in result.parser
              tr
                if true || entry.hostname.indexOf(group) === 0
                  td=entry.hostname
                  td=entry.count
    .col-md-4
      h3 Retrievers
      table.table.table-condensed
        thead
          tr
            th Node
            th Count
        tbody
          each entry in result.retriever
            tr
              td=entry.hostname
              td=entry.count
  .row
    .col-md-12
      h3 Load Times (ms)
      #chart-histogram-load_times
      //pre=JSON.stringify(result.load_times)
      //pre #{(result.load_times.map(function(a){return Number(a);}).reduce(function(a, b) { return a + b; }, 0)/result.load_times.length).toFixed(2)}ms
      h3 Parse Delay (ms)
      #chart-histogram-parse_delay
      //pre=JSON.stringify(result.parse_delay)
      //pre #{(result.parse_delay.map(function(a){return Number(a);}).reduce(function(a, b) { return a + b; }, 0)/result.parse_delay.length).toFixed(2)}ms

append footer_assets
  script.
    createHistogram(!{JSON.stringify(result.load_times)}, null, "load_times");
    createHistogram(!{JSON.stringify(result.parse_delay)}, null, "parse_delay");
    
  //-
    script(src="/socket.io/socket.io.js")
    script.
      var data = !{JSON.stringify(result)}
      statusHandler(data);
      var socket = io.connect();
      socket.on('status', statusHandler);
      function statusHandler(data){
      console.log(data);
      for (var prop in data) {
        if (prop==="queue"){
          for (var key in data[prop]){
              $("#queue_" + key).html(data[prop][key]);
          }
        }
        else if (typeof data[prop] === "object") {
            $("#" + prop + " tbody").empty();
            for (var i = 0; i < data[prop].length; i++) {
            var seqnum = "<td>" + data[prop][i].match_seq_num + "</td>";
            var match_id = "<td><a href='/matches/" + data[prop][i].match_id + "'>" + data[prop][i].match_id + "</a></td>";
            var time = "<td>"+ moment.unix(data[prop][i].start_time + data[prop][i].duration).fromNow() + "</td>";
                $("<tr>" + match_id + time + "</tr>").appendTo($("#" + prop + " tbody"));
            }
            formatHtml();
        }
        else {
            $("#" + prop).html(data[prop]);
        }
      }
      }