#performance.table-responsive.collapse.in
  table.table.table-hover
    each player, i in match.players
      if !(i%10)
        thead
          tr
            th Hero
            th: abbr(title="Largest instance of damage on a hero") Biggest Hit
            th: abbr(title="Skills used (Number of hits on enemy heroes)") Skill Use (Hero Hits)
            th: abbr(title="Items used") Item Use
            th: abbr(title="Damage dealt to heroes by skills/abilities") Damage Inflictors
    
      if !truncate || truncate.indexOf(i) > -1
        tr(class = player.isRadiant ? "success" : "danger")
          - var hero = constants.heroes[player.hero_id]
          - var p = player.parsedPlayer
          td.hero
           if hero
             img(src=hero.img, title=hero.localized_name)
           else
             =player.hero_id
          td.table-img
            - var ability = constants.abilities[p.max_hero_hit.inflictor]
            - var item = constants.items[p.max_hero_hit.inflictor]
            - var hero = constants.hero_names[p.max_hero_hit.key]
            div.img-text
              if ability
                span: img.ability(src=ability.img, alt=p.max_hero_hit.inflictor)
              else if item
                span: img.item(src=item.img, alt=p.max_hero_hit.inflictor)
              else
                span: img.ability(src="/public/images/default_attack.png", title="Auto Attack/Other")
              div (#{p.max_hero_hit.value})                      
            if hero
              span: img.kill(src=hero.img, title=hero.localized_name)
            else
              =p.max_hero_hit.key
            
          td.table-img
            each ability in p.ability_uses_arr
              div.img-text
                img.ability(src=ability.img, alt=ability.name)
                div #{ability.val}
                div (#{ability.hero_hits || 0})
          td.table-img
            each item in p.item_uses_arr
              div.img-text
                img.item(src=item.img, alt=item.name)
                div #{item.val}
            td.table-img
              each val, key in p.damage_inflictor || {}
                if key.indexOf("item_")===0
                   - var key = key.substring(5)
                else if key === "undefined"
                   - var key = "Auto Attack/Other"
                - var ab = constants.abilities[key]
                - var item = constants.items[key]
                div.img-text
                  if ab
                    img.ability(src=ab.img, alt=key)
                  else if item
                    img.item(src=item.img, alt=key)
                  else
                    img.ability(src="/public/images/default_attack.png", title=key)
                  div.format #{val}