#performance.table-responsive.collapse.in
  table.table.table-hover.summable
    each player, i in match.players
      if !(i%10)
        thead
          tr
            th Hero
            th: abbr(title="Order in which the player picked") Pick
            //th Pick Time
            th: abbr(title="Lane based on early game position") Lane
            th: abbr(title="Role based on lane position") Role
            th: abbr(title="Percentage of lane gold (creeps+passive+starting) obtained at 10 minutes") EFF@10
            th: abbr(title="Last hits at 10 minutes") LH@10
            th: abbr(title="Seconds of disable on enemy heroes") Stuns
            th: abbr(title="Number of times the player pinged") Pings
            //th: abbr(title="Number of times the player clicked") Clicks

      if !truncate || truncate.indexOf(i) > -1
        tr(class = player.isRadiant ? "success" : "danger")
          - var p = player.parsedPlayer
          +hero_td(player)
          td #{p.pick_order} 
          //td <span class="format-seconds" data-format-seconds=#{p.pick_time}></span>
          td #{constants.lane_ids[p.lane] || "-"}
          td #{constants.lane_role[p.lane_role] || "-"}
          td #{(p.lane_efficiency*100).toFixed(2)}
          td #{p.lh[10] || "-"}
          td #{p.stuns.toFixed(2)}
          td #{p.pings[0] || "-"}
          //td #{p.clicks[0] || "-"}
        