extend match

block match_content
  .row
    .col-md-12
      +data_table({id:"actions",summable:true, heading: "Actions"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th Hero
              th: abbr(title="Number of actions the player performed per minute") APM
              th: abbr(title="Number of times the player pinged the map") Pings (Map)
              //th: abbr(title="Number of times the player clicked") Clicks
              each val, key in constants.order_types
                th= val.slice("DOTA_UNIT_ORDER_".length)
          tr(class = player.isRadiant ? "radiant" : "dire")
            - var p = player.parsedPlayer
            +hero_td(player)
            td #{~~(p.actions_sum/match.duration*60)}
            td #{p.pings[0] || "-"}
            //td #{p.clicks[0] || "-"}
            each val, key in constants.order_types
              td= p.actions[key]
