extend match
    
block match_content
  .row
    .col-md-12
      +data_table({id:"distribution", summable:true, heading:"Distribution"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              th: abbr(title=tooltips.farm_heroes) Heroes
              th: abbr(title=tooltips.farm_creeps) Creeps
              th: abbr(title=tooltips.farm_neutrals) Neutrals
              th: abbr(title=tooltips.farm_towers) Towers
              th: abbr(title=tooltips.farm_couriers) Couriers
          tr(class = player.isRadiant ? "radiant" : "dire")
            - var hero = constants.heroes[player.hero_id]
            +hero_td(player)
            td #{player.hero_kills || "-"}
            td #{player.lane_kills || "-"}
            td #{player.neutral_kills || "-"}
            td #{player.tower_kills || "-"}
            td #{player.courier_kills || "-"}
  .row
    .col-md-12
      +data_table({id:"last_hits", summable:true, heading:"Last Hits"})
        - var bucket = 300
        each player, ind in match.players
          +data_table_header(ind, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                th= i/60+"'"
          tr(class = player.isRadiant ? "radiant" : "dire")
            +hero_td(player)
            - for (var i = 0; i <= match.duration + bucket; i+=bucket)
              td #{player.lh_t ? player.lh_t[i/60] : "-"}
              
  +ad("banner2")
  
  .row
    .col-md-8
      +data_table({id:"gold", summable:true, heading:"Gold"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              each val, key in constants.gold_reasons
                th: abbr(title=val.tooltip)=val.name
          tr(class = player.isRadiant ? "radiant" : "dire")
            - var hero = constants.heroes[player.hero_id]
            - player.gold_reasons = player.gold_reasons || {}
            +hero_td(player)
            each val, key in constants.gold_reasons
              td #{player.gold_reasons[key] || "-"}

    .col-md-4
      +data_table({id:"xp", summable:true, heading:"XP"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              each val, key in constants.xp_reasons
                th=val
          tr(class = player.isRadiant ? "radiant" : "dire")
            - var hero = constants.heroes[player.hero_id]
            - player.xp_reasons = player.xp_reasons || {}
            +hero_td(player)
            each val, key in constants.xp_reasons
              td #{player.xp_reasons[key] || "-"}