extend match

block match_content
  .row
    .col-md-4
      +data_table({id:"observers", summable: true, heading:"Observers", rankable: true})
        each player, ind in match.players
          +data_table_header(ind, match)      
            tr
              th: abbr(title=tooltips.hero_id) Hero
              th: abbr(title=tooltips.purchase_ward_observer) Bought
              th: abbr(title=tooltips.used_ward_observer) Placed
              th: abbr(title=tooltips.farm_observers) Destroyed
          tr(class = player.isRadiant ? "radiant" : "dire", data-index=ind, data-type="obs").activate
            +hero_td(player)
            td.rankable.lane-position #{player.purchase_ward_observer || "-"}
            td.rankable.lane-position #{player.obs_log && player.obs_log.length ? player.obs_log.length : "-"}
            td.rankable.lane-position #{player.observer_kills || "-"}
    
    .col-md-4
      +data_table({id:"sentries", summable: true, heading:"Sentries", rankable: true})
        each player, ind in match.players
          +data_table_header(ind, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              th: abbr(title=tooltips.purchase_ward_sentry) Bought
              th: abbr(title=tooltips.used_ward_sentry) Placed
              th: abbr(title=tooltips.farm_sentries) Destroyed
          tr(class = player.isRadiant ? "radiant" : "dire", data-index=ind, data-type="sen").activate
            +hero_td(player)
            td.rankable.lane-position #{player.purchase_ward_sentry || "-"}
            td.rankable.lane-position #{player.sen_log && player.sen_log.length ? player.sen_log.length : "-"}
            td.rankable.lane-position #{player.sentry_kills || "-"}
        
    .col-md-4
      h3 Placement Map
      #map.table-responsive
        img.mapContainer(src=constants.map_url, alt="map")


append footer_assets
  script.
    $(document).ready(function() {
      window.resize.initResizableHeatmap($('#map'),
        !{JSON.stringify(match.posData)}, 'mouseenter', $('.activate'),
        function(elem, posData) {
          var pData = posData[Number(elem.attr('data-index'))]
          var data = pData[elem.attr('data-type')];
          return data;
      });
    });

