extend match

block match_content
    .row
      .col-md-12
        +data_table({id:"purchases",summable:true, heading: "Purchases"})
          each player, i in match.players
            +data_table_header(i, match)
              tr
                th: abbr(title=tooltips.hero_id) Hero
                th: abbr(title=tooltips.purchase_tpscroll) TPs
                th: abbr(title=tooltips.purchase_ward_observer) Observers
                th: abbr(title=tooltips.purchase_ward_sentry) Sentries
                th: abbr(title=tooltips.purchase_smoke_of_deceit) Smokes
                th: abbr(title=tooltips.purchase_dust) Dusts
                th: abbr(title=tooltips.purchase_gem) Gems
                th: abbr(title=tooltips.purchase_rapier) Rapiers
                th: abbr(title=tooltips.purchase_buyback) Buybacks
             tr(class = player.isRadiant ? "radiant" : "dire")
               - var hero = constants.heroes[player.hero_id]
               - var p = player.parsedPlayer
               +hero_td(player)
               - p.purchase = p.purchase || {}
               td #{p.purchase.tpscroll || "-"}
               td #{p.purchase.ward_observer || "-"}
               td #{p.purchase.ward_sentry || "-"}
               td #{p.purchase.smoke_of_deceit || "-"}
               td #{p.purchase.dust || "-"}
               td #{p.purchase.gem || "-"}
               td #{p.purchase.rapier || "-"}
               td #{p.buyback_log && p.buyback_log.length ? p.buyback_log.length : "-"}
    
    +ad("banner2")
    
    .row
      .col-md-12
        include timelines_purchases_table