extend match

block match_content

  - var parsed_data = match.parsed_data
  - var teamfights = parsed_data.teamfights || []

  .row
    .col-md-12
      h2 Teamfights 
        small  where 3+ heroes died

  .row
    .col-md-12
      h3 Participation
      table.table.table-condensed
        tr
          each player in match.players
            - var hero = constants.heroes[player.hero_id]
            td(class=(player.isRadiant?"success":"danger"))
              if hero
                img(src=hero.img, title=hero.localized_name)
              else
                =player.hero_id
              - var pct = (player.teamfights_participated*100/teamfights.length)
              .progress
                .progress-bar(class=pct >= 75 ? "progress-bar-success" : pct >=50 ? "progress-bar-warning" : "progress-bar-danger" style="width: #{pct}%") #{pct.toFixed(2)}%

  .row
    .col-md-5
      //pre=JSON.stringify(match.parsed_data.teamfights)
      h3
        abbr(title="Rows are colored by winner, determined by gold swing.") Fights
        small   Click a row to display
      table.table.table-condensed.table-hover#teamfights
        thead
          th #
          th Start
          th Length
          th Radiant (Deaths)
          th Dire (Deaths)
          th: abbr(title="Net gold advantage for Radiant") Gold Swing
          th: abbr(title="Net XP advantage for Radiant") XP Swing
          th
        tbody
          - var i = 0
          each entry, ind in teamfights
            - i = i + 1
            tr(target=ind, class=entry.radiant_gold_delta > 0 ? "success" : "danger")
              td=i
              td.format-seconds(data-format-seconds=entry.start)
              td.format-seconds(data-format-seconds=entry.end-entry.start)
              td #{entry.radiant_participation} (#{entry.radiant_deaths})
              td #{entry.dire_participation} (#{entry.dire_deaths})
              td=entry.radiant_gold_delta
              td=entry.radiant_xp_delta
              td
                i.fa

      h3.inline-header Death Map
      button.btn.btn-xs.btn-dark.toggle-button#show_all Show All Deaths
      #map.mapContainer.mapContainer-small
        img.map(src='//cdn.rawgit.com/kronusme/dota2-api/master/images/map/dota-map-6.82.jpg', alt="map")
        .icons
          each entry, ind in teamfights
            each death in entry.posData
              i(fight=ind, class="small-hero-icon d2mh hero-"+death.hero_id style="position: absolute; top: "+death.y/1.27+"%; left: "+death.x/1.27+"%;")

    .col-md-7
      h3 Details
      .table-responsive
        table.table.table-hover
          thead#header
            tr
              th Hero
              th(style="font-size:30px;"): abbr(title="Died") !{"&#128128;"}
              th(style="font-size:30px;"): abbr(title="Bought Back") !{"&#128176;"}
              th Level
              th Skills
              th Items
              th Kills
              th Damage
              th Gold Change
              th XP Change
            each entry, ind in teamfights
              tbody(id=ind)
                each player, num in entry.players
                  //color and fade based on team and participation
                  tr(class=player.participate ? (player.isRadiant ? "success" : "danger") : "")
                    - var hero = constants.heroes[player.hero_id]
                    td
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id
                    td
                      if player.deaths
                        div(style="font-size:30px;") !{"&#128128;"}
                    td
                      if player.buybacks
                       div(style="font-size:30px;") !{"&#128176;"}
                    td(style="white-space: nowrap;") #{player.level_start}<i class="fa fa-long-arrow-right"></i>#{player.level_end}
                    td
                      each val, key in player.ability_uses || {}
                        - var ability = constants.abilities[key]
                        div.img-text
                          if ability
                            img.ability(src=ability.img, title=key)
                          else
                            //=key
                          div #{val}
                    td
                      each val, key in player.item_uses || {}
                        - var item = constants.items[key]
                        div.img-text
                          if item
                            img.item(src=item.img, title=key)
                            div #{val}
                          else
                            =key
                    td
                      each val, key in player.kills || {}
                        - var hero = constants.hero_names[key]
                        div.img-text
                          if hero
                            img.dmg(src=hero.img, title=hero.localized_name)
                            div #{val}
                          else
                            //=key
                    //td=player.deaths
                    //td=player.buybacks
                    td=player.damage
                    td=player.gold_delta
                    td=player.xp_delta

  if parsed_data.version >= 10

    hr
    .row
      .col-md-12

        h2
          abbr(title="This table associates Kill Streaks (one row for each streak) with Multi Kills and the Teamfight analysis seen above (denoted under each kill in the streak).") Kill Streaks / Multi Kills

        .table-responsive
          table.table.table-hover(style="text-align:center; vertical-align:middle;")
            - var max_row_size = 9
  
            thead
              tr
                td Streak By
                td(colspan=max_row_size) Heroes Killed In Streak
  
            tbody
              - var player_num = 0
              each player in parsed_data.players
                - player_num = player_num + 1
                
                - var hero_id = player.hero_id
                - var hero = constants.heroes[hero_id]
  
                each streak in player.kill_streaks_log
  
                  - var num_rows = Math.ceil(streak.length / max_row_size)
                  - var kills_in_other_rows = Math.ceil(streak.length / num_rows)
                  - var kills_in_first_row = streak.length - (num_rows - 1) * kills_in_other_rows
  
                  - var first = true
                  - var kill_num = -1
                  - for (var row_num = 0; row_num < num_rows; row_num++)
                    tr
  
                      if first
                        td(class = (player_num <= 5 ? "success" : "danger"), rowspan=num_rows)
  
                          if hero
                            img(src=hero.img, title=hero.localized_name)
                          else
                            = hero_id
  
                          - var streak_size = streak.length > 10 ? 10 : streak.length
                          - var streak_name = constants.kill_streaks[streak_size]
                          - var article = streak_size === 6 ? "an " : "a "
                          - var popup = "These " + streak.length + " kills counted as " + article + streak_name + " streak."
                          div
                            abbr(title=popup) #{streak_name}
  
                          - var streak_duration = streak[streak.length - 1].time - streak[0].time
                          div
                            span=" Duration: "
                            span.format-seconds(data-format-seconds=streak_duration)
  
                          div(style="visibility: hidden;")="-"
  
                      - var num_kills_in_row = first ? kills_in_first_row : kills_in_other_rows
                      - for (var kill_num_in_row = 0; kill_num_in_row < num_kills_in_row; kill_num_in_row++)
                        td(class = (player_num <= 5 ? "danger" : "success"))
                          - kill_num = kill_num + 1
                          - var kill = streak[kill_num]
  
                          - var killed_id = kill.hero_id
                          - var killed = constants.heroes[killed_id]
                          if killed
                            img(src=killed.img, title=killed.localized_name)
                          else
                            = killed_id
  
                          div Kill #{kill_num + 1}
                            span=" ("
                            span.format-seconds(data-format-seconds=kill.time)
                            span )
  
                          - var multi_id = kill.multi_kill_id
                          - var multi_size = player.multi_kill_id_vals[multi_id]
                          if multi_size >= 2
                            - var multi_name = constants.multi_kills[multi_size]
                            - var article = multi_size === 4 ? "an " : "a "
                            - var popup = "These " + multi_size + " kills counted as " + article + multi_name + "."
                            div
                              abbr(title=popup) #{multi_name}
                          else
                            div(style="visibility: hidden;")="-"
  
                          - var tf_id = kill.team_fight_id
                          if tf_id
                            - var tf_name = "Teamfight " + tf_id
                            - var popup = "This kill occurred during " + tf_name + "."
                            div
                              abbr(title=popup) #{tf_name}
                          else
                            div(style="visibility: hidden;")="-"
  
                      - first = false

append footer_assets
  script.
    var all_icons = $("#map i");
    $("#teamfights tr").click(function(event) {
      var show =$(this).attr("target");
      $(this).addClass("glow");
      $(this).siblings().removeClass("glow");
      $(this).siblings().find("i").removeClass("fa-eye");
      $(this).find("i").addClass("fa-eye");
      var table = $("#" + show);
      var icons = $("i[fight='" + show + "']")
      table.show();
      table.siblings().hide();
      all_icons.hide();
      icons.show();
      $("#header").show();
    })
    $("#show_all").click(function(event) {
      all_icons.show();
    });
    $("table tr[target='0']").trigger("click");
