extend match

block match_content
  .row
    .col-md-6
      +data_table({id:"performances",summable:true, heading: "Performances"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              th: abbr(title=tooltips.lane) Lane
              //th: abbr(title=tooltips.used_ward_observer) Observer
              //th: abbr(title=tooltips.used_ward_sentry) Sentry
              th: abbr(title=tooltips.lane_efficiency) EFF@10
              th: abbr(title=tooltips.lhten) LH@10
              th: abbr(title=tooltips.stuns) Stuns
          tr.activate(data-index=i, data-type="lane_pos", class = player.isRadiant ? "radiant" : "dire")
            +hero_td(player)
            td #{constants.lane_ids[player.lane] || "-"} (#{constants.lane_role[player.lane_role] || "-"})
            //td.activate(data-index=i, data-type="obs") #{player.obs_log.length || "-"}
            //td.activate(data-index=i, data-type="sen") #{player.sen_log.length || "-"}
            td #{(Number(player.lane_efficiency)*100).toFixed(2)}
            td #{player.lh_t[10]}
            td #{Number(player.stuns).toFixed(2)}
    .col-md-6
      h3 Laning Map
      #map.table-responsive
        img.mapContainer(src='//cdn.rawgit.com/kronusme/dota2-api/master/images/map/dota-map-6.82.jpg', alt="map")

  +ad("banner2")
  
  .row
    .col-md-12
      +data_table({id:"utilization", heading: "Utilization"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              th: abbr(title=tooltips.max_hero_hit) Biggest Hit
              th: abbr(title=tooltips.ability_uses) Skill Use (Hits)
              th: abbr(title=tooltips.item_uses) Item Use
              th: abbr(title=tooltips.damage_inflictor) Damage Inflictors

          tr(class = player.isRadiant ? "radiant" : "dire")
            +hero_td(player)
            td.nowrap
              - player.max_hero_hit = player.max_hero_hit || {}
              - var ability = constants.abilities[player.max_hero_hit.inflictor]
              - var item = constants.items[player.max_hero_hit.inflictor]
              - var hero = constants.hero_names[player.max_hero_hit.key]
              span.img-text
                if ability
                  span: img.img-sm.ability(src=ability.img, title=player.max_hero_hit.inflictor)
                else if item
                  span: img.img-sm.item(src=item.img, title=player.max_hero_hit.inflictor)
                else
                  span: img.img-sm(src="/public/images/default_attack.png", title="Auto Attack/Other")
                div #{player.max_hero_hit.value}                    
              if hero
                span.img-text: img.img-md(src=hero.img, title=hero.localized_name)
              else
                =player.max_hero_hit.key
              
            td.table-img
              each ability in player.ability_uses_arr || []
                span.img-text
                  img.img-sm.ability(src=ability.img, title=ability.name)
                  div #{ability.val}
                  div (#{ability.hero_hits || 0})
            td.table-img
              each item in player.item_uses_arr || []
                span.img-text
                  img.img-sm.item(src=item.img, title=item.name)
                  div #{item.val}
            td.table-img
              each item in player.damage_inflictor_arr || []
                span.img-text
                  img.img-sm(class=item.className src=item.img, title=item.name)
                  div.format #{item.val}
                  
append footer_assets
  script.
    var width = document.getElementById('map').clientWidth;
    var heatmap = h337.create({
      container: document.getElementById('map'),
      radius: 15*(width/600)
    });

    // scale points by width/127 units to fit to size of map
    // offset points by 25 units to increase visibility
    var posData = !{JSON.stringify(match.posData)}
    adjustHeatmapData(posData, width/127, null, 25);

    $(".activate").on("mouseenter", function(){
      var pData = posData[Number($(this).attr('data-index'))]
      var data = pData[$(this).attr('data-type')];
      console.log("mouseover", pData, data);
      heatmap.setData(data);
    })
