extend match

block match_content
  .row
    .col-md-12

        h2.inline-header Details
        button.btn.btn-xs.btn-dark.toggle-button(data-toggle="collapse" data-target="#details", aria-expanded="true") Toggle Table
        #details.table-responsive.collapse.in
          table.table.table-hover.summable
            each player, i in match.players
              if !(i%10)

                thead
                  tr
                    th Hero
                    th: abbr(title="Order in which the player picked") PICK
                    th: abbr(title="Lane based on early game position") POS
                    th: abbr(title="Percentage of lane gold obtained at 10 minutes") EFF@10
                    th: abbr(title="Last hits at 10 minutes") LH@10
                    th: abbr(title="Seconds of disable on enemy heroes") STUN
                    th: abbr(title="Number of times the player pinged") PINGS
                    th: abbr(title="Town Portal Scroll purchases") TP
                    th: abbr(title="Observer Ward purchases") OBS
                    th: abbr(title="Sentry Ward purchases (x2)") SEN
                    th: abbr(title="Smoke of Deceit purchases") SMK
                    th: abbr(title="Dust of Appearance purchases (x2)") DST
                    th: abbr(title="Gem of True Sight purchases") GEM
                    th: abbr(title="Number of Buybacks") BB

              tbody
                tr(class = player.isRadiant ? "success" : "danger")
                  - var hero = constants.heroes[player.hero_id]
                  - var p = player.parsedPlayer
                  td.hero
                   if hero
                     img(src=hero.img, title=hero.localized_name)
                   else
                     =player.hero_id
                  td #{p.pick_order} (<span class="format-seconds" data-format-seconds=#{p.pick_time}></span>)
                  td #{constants.lane_ids[p.lane] || "-"} (#{p.lane_role})
                  td #{(p.lane_efficiency*100).toFixed(2)}
                  td #{p.lh[10] || "-"}
                  td #{p.stuns.toFixed(2)}
                  td #{p.pings[0] || "-"}
                  //td #{p.clicks[0] || "-"}
                  td #{p.purchase.tpscroll || "-"}
                  td #{p.purchase.ward_observer || "-"}
                  td #{p.purchase.ward_sentry*2 || "-"}
                  td #{p.purchase.smoke_of_deceit || "-"}
                  td #{p.purchase.dust*2 || "-"}
                  td #{p.purchase.gem || "-"}
                  td #{p.buyback_log.length || "-"}

        hr
        include /ads/leaderboard_2
        hr

        h2.inline-header Performance
        button.btn.btn-xs.btn-dark.toggle-button(data-toggle="collapse" data-target="#performance", aria-expanded="true") Toggle Table
        include details_performance_table
        hr
        .row
          .col-md-8.table-responsive
            h2 Gold
            table.table.table-hover.summable

              thead
                tr
                  th Hero
                  each val, key in constants.gold_reasons
                    th: abbr(title=val.tooltip)=val.name

              tbody
                each player, i in match.players
                  tr(class = player.isRadiant ? "success" : "danger")
                    - var hero = constants.heroes[player.hero_id]
                    - var p = player.parsedPlayer
                    td.hero
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id
                      each val, key in constants.gold_reasons
                        td #{p.gold_reasons[key] || "-"}

          .col-md-4.table-responsive

            h2 XP
            table.table.table-hover.summable

              thead
                tr
                  th Hero
                  each val, key in constants.xp_reasons
                    th=val

              tbody
                each player, i in match.players
                  tr(class = player.isRadiant ? "success" : "danger")
                    - var hero = constants.heroes[player.hero_id]
                    - var p = player.parsedPlayer
                    td.hero
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id
                      each val, key in constants.xp_reasons
                        td #{p.xp_reasons[key] || "-"}
                        
        hr
        .row
         .col-md-6

           h2 Farm
           table.table.table-hover.summable
            each player, i in match.players
              if !(i%10)

                thead
                  tr
                    th Hero
                    th: abbr(title="Heroes killed") Heroes
                    th: abbr(title="Lane creeps killed") Creeps
                    th: abbr(title="Neutral creeps killed") Neutrals
                    th: abbr(title="Towers killed") Towers
                    th: abbr(title="Couriers killed") Couriers
                    th: abbr(title="Observer wards killed") Obs
                    th: abbr(title="Sentry wards killed") Sen

              tbody
                tr(class = player.isRadiant ? "success" : "danger")
                  - var hero = constants.heroes[player.hero_id]
                  - var p = player.parsedPlayer
                  td.hero
                   if hero
                     img(src=hero.img, title=hero.localized_name)
                   else
                     =player.hero_id
                  td #{p.hero_kills || "-"}
                  td #{p.lane_kills || "-"}
                  td #{p.neutral_kills || "-"}
                  td #{p.tower_kills || "-"}
                  td #{p.courier_kills || "-"}
                  td #{p.observer_kills || "-"}
                  td #{p.sentry_kills || "-"}

         .col-md-6

           h2 Runes
           table.table.table-hover.summable
            each player, i in match.players
              if !(i%10)

                thead
                  tr
                    th Hero
                    each val, key in constants.runes
                      th: abbr(title=val.tooltip)=val.name

              tbody
                tr(class = player.isRadiant ? "success" : "danger")
                  - var hero = constants.heroes[player.hero_id]
                  - var p = player.parsedPlayer
                  td.hero
                   if hero
                     img(src=hero.img, title=hero.localized_name)
                   else
                     =player.hero_id
                  each val, key in constants.runes
                    td #{p.runes[key] || "-"}

        hr
        .row
         .col-md-6

           h2 Multi Kills
           table.table.table-hover.summable
            each player, i in match.players
              if !(i%10)

                thead
                  tr
                    th Hero
                    each val,key in constants.multi_kills
                      th #{val} (#{key})

              tbody
                tr(class = player.isRadiant ? "success" : "danger")
                  - var hero = constants.heroes[player.hero_id]
                  - var p = player.parsedPlayer
                  td.hero
                   if hero
                     img(src=hero.img, title=hero.localized_name)
                   else
                     =player.hero_id
                  each val,key in constants.multi_kills
                    td #{p.multi_kills[key] || "-"}

         .col-md-6

           h2 Kill Streaks

           table.table.table-hover.summable
            each player, i in match.players
              if !(i%10)

                thead
                  tr
                    th Hero
                    each val, key in constants.kill_streaks
                      //th #{val} (#{key})
                      th: abbr(title=val) #{key}

              tbody
                tr(class = player.isRadiant ? "success" : "danger")
                  - var hero = constants.heroes[player.hero_id]
                  - var p = player.parsedPlayer
                  td.hero
                   if hero
                     img(src=hero.img, title=hero.localized_name)
                   else
                     =player.hero_id
                  each val, key in constants.kill_streaks
                    td #{p.kill_streaks[key] || "-"}
         
        hr
        .row
          .col-md-6

            h2.inline-header Kills/Deaths
            #kills.table-responsive
              table.table.table-hover

                thead
                  tr
                    th Hero
                    each player, ind in match.players.slice(match.players.length/2, match.players.length)
                      th(class = player.isRadiant ? "success" : "danger")
                        - var hero = constants.heroes[player.hero_id]
                        if hero
                          img(src=hero.img, title=hero.localized_name)
                        else
                          =player.hero_id      

                tbody
                  each player, ind in match.players.slice(0,match.players.length/2)
                    - var hero = constants.heroes[player.hero_id]
                    - var p = player.parsedPlayer
                    tr
                      td.hero(class = player.isRadiant ? "success" : "danger")
                        if hero
                          img(src=hero.img, title=hero.localized_name)
                        else
                          =player.hero_id      
                        each player2, ind2 in match.players.slice(match.players.length/2, match.players.length)
                          - var hero1 = constants.heroes[player.hero_id]
                          - var hero2 = constants.heroes[player2.hero_id]
                          - var hero1name = hero1.localized_name;
                          - var hero2name = hero2.localized_name;
                          - var p1 = player.parsedPlayer.kills[hero2.name] || 0
                          - var p2 = player.parsedPlayer.killed_by[hero2.name] || 0
                          td(class=(p1===p2 ? "" : p1>p2 ? "success" : "danger"))
                            abbr.blackunderline(title=hero1name+" killed "+hero2name+" "+p1+" time"+(p1===1?"":"s")+".")
                              span(class="green") #{p1}
                            span=" / "
                            abbr.blackunderline(title=hero2name+" killed "+hero1name+" "+p2+" time"+(p2===1?"":"s")+".")
                              span(class="red") #{p2}

          .col-md-6

            h2.inline-header Damage Done/Taken
            #kills.table-responsive
              table.table.table-hover

                thead
                  tr
                    th Hero
                    each player, ind in match.players.slice(match.players.length/2, match.players.length)
                      th(class = player.isRadiant ? "success" : "danger")
                        - var hero = constants.heroes[player.hero_id]
                        if hero
                          img(src=hero.img, title=hero.localized_name)
                        else
                          =player.hero_id

                tbody
                  each player, ind in match.players.slice(0,match.players.length/2)
                    - var hero = constants.heroes[player.hero_id]
                    - var p = player.parsedPlayer
                    tr
                      td.hero(class = player.isRadiant ? "success" : "danger")
                        if hero
                          img(src=hero.img, title=hero.localized_name)
                        else
                          =player.hero_id      
                        each player2, ind2 in match.players.slice(match.players.length/2, match.players.length)
                          - var hero1 = constants.heroes[player.hero_id]
                          - var hero2 = constants.heroes[player2.hero_id]
                          - var hero1name = hero1.localized_name;
                          - var hero2name = hero2.localized_name;
                          - var p1 = player.parsedPlayer.damage[hero2.name] || 0
                          - var p2 = player.parsedPlayer.damage_taken[hero2.name] || 0                          
                          td(class=(p1===p2 ? "" : p1>p2 ? "success" : "danger"))
                            abbr.blackunderline(title=hero1name+" did "+p1+" damage to "+hero2name+".")
                              span(class="green format") #{p1}
                            span=" / "
                            abbr.blackunderline(title=hero2name+" did "+p2+" damage to "+hero1name+".")
                              span(class="red format") #{p2}
