extend match

block match_content
  .row
    .col-md-6
      +data_table({id:"objectives",heading:"Objectives"})
        thead
          tr
            th Time
            th Objective
            th Achieved By
        tbody
          each entry in match.objectives || []
            - var adjSlot = match.players[entry.slot] ? entry.slot : entry.slot-4
            - var objective = constants.objectives[entry.subtype] || entry.subtype
            - var p = match.players[adjSlot] || {}
            - var hero = constants.heroes[p.hero_id]
            - var slot_color = constants.player_colors[p.player_slot]
            - p.team = entry.team===2 || entry.team===0 || entry.key<64 || p.isRadiant
            - p.personaname = p.personaname
            tr
              td.format-seconds(data-format-seconds=entry.time)
              td=entry.key ? constants.barracks_value[entry.key] + " " + objective : objective
              +hero_td(p)
              
    .col-md-6
      +data_table({id:"runes", summable: true, heading:"Runes"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
             th: abbr(title=tooltips.hero_id) Hero
             each val, key in constants.runes
               th: abbr(title=constants.tooltips["rune_"+val.name])=val.name  
          tr(class = player.isRadiant ? "radiant" : "dire")
            - var hero = constants.heroes[player.hero_id]
            +hero_td(player)
            each val, key in constants.runes
              td #{player.runes[key] || "-"}
      +ad("skyscraper")

append footer_assets
  //-
   script.
     var objectives = !{JSON.stringify(match.objectives)}
     timeline(objectives);