extend /layout
include /mixins/hero_td
include /mixins/data_table
include /mixins/data_table_header

append head
    meta(property="og:title", content="Match #{match.match_id}")
    | <!-- This page generated at #{moment(Date.now()).format('MMMM Do YYYY, h:mm:ss a')} -->

block header
  .mdl-layout__header-row
    span.mdl-layout-title Match #{match.match_id} 
  .mdl-layout__tab-bar.mdl-js-ripple-effect.mdl-color--primary
    each val, key in tabs
      - var disableTab = false && !match.parsed_data.version && key!=="index"
      a.mdl-layout__tab(href="/matches/#{match.match_id}/" + (key == 'index' ? "" : key), class=(route === key ? 'is-active' : ''), disabled=disableTab, title=(disableTab ? 'This data will be available when the replay is parsed.' : ''))= val.name  

block content
  .mdl-grid.container
    .mdl-cell.mdl-cell--5-col
      h3(class=match.radiant_win ? "radiant" : "dire")= match.radiant_win ? "Radiant Victory" : "Dire Victory"
      .addthis_sharing_toolbox
    .mdl-cell.mdl-cell--7-col
      table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
        thead
          tr
            //th: abbr(title=constants.tooltips.status) Status
            th.mdl-data-table__cell--non-numeric Mode
            th.mdl-data-table__cell--non-numeric Region
            th.mdl-data-table__cell--non-numeric Duration
            th.mdl-data-table__cell--non-numeric Ended
            th.mdl-data-table__cell--non-numeric Skill
        tbody
          tr
            //td= constants.parse_status[match.parse_status]
            td.mdl-data-table__cell--non-numeric= constants.game_mode[match.game_mode] ? constants.game_mode[match.game_mode].name : match.game_mode
            td.mdl-data-table__cell--non-numeric= constants.cluster[match.cluster] ? constants.cluster[match.cluster] : match.cluster
            td.mdl-data-table__cell--non-numeric= moment().startOf('day').seconds(match.duration).format("H:mm:ss")
            td.mdl-data-table__cell--non-numeric: abbr(title=moment.unix(match.start_time+match.duration).format("ddd D MMMM YYYY, hh:mm:ss"))= moment.unix(match.start_time + match.duration).fromNow()
            td.mdl-data-table__cell--non-numeric= constants.skill[match.skill] ? constants.skill[match.skill] : match.skill
    
    block match_content

append footer_assets
  script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5452f1e51eac0fc5", async="async")
