extend match

block match_content
    .row
      .col-md-12
        h2 Purchases
        table.table.table-hover.summable
           each player, i in match.players
             if !(i%10)
               thead
                 tr
                   th Hero
                   th: abbr(title="Town Portal Scroll purchases") TP
                   th: abbr(title="Observer Ward purchases") OBS
                   th: abbr(title="Sentry Ward purchases (x2)") SEN
                   th: abbr(title="Smoke of Deceit purchases") SMK
                   th: abbr(title="Dust of Appearance purchases (x2)") DST
                   th: abbr(title="Gem of True Sight purchases") GEM
                   th: abbr(title="Buyback purchases") BB
 
             tr(class = player.isRadiant ? "success" : "danger")
               - var hero = constants.heroes[player.hero_id]
               - var p = player.parsedPlayer
               td.hero
                if hero
                  img(src=hero.img, title=hero.localized_name)
                else
                  =player.hero_id
               td #{p.purchase.tpscroll || "-"}
               td #{p.purchase.ward_observer || "-"}
               td #{p.purchase.ward_sentry*2 || "-"}
               td #{p.purchase.smoke_of_deceit || "-"}
               td #{p.purchase.dust*2 || "-"}
               td #{p.purchase.gem || "-"}
               td #{p.buyback_log.length || "-"}
        hr
        +ad("banner2")
        hr
        h2.inline-header Build Times
        button.btn.btn-xs.btn-dark.toggle-button(data-toggle="collapse" data-target="#purchases", aria-expanded="true") Toggle Table
        include timelines_purchases_table