extend match

block match_content
  .row
    .col-md-12
      +data_table({id:"actions",summable:true, heading: "Actions"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              th: abbr(title=tooltips.apm) APM
              //th: abbr(title="Number of times the player clicked") Clicks
              each val, key in constants.order_types
                if val in display_types
                  th: abbr(title=tooltips[val])= display_types[val]
              th: abbr(title=tooltips.pings) Pings (Map)
          tr(class = player.isRadiant ? "radiant" : "dire")
            - var p = player.parsedPlayer
            +hero_td(player)
            td #{~~(p.actions_sum/match.duration*60)}
            //td #{p.clicks[0] || "-"}
            each val, key in constants.order_types
              if val in display_types
                td #{p.actions[key] || "-"}
            td #{p.pings[0] || "-"}
