extend /layout
include /mixins/hero_td
include /mixins/data_table
include /mixins/data_table_header

append head
    meta(property="og:title", content="Match #{match.match_id}")

block content
  .row
    .col-md-6
      h2 Match #{match.match_id} 
        small(class=match.radiant_win ? "text-success" : "text-danger")= match.radiant_win ? "Radiant Victory" : "Dire Victory"
        br
        a(href="/request#"+match.match_id, class="btn btn-sm" class=match.version ? "btn-success" : "btn-primary") #{match.version ? "Re-Parse" : "Parse"}
        if match.replay_url
          a(style="margin-left:1em;" href=match.replay_url, class="btn btn-sm btn-default") 
            i(class="fa fa-download", style="margin-right: 3px;", aria-hidden="true")
            | Replay
          a(style="margin-left:1em;" href="#{'https://www.jist.tv/create.php?dota2-match-url=' + match.replay_url}", class="btn btn-sm btn-default")
            | Get Video With
            img(src='/public/images/jist-white-logo.png', style="height: 17px")
        a(style="margin-left:1em;" href="#{'https://dotacoach.org/Hire/Yasp?matchID=' + match.match_id + '&userSteamId=' + (user ? user.account_id : '') + '&playerMmr=' + match.rating}", class="btn btn-sm btn-default")
          img(src='/public/images/dotacoach-32x24.png', style="margin: -2px; padding-right: 4px;")
          | Ask a Coach
    .col-md-6.table-responsive
      h2
      table.table.table-condensed.small
        thead
          tr
            //th: abbr(title=constants.tooltips.status) Status
            th Mode
            th Region
            th Duration
            th Ended
            th Skill
        tbody
          tr
            td= constants.game_mode[match.game_mode] ? constants.game_mode[match.game_mode].name : match.game_mode
            td= constants.region[match.region] ? constants.region[match.region] : match.region
            td= moment().startOf('day').seconds(match.duration).format("H:mm:ss")
            td: abbr(title=moment.unix(match.start_time+match.duration).format("ddd D MMMM YYYY, HH:mm:ss Z"))= moment.unix(match.start_time + match.duration).fromNow()
            td= constants.skill[match.skill] ? constants.skill[match.skill] : 'N/A'
  
  .row.player-tabs(style="margin-top:1em;")
    .col-md-12.table-responsive
      ul.nav.nav-tabs
        each val, key in tabs
          if !val.hide || config.NODE_ENV === "development"
            - var disableTab = !match.version && key!=="index" && val.parsed
            li(class=(route === key ? 'active' : ''), class=(disableTab ? 'disabled' : ''), title=(disableTab ? tooltips.unparsed_tab : ''))
              if hyperopia
                a(href="/hyperopia/#{player_id}/#{match.match_id}/" + (key == 'index' ? "" : key), class=(val["new-feature"] ? "new-feature" : ""))= val.name
              else
                a(href="/matches/#{match.replay_blob_key || match.match_id}/" + (key == 'index' ? "" : key), class=(val["new-feature"] ? "new-feature" : ""))= val.name

  .match
    block match_content
  
  .row
    .col-md-12.col-offset-10
      .addthis_sharing_toolbox.pull-right

append footer_assets
  script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5452f1e51eac0fc5", async="async")
  script.
    ga('send', 'event', 'match', 'ageOfMatch', moment().diff(moment.unix(#{match.start_time+match.duration}), 'days'));
