extend match

block match_content
        .row
          .col-md-12
            h2.inline-header Purchases
            button.btn.btn-xs.btn-dark.toggle-button(data-toggle="collapse" data-target="#purchases", aria-expanded="true") Toggle Table
            include timelines_purchases_table
        hr
        .row
         .col-md-12
           include /ads/leaderboard_2
        hr
        .row
          .col-md-12
            h2.inline-header Kills
            button.btn.btn-xs.btn-dark.toggle-button(data-toggle="collapse" data-target="#kills", aria-expanded="true") Toggle Table
            #kills.table-responsive.collapse.in
              table.table.table-hover
                each player, ind in match.players
                  - var hero = constants.heroes[player.hero_id]
                  - var p = player.parsedPlayer
                  if !(ind%5)
                    thead
                      tr
                        th Hero
                        - var bucket = 300
                        - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                          th= i/60+"'"
                  if !truncate || truncate.indexOf(ind) > -1
                      tr(class = player.isRadiant ? "success" : "danger")
                        td.hero
                          if hero
                            img(src=hero.img, title=hero.localized_name)
                          else
                            =player.hero_id              
                        - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                          td
                            each entry in p.kills_log || []
                              if entry.time < i && entry.time >= i-bucket
                                - var dmg = constants.hero_names[entry.key]                 
                                if dmg
                                  div.img-text
                                    img.dmg(src=dmg.img, title=dmg.localized_name)
                                    div.format-seconds(data-format-seconds=entry.time)=entry.time
                                else
                                  //=entry.key
        hr
        .row
          .col-md-12.table-responsive
            h2 Last Hits
            table.table.table-hover.summable
              thead
                tr
                  th Hero
                  - var bucket = 300
                  - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                    th= i/60+"'"
              tbody  
                each player, ind in match.players
                  - var hero = constants.heroes[player.hero_id]
                  - var p = player.parsedPlayer
                  tr(class = player.isRadiant ? "success" : "danger")
                    td.hero
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id
                    - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                      td #{p.lh[i/60]}
                    