extend match
  
block match_content
  .row
    .col-md-8
      h2 Chat
      table.table.table-hover.table-responsive.match-top
        thead
          tr
            th Player
            th Time
            th Message
        tbody
          each entry in match.parsed_data.chat || []
            - var adjSlot = match.players[entry.slot] ? entry.slot : entry.slot-5
            - var p = match.players[adjSlot] || {}
            - var hero = constants.heroes[p.hero_id]
            - var slot_color = constants.player_colors[p.player_slot]
            tr(class=p.isRadiant ? "success" : "danger")
              td 
                if hero
                  img(src=hero.img, title=hero.localized_name, style="border-left-color:#{slot_color}").player-color
                else
                  =entry.unit
              td.format-seconds(data-format-seconds=entry.time)=entry.time
              td=entry.key
    .col-md-4
      .row
        .col-md-12
          h3: abbr(title="An estimation of how \"positive\" all chat was.", style="display:inline-block") Positivity
            br
            small (Score: #{match.sentiment.score}, Tokens: #{match.sentiment.tokens.length})
          .progress
            - var pct = (match.sentiment.comparative+1)/2
            .progress-bar(class=pct>0.5 ? "progress-bar-success" : "progress-bar-danger", style="width:#{pct*100}%")  #{match.sentiment.comparative.toFixed(2)}
        .col-md-6
          h4 <i class="fa fa-smile-o"></i>
          //p: pre=JSON.stringify(match.sentiment, null, 2)
          p: pre=JSON.stringify(match.sentiment.positive, null, 2)
        .col-md-6
          h4 <i class="fa fa-frown-o"></i>
          p: pre=JSON.stringify(match.sentiment.negative, null, 2)
      +ad("skyscraper")

append footer_assets