extend match

block match_content
  .row
    .col-md-12
      +data_table({id:"analysis", heading: "Analysis"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              th Analysis
              //-
                each val, key in player.analysis
                  th=key
          tr(class = player.isRadiant ? "radiant" : "dire")
            +hero_td(player)
            //-
              each val, key in player.analysis
                td
                  =val && val.condition ? val.value : "n"
            //-
            td.text-left
              each val, key in player.analysis
                if val && val.condition
                  - var cl = val.condition ? "text-danger" : "text-success"
                  div(class=cl)
                    span(style="margin:3px;"): abbr(title=(val.condition ? val.advice : ""))
                      i.fa.fa-fw(class=val.icon)
                    span(style="display:inline;") !{util.format.apply(null, [val.template].concat(val.value))}