extend match
    
block match_content
  .row
    .col-md-12
      h2 Combat
      .row
        .col-md-6
          h3.inline-header Kill/Death
          #kills.table-responsive
            table.table.table-hover

              thead
                tr
                  th Hero
                  each player, ind in match.players.slice(match.players.length/2, match.players.length)
                    th(class = player.isRadiant ? "success" : "danger")
                      - var hero = constants.heroes[player.hero_id]
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id      

              tbody
                each player, ind in match.players.slice(0,match.players.length/2)
                  - var hero = constants.heroes[player.hero_id]
                  - var p = player.parsedPlayer
                  tr
                    td.hero(class = player.isRadiant ? "success" : "danger")
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id      
                      each player2, ind2 in match.players.slice(match.players.length/2, match.players.length)
                        - var hero1 = constants.heroes[player.hero_id]
                        - var hero2 = constants.heroes[player2.hero_id]
                        if hero1 && hero2
                          - var hero1name = hero1.localized_name
                          - var hero2name = hero2.localized_name
                          - var p1 = player.parsedPlayer.kills[hero2.name] || 0
                          - var p2 = player.parsedPlayer.killed_by[hero2.name] || 0

                        td(class=(p1===p2 ? "" : p1>p2 ? "success" : "danger"))
                          abbr.blackunderline(title=hero1name+" killed "+hero2name+" "+p1+" time"+(p1===1?"":"s")+".<br>"+hero2name+" killed "+hero1name+" "+p2+" time"+(p2===1?"":"s")+".")
                            span(class="") #{p1} / #{p2}

        .col-md-6
          h3.inline-header Damage Done/Taken
          #kills.table-responsive
            table.table.table-hover
              thead
                tr
                  th Hero
                  each player, ind in match.players.slice(match.players.length/2, match.players.length)
                    th(class = player.isRadiant ? "success" : "danger")
                      - var hero = constants.heroes[player.hero_id]
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id
              tbody
                each player, ind in match.players.slice(0,match.players.length/2)
                  - var hero = constants.heroes[player.hero_id]
                  - var p = player.parsedPlayer
                  tr
                    td.hero(class = player.isRadiant ? "success" : "danger")
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id      
                      each player2, ind2 in match.players.slice(match.players.length/2, match.players.length)
                        - var hero1 = constants.heroes[player.hero_id]
                        - var hero2 = constants.heroes[player2.hero_id]
                        if hero1 && hero2
                          - var hero1name = hero1.localized_name;
                          - var hero2name = hero2.localized_name;
                          - var p1 = player.parsedPlayer.damage[hero2.name] || 0
                          - var p2 = player.parsedPlayer.damage_taken[hero2.name] || 0                          
                        
                        td(class=(p1===p2 ? "" : p1>p2 ? "success" : "danger"))
                          abbr.blackunderline(title=hero1name+" did "+p1+" damage to "+hero2name+".<br>"+hero2name+" did "+p2+" damage to "+hero1name+".")
                            span(class="format") #{p1}
                            span=" / "
                            span(class="format") #{p2}
      .row
       .col-md-6
         h3 Multi Kills
         table.table.table-hover.summable
          each player, i in match.players
            if !(i%10)

              thead
                tr
                  th Hero
                  each val,key in constants.multi_kills
                    th #{val} (#{key})

            tbody
              tr(class = player.isRadiant ? "success" : "danger")
                - var hero = constants.heroes[player.hero_id]
                - var p = player.parsedPlayer
                td.hero
                 if hero
                   img(src=hero.img, title=hero.localized_name)
                 else
                   =player.hero_id
                each val,key in constants.multi_kills
                  td #{p.multi_kills[key] || "-"}
       .col-md-6
         h3 Kill Streaks
         table.table.table-hover.summable
          each player, i in match.players
            if !(i%10)

              thead
                tr
                  th Hero
                  each val, key in constants.kill_streaks
                    th: abbr(title=val) #{key!=="10"?key:"10+"}

            tbody
              tr(class = player.isRadiant ? "success" : "danger")
                - var hero = constants.heroes[player.hero_id]
                - var p = player.parsedPlayer
                td.hero
                 if hero
                   img(src=hero.img, title=hero.localized_name)
                 else
                   =player.hero_id
                each val, key in constants.kill_streaks
                  td #{p.kill_streaks[key] || "-"}
      hr
      +ad("banner2")
      hr
      .row
        .col-md-12
          h3.inline-header Kills
          button.btn.btn-xs.btn-dark.toggle-button(data-toggle="collapse" data-target="#kills", aria-expanded="true") Toggle Table
          #kills.table-responsive.collapse.in
            table.table.table-hover
              each player, ind in match.players
                - var hero = constants.heroes[player.hero_id]
                - var p = player.parsedPlayer
                if !(ind%5)
                  thead
                    tr
                      th Hero
                      - var bucket = 300
                      - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                        th= i/60+"'"
                if !truncate || truncate.indexOf(ind) > -1
                    tr(class = player.isRadiant ? "success" : "danger")
                      td.hero
                        if hero
                          img(src=hero.img, title=hero.localized_name)
                        else
                          =player.hero_id              
                      - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                        td
                          each entry in p.kills_log || []
                            if entry.time < i && entry.time >= i-bucket
                              - var dmg = constants.hero_names[entry.key]                 
                              if dmg
                                div.img-text
                                  img.dmg(src=dmg.img, title=dmg.localized_name)
                                  div.format-seconds(data-format-seconds=entry.time)=entry.time
                              else
                                //=entry.key          
append footer_assets