extend match
    
block match_content
  .row
    .col-md-6
      h3.inline-header: abbr(title="Data recorded from combat log.  Includes Aegis and Reincarnation deaths.") Kill/Death
      table-responsive
        table.table.table-hover.table-condensed
          thead
            tr
              th Hero
              each player, ind in match.players.slice(match.players.length/2, match.players.length)
                +hero_td(player)
          tbody
            each player, ind in match.players.slice(0,match.players.length/2)
              - var hero = constants.heroes[player.hero_id]
              - var p = player.parsedPlayer
              tr
                  +hero_td(player)   
                  each player2, ind2 in match.players.slice(match.players.length/2, match.players.length)
                    - var hero1 = constants.heroes[player.hero_id]
                    - var hero2 = constants.heroes[player2.hero_id]
                    if hero1 && hero2
                      - var hero1name = hero1.localized_name
                      - var hero2name = hero2.localized_name
                      - var p1 = player.parsedPlayer.kills[hero2.name] || 0
                      - var p2 = player.parsedPlayer.killed_by[hero2.name] || 0

                    td
                      abbr.blackunderline(title=hero1name+" killed "+hero2name+" "+p1+" time"+(p1===1?"":"s")+".<br>"+hero2name+" killed "+hero1name+" "+p2+" time"+(p2===1?"":"s")+".")
                        span(class=p1>p2 ? "text-success" : "") #{p1}
                        span="/"
                        span(class=p1>p2 ? "" : "text-danger") #{p2}

    .col-md-6
      h3.inline-header: abbr(title="Data recorded from combat log.  Values may not match those given in the API.") Damage Done/Taken
      table-responsive
        table.table.table-hover.table-condensed
          thead
            tr
              th Hero
              each player, ind in match.players.slice(match.players.length/2, match.players.length)
                +hero_td(player)
          tbody
            each player, ind in match.players.slice(0,match.players.length/2)
              - var hero = constants.heroes[player.hero_id]
              - var p = player.parsedPlayer
              tr
                  +hero_td(player)     
                  each player2, ind2 in match.players.slice(match.players.length/2, match.players.length)
                    - var hero1 = constants.heroes[player.hero_id]
                    - var hero2 = constants.heroes[player2.hero_id]
                    if hero1 && hero2
                      - var hero1name = hero1.localized_name;
                      - var hero2name = hero2.localized_name;
                      - var p1 = player.parsedPlayer.damage[hero2.name] || 0
                      - var p2 = player.parsedPlayer.damage_taken[hero2.name] || 0                          
                    td
                      abbr.blackunderline(title=hero1name+" did "+p1+" damage to "+hero2name+".<br>"+hero2name+" did "+p2+" damage to "+hero1name+".")
                        span(class="format" class=p1>p2 ? "text-success" : "") #{p1}
                        span="/"
                        span(class="format" class=p1>p2 ? "" : "text-danger") #{p2}
  .row
    .col-md-6
      +data_table({id:"multi_kills", summable:true, heading:"Multi Kills"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th Hero
              each val,key in constants.multi_kills
                th: abbr(title=val) #{key}
          tr(class = player.isRadiant ? "radiant" : "dire")
           - var hero = constants.heroes[player.hero_id]
           - var p = player.parsedPlayer
           +hero_td(player)
           each val,key in constants.multi_kills
             td #{p.multi_kills[key] || "-"}
    .col-md-6
      +data_table({id:"kill_streaks", summable:true, heading:"Kill Streaks"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th Hero
              each val, key in constants.kill_streaks
                th: abbr(title=val) #{key}
          tr(class = player.isRadiant ? "radiant" : "dire")
            - var hero = constants.heroes[player.hero_id]
            - var p = player.parsedPlayer
            +hero_td(player)
            each val, key in constants.kill_streaks
              td #{p.kill_streaks[key] || "-"}
  hr
  +ad("banner2")
  hr
  .row
    .col-md-12
      +data_table({id:"kill_times", heading:"Kill Times"})
        - var bucket = 300
        each player, ind in match.players
          - var p = player.parsedPlayer
          +data_table_header(ind, match)
            tr
              th Hero
              - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                th= i/60+"'"
          tr
            +hero_td(player)            
            - for (var i = 0; i <= match.duration + bucket; i+=bucket)
              td
                each entry in p.kills_log || []
                  if entry.time < i && entry.time >= i-bucket
                    - var dmg = constants.hero_names[entry.key]                 
                    if dmg
                      span.img-text
                        img.img-small(src=dmg.img, title=dmg.localized_name)
                        div.format-seconds(data-format-seconds=entry.time)=entry.time
                    else
                      //=entry.key          
append footer_assets