include /mixins/progress_bar
extend match

block match_content

  - var teamfights = match.teamfights || []

  .row
    .col-md-12
      h2 Teamfights 
        small where 3+ heroes died
        
  hr
  
  .row
    .col-md-4
      h3 Fights 
        small Click a row to display
      table.table.table-condensed.table-hover
        thead
          tr
            th #
            th Start
            th Length
            th: abbr(title=tooltips.teamfight_participation) Style
            th: abbr(title=tooltips.teamfight_score) Score
            th: abbr(title=tooltips.teamfight_radiant_gold_adv) Gold
            th: abbr(title=tooltips.teamfight_radiant_xp_adv) XP
            th
        tbody#teamfights
          - var i = 0
          each entry, ind in teamfights
            - i = i + 1
            tr(target=ind)
              td=i
              //td= moment().startOf('day').seconds(entry.start).format("mm:ss")
              td.format-seconds(data-format-seconds=entry.start)
              td= moment().startOf('day').seconds(entry.end-entry.start).format("m:ss")
              td
                span.text-success #{entry.radiant_participation}
                span="v"
                span.text-danger #{entry.dire_participation}
              td 
                span(class=entry.radiant_deaths>entry.dire_deaths ? "" : "text-success") #{entry.dire_deaths}
                span="-"
                span(class=entry.radiant_deaths>entry.dire_deaths ? "text-danger" : "") #{entry.radiant_deaths}
              td(class=entry.radiant_gold_delta>0?"text-success":"text-danger")=entry.radiant_gold_delta
              td(class=entry.radiant_xp_delta>0?"text-success":"text-danger")=entry.radiant_xp_delta
              td
                i.fa

      h3.inline-header Death Map
      button.btn.btn-xs.btn-dark.toggle-button#show_all Show All Deaths
      #map.mapContainer
        img.map(src=constants.map_url, alt="map")
        .icons
          each entry, ind in teamfights
            each death in entry.posData
              i(fight=ind, class="small-hero-icon d2mh hero-"+death.hero_id style="position: absolute; top: "+death.y/1.27+"%; left: "+death.x/1.27+"%;")

      h3 Participation
      table.table-condensed.rankable
        tr
          th Hero
          th Participation
        each player in match.players
          tr
            +hero_td(player)
            td.rankable
              +progress_bar((player.teamfights_participated || 0), teamfights.length)
            
    .col-md-8
      each entry, ind in teamfights
        +data_table({id:"recap-"+ind, summable: true, heading:"Recap", rankable: true})
          each player, num in entry.players
            +data_table_header(num, entry)
              tr
                th Hero
                th Joined
                th Death
                th Buyback
                th Level
                th Damage
                th Gold
                th XP
                th Skills
                th Items
                th Kills
            tr(class=player.isRadiant ? "radiant" : "dire")
              +hero_td(player)
              td
                if player.participate
                  i.fa.fa-check(style="font-size:28px;")
              td
                if player.deaths
                  i.fa.fa-times(style="font-size:28px;")
              td
                if player.buybacks
                  i.fa.fs-usd(style="font-size:28px;")
              td(style="white-space: nowrap;")
                if player.level_start !== player.level_end
                  | #{player.level_start}<i class="fa fa-long-arrow-right"></i>#{player.level_end}
                else
                  | #{player.level_start}
              //td=player.deaths
              //td=player.buybacks
              td.rankable=player.damage
              td.rankable=player.gold_delta
              td.rankable=player.xp_delta
              td
                each val, key in player.ability_uses || {}
                  - var ability = constants.abilities[key]
                  span.img-text
                    if ability
                      img.img-sm.ability(src=ability.img, title=key)
                    else
                      //=key
                    div #{val}
              td
                each val, key in player.item_uses || {}
                  - var item = constants.items[key]
                  span.img-text
                    if item
                      img.img-sm.item(src=item.img, title=key)
                      div #{val}
                    else
                      =key
              td
                each val, key in player.killed || {}
                  - var hero = constants.hero_names[key]
                  span.img-text
                    if hero
                      img.img-sm(src=hero.img, title=hero.localized_name)
                      div #{val}
                    else
                      //=key

    //-
      .row
        .col-md-12
          h3
            abbr(title=tooltips.killstreak_multikill) Kill Streaks / Multi Kills
          .table-responsive
            table.table.table-hover(style="text-align:center; vertical-align:middle;")
              - var max_row_size = 9
              thead
                tr
                  td Streak By
                  td(colspan=max_row_size) Heroes Killed In Streak
              tbody
                - var player_num = 0
                each player in match.players
                  - player_num = player_num + 1
                  
                  - var hero_id = player.hero_id
                  - var hero = constants.heroes[hero_id]
                  each streak in player.kill_streaks_log || []
                    - var num_rows = Math.ceil(streak.length / max_row_size)
                    - var kills_in_other_rows = Math.ceil(streak.length / num_rows)
                    - var kills_in_first_row = streak.length - (num_rows - 1) * kills_in_other_rows
                    - var first = true
                    - var kill_num = -1
                    - for (var row_num = 0; row_num < num_rows; row_num++)
                      tr
                        if first
                          td(class = (player_num <= 5 ? "text-success" : "text-danger"), rowspan=num_rows)
                            if hero
                              img(src=hero.img, title=hero.localized_name)
                            else
                              = hero_id
                            - var streak_size = streak.length > 10 ? 10 : streak.length
                            - var streak_name = constants.kill_streaks[streak_size]
                            - var article = streak_size === 6 ? "an " : "a "
                            - var popup = "These " + streak.length + " kills counted as " + article + streak_name + " streak."
                            div
                              abbr(title=popup) #{streak_name}
                            - var streak_duration = streak[streak.length - 1].time - streak[0].time
                            div
                              span=" Duration: "
                              span.format-seconds(data-format-seconds=streak_duration)
                            div(style="visibility: hidden;")="-"
                        - var num_kills_in_row = first ? kills_in_first_row : kills_in_other_rows
                        - for (var kill_num_in_row = 0; kill_num_in_row < num_kills_in_row; kill_num_in_row++)
                          td(class = (player_num <= 5 ? "text-danger" : "text-success"))
                            - kill_num = kill_num + 1
                            - var kill = streak[kill_num]
                            - var killed_id = kill.hero_id
                            - var killed = constants.heroes[killed_id]
                            if killed
                              img(src=killed.img, title=killed.localized_name)
                            else
                              = killed_id
                            div 
                              //span Kill #{kill_num + 1} 
                              span.format-seconds(data-format-seconds=kill.time)
                            - var multi_id = kill.multi_kill_id
                            - var multi_size = player.multi_kill_id_vals[multi_id]
                            if multi_size >= 2
                              - var multi_name = constants.multi_kills[multi_size]
                              - var article = multi_size === 4 ? "an " : "a "
                              - var popup = "These " + multi_size + " kills counted as " + article + multi_name + "."
                              div
                                abbr(title=popup) #{multi_name}
                            else
                              div(style="visibility: hidden;")="-"
                            - var tf_id = kill.team_fight_id
                            if tf_id
                              - var tf_name = "Teamfight " + tf_id
                              - var popup = "This kill occurred during " + tf_name + "."
                              div
                                abbr(title=popup) #{tf_name}
                            else
                              div(style="visibility: hidden;")="-"
                        - first = false

append footer_assets
  script.
    var all_icons = $("#map i");
    $("#teamfights tr").click(function(event) {
      var show =$(this).attr("target");
      location.hash = show;
      $(this).addClass("glow");
      $(this).siblings().removeClass("glow");
      $(this).siblings().find("i").removeClass("fa-eye");
      $(this).find("i").addClass("fa-eye");
      var table = $("#recap-" + show);
      var icons = $("i[fight='" + show + "']")
      table.show('slow');
      table.siblings().hide('slow');
      all_icons.hide();
      icons.show();
    })
    $("#show_all").click(function(event) {
      all_icons.show();
    });
    var hash = location.hash ? location.hash.substring(1) : 0;
    $("table tr[target='"+hash+"']").trigger("click");
