extend match

block match_content
  .row
    .col-md-12
      +data_table({id:"actions",summable:true, heading: "Actions", rankable: true})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              th: abbr(title=tooltips.actions_per_min) APM
              //th: abbr(title="Number of times the player clicked") Clicks
              each val, key in constants.order_types
                if val in tooltips
                  th: abbr(title=tooltips[val])= tooltips[val+"_short"]
              th: abbr(title=tooltips.pings) Pings (Map)
          tr(class = player.isRadiant ? "radiant" : "dire")
            +hero_td(player)
            - player.actions = player.actions || {}
            td.rankable #{player.actions_per_min || "-"}
            //td #{p.clicks[0] || "-"}
            each val, key in constants.order_types
              if val in tooltips
                td.rankable #{player.actions[key] || "-"}
            td.rankable #{player.pings || "-"}
