extend match

block match_content
  - var teamfights = match.parsed_data.teamfights || []
  .row
    .col-md-12
      h2 Teamfights 
        small  where 3+ heroes died
  .row
    .col-md-12
      h3 Participation
      table.table.table-condensed
        tr
          each player in match.players
            - var hero = constants.heroes[player.hero_id]
            td(class=(player.isRadiant?"success":"danger"))
              if hero
                img(src=hero.img, title=hero.localized_name)
              else
                =player.hero_id
              - var pct = (player.teamfights_participated*100/teamfights.length)
              .progress
                .progress-bar(class=pct >= 75 ? "progress-bar-success" : "progress-bar-danger" style="width: #{pct}%") #{pct.toFixed(2)}%

  .row
    .col-md-4
      //pre=JSON.stringify(match.parsed_data.teamfights)
      h3
        abbr(title="Rows are colored by winner, determined by gold swing.") Fights
        small   Click a row to display
      table.table.table-condensed.table-hover#teamfights
        thead
          th Start
          th Length
          th Deaths
          th: abbr(title="Net gold advantage for Radiant") Gold Swing
          th: abbr(title="Net XP advantage for Radiant") XP Swing
          th
        tbody
          each entry, ind in teamfights
            tr(target=ind, class=entry.radiant_gold_delta > 0 ? "success" : "danger")
              td.format-seconds(data-format-seconds=entry.start)
              td.format-seconds(data-format-seconds=entry.end-entry.start)
              td=entry.deaths
              td=entry.radiant_gold_delta
              td=entry.radiant_xp_delta
              td
                i.fa
      h3.inline-header Death Map
      button.btn.btn-xs.btn-dark.toggle-button#show_all Show All Deaths
      #map.mapContainer.mapContainer-small
        img.map(src='//cdn.rawgit.com/kronusme/dota2-api/master/images/map/dota-map-6.82.jpg', alt="map")
        .icons
          each entry, ind in teamfights
            each death in entry.posData
              i(fight=ind, class="small-hero-icon d2mh hero-"+death.hero_id style="position: absolute; top: "+death.y/1.27+"%; left: "+death.x/1.27+"%;")
    .col-md-8
      h3 Details
      .table-responsive
        table.table.table-hover
          thead#header
            tr
              th Hero
              th(style="font-size:30px;") !{"&#128128;"}
              th(style="font-size:30px;") !{"&#128176;"}
              th Ability Use
              th Item Use
              th Kills
              //th Deaths
              //th Buybacks
              th Damage
              th Gold Change
              th XP Change
            each entry, ind in teamfights
              tbody(id=ind)
                each player, num in entry.players
                  //color and fade based on team and participation
                  tr(class=player.participate ? (player.isRadiant ? "success" : "danger") : "hidden")
                    - var hero = constants.heroes[player.hero_id]
                    td
                      if hero
                        img(src=hero.img, title=hero.localized_name)
                      else
                        =player.hero_id
                    td
                      if player.deaths
                        div(style="font-size:30px;") !{"&#128128;"}
                    td
                      if player.buybacks
                       div(style="font-size:30px;") !{"&#128176;"}
                    td
                      each val, key in player.ability_uses || {}
                        - var ability = constants.abilities[key]
                        div.img-text
                          if ability
                            img.ability(src=ability.img, alt=key)
                          else
                            //=key
                          div #{val}
                    td
                      each val, key in player.item_uses || {}
                        - var item = constants.items[key]
                        div.img-text
                          if item
                            img.item(src=item.img, alt=key)
                            div #{val}
                          else
                            =key
                    td
                      each val, key in player.kills || {}
                        - var hero = constants.hero_names[key]
                        div.img-text
                          if hero
                            img.dmg(src=hero.img, title=hero.localized_name)
                            div #{val}
                          else
                            //=key
                    //td=player.deaths
                    //td=player.buybacks
                    td=player.damage
                    td=player.gold_delta
                    td=player.xp_delta
append footer_assets
  script.
    var all_icons = $("#map i");
    $("#teamfights tr").click(function(event) {
      var show =$(this).attr("target");
      $(this).addClass("glow");
      $(this).siblings().removeClass("glow");
      $(this).siblings().find("i").removeClass("fa-eye");
      $(this).find("i").addClass("fa-eye");
      var table = $("#" + show);
      var icons = $("i[fight='" + show + "']")
      table.show();
      table.siblings().hide();
      all_icons.hide();
      icons.show();
      $("#header").show();
    })
    
    $("#show_all").click(function(event) {
      all_icons.show();
    });
    $("table tr[target='0']").trigger("click");
