extend match

block match_content
  .row
    .col-md-12
      .row
        .col-md-7
          h3 Map 
            small Hover over a table cell for map
          #map.table-responsive
            img.mapContainer(src='//cdn.rawgit.com/kronusme/dota2-api/master/images/map/dota-map-6.82.jpg', alt="map")
      
        .col-md-5
          +data_table({id:"positions", summable: true, heading:"Positions"})
            each player, ind in match.players
              +data_table_header(ind, match)      
                tr
                  th: abbr(title=tooltips.hero_id) Hero
                  th: abbr(title=tooltips.lane) Lane
                  th: abbr(title=tooltips.used_ward_observer) Observer
                  th: abbr(title=tooltips.used_ward_sentry) Sentry
              tr(class = player.isRadiant ? "radiant" : "dire")
                +hero_td(player)
                td.lane-position.activate(data-index=ind, data-type="lane_pos") #{constants.lane_ids[player.lane] || "-"}
                td.lane-position.activate(data-index=ind, data-type="obs") #{player.obs_log.length || "-"}
                td.lane-position.activate(data-index=ind, data-type="sen") #{player.sen_log.length || "-"}

append footer_assets
  script.
    var width = document.getElementById('map').clientWidth;
    var heatmap = h337.create({
      container: document.getElementById('map'),
      radius: 15*(width/600)
    });

    // scale points by width/127 units to fit to size of map
    // offset points by 25 units to increase visibility
    var posData = !{JSON.stringify(match.posData)}
    adjustHeatmapData(posData, width/127, null, 25);

    $(".activate").on("mouseenter", function(){
      var pData = posData[Number($(this).attr('data-index'))]
      var data = pData[$(this).attr('data-type')];
      console.log("mouseover", pData, data);
      heatmap.setData(data);
    })
