extend match

block match_content
  .row
    .col-md-6
      +data_table({id:"performances",summable:true, heading: "Performances", rankable: true})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              th: abbr(title=tooltips.lane) Lane
              //th: abbr(title=tooltips.used_ward_observer) Observer
              //th: abbr(title=tooltips.used_ward_sentry) Sentry
              th: abbr(title=tooltips.lane_efficiency) EFF@10
              th: abbr(title=tooltips.lhten) LH@10
              th: abbr(title=tooltips.stuns) Stuns
              th: abbr(title=tooltips.time_dead) Dead
              th: abbr(title=tooltips.max_hero_hit) Biggest Hit
          tr.activate(data-index=i, data-type="lane_pos", class = player.isRadiant ? "radiant" : "dire")
            +hero_td(player)
            td #{constants.lane_ids[player.lane] || "-"} (#{constants.lane_role[player.lane_role] || "-"})
            //td.activate(data-index=i, data-type="obs") #{player.obs_log.length || "-"}
            //td.activate(data-index=i, data-type="sen") #{player.sen_log.length || "-"}
            td.rankable #{(Number(player.lane_efficiency)*100).toFixed(2)}
            td.rankable #{player.lh_t && player.lh_t[10] ? player.lh_t[10] : "-"}
            td.rankable #{Number(player.stuns).toFixed(2)}
            td.rankable.negative.format-seconds(data-format-seconds=player.life_state_dead) #{player.life_state_dead || "-"}
            td.nowrap
              - player.max_hero_hit = player.max_hero_hit || {}
              - var ability = constants.abilities[player.max_hero_hit.inflictor]
              - var item = constants.items[player.max_hero_hit.inflictor]
              - var hero = constants.hero_names[player.max_hero_hit.key]
              span.img-text
                if ability
                  span: img.img-sm.ability(src=ability.img, title=player.max_hero_hit.inflictor)
                else if item
                  span: img.img-sm.item(src=item.img, title=player.max_hero_hit.inflictor)
                else
                  span: img.img-sm(src="/public/images/default_attack.png", title="Auto Attack/Other")
                div #{player.max_hero_hit.value}
              if hero
                span.img-text: img.img-md(src=hero.img, title=hero.localized_name)
              else
                =player.max_hero_hit.key
    .col-md-6
      h3 Laning Map
      #map.table-responsive
        img.mapContainer(src=constants.map_url, alt="map")

  +ad("banner2")

  .row
    .col-md-12
      +data_table({id:"utilization", heading: "Utilization"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              th: abbr(title=tooltips.ability_uses) Skill Use (Hits)
              th: abbr(title=tooltips.item_uses) Item Use

          tr(class = player.isRadiant ? "radiant" : "dire")
            +hero_td(player)
            td.table-img
              each ability in player.ability_uses_arr || []
                span.img-text
                  img.img-sm.ability(src=ability.img, title=ability.name)
                  div #{ability.val}
                  div (#{ability.hero_hits || 0})
            td.table-img
              each item in player.item_uses_arr || []
                span.img-text
                  img.img-sm.item(src=item.img, title=item.name)
                  div #{item.val}

append footer_assets
  script.
    $(document).ready(function() {
      window.resize.initResizableHeatmap($('#map'), !{JSON.stringify(match.posData)},
        'mouseenter', $('.activate'), function(elem, posData) {
          var pData = posData[Number(elem.attr('data-index'))]
          var data = pData[elem.attr('data-type')];
          return data;
      });
    });

