extend match

block match_content
  .row
    .col-md-6
      h2 Objectives
      //pre=JSON.stringify(match.parsed_data.objectives)
      table.table
        thead
          tr
            th Time
            th Objective
            th Achieved By
        tbody
          each entry in match.parsed_data.objectives || []
            - var adjSlot = match.players[entry.slot] ? entry.slot : entry.slot-5
            - var objective = constants.objectives[entry.subtype] || entry.subtype
            - var p = match.players[adjSlot] || {}
            - var hero = constants.heroes[p.hero_id]
            - var slot_color = constants.player_colors[p.player_slot]
            - var team = entry.team===2 || entry.team===0 || entry.key<64 || p.isRadiant ? "success" : "danger"
            tr(class=team)
              td.format-seconds(data-format-seconds=entry.time)
              td=entry.key ? constants.barracks_value[entry.key] + " " + objective : objective
              td
                if hero
                  img(src=hero.img, title=hero.localized_name)
                else
                  =team==="success" ? "The Radiant" : "The Dire"
              
    .col-md-6
      h2 Runes
      table.table.table-hover.summable
       each player, i in match.players
         if !(i%10)  
           thead
             tr
               th Hero
               each val, key in constants.runes
                 th: abbr(title=val.tooltip)=val.name  
         tbody
           tr(class = player.isRadiant ? "success" : "danger")
             - var hero = constants.heroes[player.hero_id]
             - var p = player.parsedPlayer
             td.hero
              if hero
                img(src=hero.img, title=hero.localized_name)
              else
                =player.hero_id
             each val, key in constants.runes
               td #{p.runes[key] || "-"}
      +ad("skyscraper")

append footer_assets
  //-
   script.
     var objectives = !{JSON.stringify(match.parsed_data.objectives)}
     timeline(objectives);