extend match
    
block match_content
  .row
    .col-md-6
      h3.inline-header: abbr(title=tooltips.kill_death) Kill/Death
      div.table-responsive
        table.table.table-hover.table-condensed
          thead
            tr
              th: abbr(title=tooltips.hero_id) Hero
              each player, ind in match.players.slice(match.players.length/2, match.players.length)
                +hero_td(player)
              th Totals
          tbody
            each player, ind in match.players.slice(0,match.players.length/2)
              - var hero1 = constants.heroes[player.hero_id];
              - var hero1name = hero1.localized_name;
              tr
                +hero_td(player)
                each player2, ind2 in match.players.slice(match.players.length/2, match.players.length)
                  - var hero2 = constants.heroes[player2.hero_id];
                  - var hero2name = hero2.localized_name;
                  - var p1 = player.hero_combat.kills[hero2.name];
                  - var p2 = player.hero_combat.deaths[hero2.name];
                  td
                    abbr.blackunderline(title=hero1name+" killed "+hero2name+" "+p1+" time"+(p1===1?"":"s")+".<br>"+hero2name+" killed "+hero1name+" "+p2+" time"+(p2===1?"":"s")+".")
                      span(class=p1>p2 ? "text-success" : "") #{p1}
                      span="/"
                      span(class=p2>p1 ? "text-danger" : "") #{p2}
                td
                  - var p1 = player.hero_combat.kills.total;
                  - var p2 = player.hero_combat.deaths.total;
                  abbr.blackunderline(title=hero1name+" killed "+p1+" hero"+(p1===1?"":"es")+" and was killed "+p2+" time"+(p2===1?"":"s")+".")
                      span(class="format" class=p1>p2 ? "text-success" : "") #{p1}
                      span="/"
                      span(class="format" class=p2>p1 ? "text-danger" : "") #{p2}
            tr
              th Totals
              each player, ind in match.players.slice(match.players.length/2, match.players.length)
                - var heroname = constants.heroes[player.hero_id].localized_name;
                - var p1 = player.hero_combat.kills.total;
                - var p2 = player.hero_combat.deaths.total;
                td
                  abbr.blackunderline(title=heroname+" killed "+p1+" hero"+(p1===1?"":"es")+" and was killed "+p2+" time"+(p2===1?"":"s")+".")
                      span(class="format" class=p2>p1 ? "text-success" : "") #{p2}
                      span="/"
                      span(class="format" class=p1>p2 ? "text-danger" : "") #{p1}
              td
                abbr.blackunderline(title="Radiant killed "+match.hero_combat.kills.radiant+" heros.<br>Dire kiled "+match.hero_combat.kills.dire+" heroes.")
                    span(class="format" class=match.hero_combat.kills.radiant>match.hero_combat.kills.dire ? "text-success" : "") #{match.hero_combat.kills.radiant}
                    span="/"
                    span(class="format" class=match.hero_combat.kills.dire>match.hero_combat.kills.radiant ? "text-danger" : "") #{match.hero_combat.kills.dire}

    .col-md-6
      h3.inline-header: abbr(title=tooltips.damage_taken) Damage Done/Taken
      div.table-responsive
        table.table.table-hover.table-condensed.combat_damage
          thead
            tr
              th: abbr(title=tooltips.hero_id) Hero
              each player, ind in match.players.slice(match.players.length/2, match.players.length)
                +hero_td(player)
              th Totals
          tbody
            each player, ind in match.players.slice(0,match.players.length/2)
              - var hero1 = constants.heroes[player.hero_id]
              - var hero1name = hero1.localized_name;
              tr
                  +hero_td(player)
                  each player2, ind2 in match.players.slice(match.players.length/2, match.players.length)
                    - var hero2 = constants.heroes[player2.hero_id]
                    - var hero2name = hero2.localized_name;
                    - var p1 = player.hero_combat.damage[hero2.name];
                    - var p2 = player.hero_combat.taken[hero2.name];
                    td
                      abbr.blackunderline(title=hero1name+" did "+p1+" damage to "+hero2name+".<br>"+hero2name+" did "+p2+" damage to "+hero1name+".")
                        span(class="format" class=p1>p2 ? "text-success" : "") #{p1}
                        span="/"
                        span(class="format" class=p2>p1 ? "text-danger" : "") #{p2}
                  td
                    abbr.blackunderline(title=hero1name+" did "+player.hero_combat.damage.total+" damage and took "+player.hero_combat.taken.total+" damage.")
                        span(class="format" class=player.hero_combat.damage.total>player.hero_combat.taken.total ? "text-success" : "") #{player.hero_combat.damage.total}
                        span="/"
                        span(class="format" class=player.hero_combat.taken.total>player.hero_combat.damage.total ? "text-danger" : "") #{player.hero_combat.taken.total}
            tr
              th Totals
              each player, ind in match.players.slice(match.players.length/2, match.players.length)
                - var heroname = constants.heroes[player.hero_id].localized_name;
                td
                  abbr.blackunderline(title=heroname+" did "+player.hero_combat.damage.total+" damage and took "+player.hero_combat.taken.total+" damage.")
                      span(class="format" class=player.hero_combat.taken.total>player.hero_combat.damage.total ? "text-success" : "") #{player.hero_combat.taken.total}
                      span="/"
                      span(class="format" class=player.hero_combat.damage.total>player.hero_combat.taken.total ? "text-danger" : "") #{player.hero_combat.damage.total}
              td
                abbr.blackunderline(title="Radiant did "+match.hero_combat.damage.radiant+" damage.<br>Dire did "+match.hero_combat.damage.dire+" damage.")
                    span(class="format" class=match.hero_combat.damage.radiant>match.hero_combat.damage.dire ? "text-success" : "") #{match.hero_combat.damage.radiant}
                    span="/"
                    span(class="format" class=match.hero_combat.damage.dire>match.hero_combat.damage.radiant ? "text-danger" : "") #{match.hero_combat.damage.dire}
  .row
    .col-md-6
      +data_table({id:"multi_kills", summable:true, heading:"Multi Kills"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              each val,key in constants.multi_kills
                th: abbr(title=val) #{key}
          tr(class = player.isRadiant ? "radiant" : "dire")
           - var hero = constants.heroes[player.hero_id]
           - player.multi_kills = player.multi_kills || {}
           +hero_td(player)
           each val,key in constants.multi_kills
             td #{player.multi_kills[key] || "-"}
    .col-md-6
      +data_table({id:"kill_streaks", summable:true, heading:"Kill Streaks"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              each val, key in constants.kill_streaks
                th: abbr(title=val) #{key}
          tr(class = player.isRadiant ? "radiant" : "dire")
            - var hero = constants.heroes[player.hero_id]
            - player.kill_streaks = player.kill_streaks || {}
            +hero_td(player)
            each val, key in constants.kill_streaks
              td #{player.kill_streaks[key] || "-"}
              
  +ad("banner2")
  
  .row
    .col-md-12
      +data_table({id:"kill_times", heading:"Kill Times"})
        - var bucket = 300
        each player, ind in match.players
          +data_table_header(ind, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              - for (var i = 0; i <= match.duration + bucket; i+=bucket)
                th= i/60+"'"
          tr
            +hero_td(player)            
            - for (var i = 0; i <= match.duration + bucket; i+=bucket)
              td
                each entry in player.kills_log || []
                  if entry.time < i && entry.time >= i-bucket
                    - var dmg = constants.hero_names[entry.key]                 
                    if dmg
                      span.img-text
                        img.img-sm(src=dmg.img, title=dmg.localized_name)
                        div.format-seconds(data-format-seconds=entry.time)=entry.time
                    else
                      //=entry.key          
append footer_assets
  style.
    table.combat_damage td {
      padding: 1px !important;
    }
    table.combat_damage tbody td {
      font-size: .75em;
    }
