extend match

block match_content
  .row
    .col-md-12
      +data_table({id:"benchmarks", heading: "Benchmarks"})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              each val, key in player.benchmarks || {}
                th=prettyPrint(key)
          tr(class = player.isRadiant ? "radiant" : "dire")
            +hero_td(player)
            //-
            each val, key in player.benchmarks || {}
                td
                  if val.raw !== undefined && val.raw !== null
                    div: abbr(title=util.format("This player's %s %s is equal or higher than %s% of performances on this hero.", Number(val.raw.toFixed(2)), prettyPrint(key), (val.pct*100).toFixed(2)))
                      - var pct = val.pct
                      - var pctD = (val.pct*100).toFixed(0)+"%"
                      span(class=percentToTextClass(pct).className)=pctD
                      span.small.text-muted  #{Number(val.raw.toFixed(2))}
                  else
                    div="-"
