extend match

block match_content
  .row
    .col-md-12
      h2 Objectives
      //pre=JSON.stringify(match.parsed_data.objectives)
      table.table
        tr
          th Time
          th Objective
          th Unit
          th Key
          th Slot
          th Team
        each entry in match.parsed_data.objectives
          //tr(class=entry.key.indexOf("goodguys")!==-1 ? "success" : entry.key.indexOf("badguys")!==-1 ? "danger" : "")
          tr
            td.format-seconds(data-format-seconds=entry.time)
            td=entry.subtype
            - var hero = constants.hero_names[entry.unit]
            td
              if hero
                img(src=hero.img, alt=entry.unit)
              else
                =entry.unit
            td=entry.key
            td=entry.slot
            td=entry.team