extend match

block match_content
  .row
    .col-md-12
      +data_table({id:"damage", heading: "Damage", rankable: true})
        each player, i in match.players
          +data_table_header(i, match)
            tr
              th: abbr(title=tooltips.hero_id) Hero
              th: abbr(title=tooltips.damage_inflictor) Damage Inflictors
              th: abbr(title=tooltips.damage_inflictor_received) Damage Received

          tr(class = player.isRadiant ? "radiant" : "dire")
            +hero_td(player)
            td.table-img
              each item in player.damage_inflictor_arr || []
                span.img-text
                  img.img-sm(class=item.className src=item.img, title=item.name)
                  div.format #{item.val}
            td.table-img
              each item in player.damage_inflictor_received_arr || []
                span.img-text
                  img.img-sm(class=item.className src=item.img, title=item.name)
                  div.format #{item.val}