extend /layout

append head
    - var desc = (constants.modes[match.game_mode] ? constants.modes[match.game_mode].name : match.game_mode) + " - " + (constants.regions[match.cluster] ? constants.regions[match.cluster] : match.cluster) + " - " + (match.radiant_win ? "Radiant Victory " : "Dire Victory") + " - Length: " + moment().startOf('day').seconds(match.duration).format("H:mm:ss")
    meta(property="og:title", content="Match #{match.match_id}")
    meta(name="description", content="#{desc}")
    | <!-- This page generated at #{moment(Date.now()).format('MMMM Do YYYY, h:mm:ss a')} -->
    
block content
  .row.match-top
    .col-md-6
      h1 Match #{match.match_id}
    .col-md-6.table-responsive
      table.table.table-condensed
        thead
          tr
            td
              abbr(title=constants.tooltips.status) Status
            td Version
            td Game Mode
            td Region
            td Duration
            td Result
            td Played
            td Patch
        tbody
          tr(class = match.radiant_win ? "success" : "danger")
            td= constants.parse_status[match.parse_status]
            td= match.parsed_data ? match.parsed_data.version : "N/A"
            td= constants.modes[match.game_mode] ? constants.modes[match.game_mode].name : match.game_mode
            td= constants.regions[match.cluster] ? constants.regions[match.cluster] : match.cluster
            td= moment().startOf('day').seconds(match.duration).format("H:mm:ss")
            td= match.radiant_win ? "Radiant Victory" : "Dire Victory"
            td.fromNow(data-time=match.start_time + match.duration)
            td= constants.patches[match.patch] ? constants.patches[match.patch].id : match.patch
  .row
      .col-md-10.table-responsive
        ul.nav.nav-tabs
          each val, key in tabs
            li(class= (route === key ? 'active' : ''), style=(match.parsed_data || key==="index" ? '' : 'display:none;'))
                a(href="/matches/#{match.match_id}/" + (key == 'index' ? "" : key))= val.name
      .col-md-2
        .addthis_sharing_toolbox.pull-right
  block match_content
  if route !== "index"
    hr
    .row
      .col-md-12
        include /ads/leaderboard_3
      
append footer_assets
  script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5452f1e51eac0fc5", async="async")