.row
  .col-md-7
    h3 Map 
      small Hover over a table cell for map
    #map.table-responsive
      img.mapContainer(src='//cdn.rawgit.com/kronusme/dota2-api/master/images/map/dota-map-6.82.jpg', alt="map")

  .col-md-5
    +data_table({id:"positions", summable: true, heading:"Positions"})
      each player, ind in match.players
        - var p = player.parsedPlayer
        +data_table_header(ind, match)      
          tr
            th Hero
            th: abbr(title="Lane based on early game position") Lane
            th: abbr(title="Percentage of the map explored") Explore%
            th: abbr(title="# of Observer Wards placed during the game") Observer
            th: abbr(title="# of Sentry Wards placed during the game") Sentry
        tr(class = player.isRadiant ? "radiant" : "dire")
          +hero_td(player)
          td.activate(data-index=ind, data-type="lane_pos") #{constants.lane_ids[p.lane] || "-"}
          td.activate(data-index=ind, data-type="pos") #{(p.explore*100).toFixed(2) || "-"}
          td.activate(data-index=ind, data-type="obs") #{p.obs_log.length || "-"}
          td.activate(data-index=ind, data-type="sen") #{p.sen_log.length || "-"}
              
  script.
    var width = document.getElementById('map').clientWidth;
    var heatmap = h337.create({
      container: document.getElementById('map'),
      radius: 15*(width/600)
    });

    // scale points by width/127 units to fit to size of map
    // offset points by 25 units to increase visibility
    // TODO full position data likely requires a separate offset
    var posData = !{JSON.stringify(match.posData)}
    adjustHeatmapData(posData, width/127, null, 100);

    $(".activate").on("mouseenter", function(){
      var pData = posData[Number($(this).attr('data-index'))]
      var data = pData[$(this).attr('data-type')];
      console.log("mouseover", pData, data);
      heatmap.setData(data);
    })
