include data_table_header

mixin data_table(options, players)
  h3.inline-header=options.heading
  .table-responsive.collapse.in(style="background-color:#333;", id=options.id)
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp(class=options.summable ? "summable" : "")
      block
      if options.summable
        tr
          td.lead= "Totals"

mixin data_table_body(i, match)
  if !(i%(match.players.length/2))
    td(class=i ? "radiant":"dire", rowspan="#{match.players.length/2}")= i ? "Dire" : "Radiant"
  else
    td
  block