mixin name(player)
  if (player.last_visited)
    img.yasp-user-icon(src='/public/images/favicon-96x96.png', title="This user is registered!")
  .inline(class=player.last_visited ? "" : "padding", class=(player.isRadiant || player.team) ? "radiant" : "dire")
    if (player.account_id === constants.anonymous_account_id)
      ="Anonymous"
    else if (player.account_id)
      a(href='/players/#{player.account_id}')= player.personaname ? player.personaname.substring(0, 10) + (player.personaname.length > 10 ? "..." : "") : player.account_id
    else if ("team" in player)
      =player.team ? "The Radiant" : "The Dire"
    else if (!player.account_id && !player.personaname)
      ="Bot"
    else
      =player.personaname
      
mixin hero_td(player, fullInfo)
  - var hero = constants.heroes[player.hero_id]
  - var slot_color = constants.player_colors[player.player_slot]
  if hero
    img.img-md(src=hero.img, title="#{hero.localized_name}", style="border-left-color:#{slot_color}").player-color
  else
    =player.hero_id
  if fullInfo
    if player.ratings
      abbr(title=player.ratings[player.ratings.length-1].soloCompetitiveRank)
        +name(player)
    else
      +name(player)