include /mixins/progress_bar
include /mixins/pvgna

mixin hero_table(rows, short, display_pvgna)
  h3 Heroes
  table.table.table-condensed#heroes.table-striped.rankable
    thead
      tr
        th: abbr(title=tooltips.hero_id) Hero
        th: abbr(title=tooltips.played_as) Played
        th: abbr(title=tooltips.win_pct_as) Win%
        if !short
          th.fromNow: abbr(title=tooltips.last_played) Last
          th: abbr(title=tooltips.played_with) With
          th: abbr(title=tooltips.win_pct_with) Win%
          th: abbr(title=tooltips.played_against) Against
          th: abbr(title=tooltips.win_pct_against) Win%
    tbody.small
      each h in rows
        - var hero = constants.heroes[h.hero_id]
        tr
          td.text-left.small.img-text
            if hero
              img.img-sm(src=hero.img, title=hero.localized_name)
              if display_pvgna
                +pvgna(hero)
              =hero.localized_name
          td.rankable=h.games
          td.rankable
            +progress_bar(h.win, h.games)
          if !short
            td.small=h.last_played
            td.rankable=h.with_games
            td.rankable
              +progress_bar(h.with_win, h.with_games)
            td.rankable=h.against_games
            td.rankable
              +progress_bar(h.against_win, h.against_games)
