include /mixins/progress_bar

mixin hero_table(rows, short)
  h3 Heroes
  table.table.table-condensed#heroes
    thead
      tr
        th Hero
        th.fromNow Last
        th Played As
        th Win%
        if !short
          th: abbr(title="Number of games with this hero on the team") Played With
          th Win% 
          th: abbr(title="Number of games with this hero on the opposing team") Played Against
          th Win%
    each h in rows
      - var hero = constants.heroes[h.hero_id]
      tr
        td
          img.img-md(src=hero.img, title=hero.localized_name)
          =hero.localized_name
        td=h.last_played
        td=h.games
        td
          +progress_bar(h.win, h.games)
        if !short
          td=h.with_games
          td
            +progress_bar(h.with_win, h.with_games)
          td=h.against_games
          td
            +progress_bar(h.against_win, h.against_games)
