mixin match_table(matches, extended)
  h3 Matches
  div
    table.table.table-condensed#matches.table-striped.rankable(style="border:1px solid #666;")
      thead
        tr
          th: abbr(title=tooltips.match_id) ID
          th: abbr(title=tooltips.hero_id) Hero
          th: abbr(title=tooltips.result) R
          th: abbr(title=tooltips.game_mode) M
          th: abbr(title=tooltips.skill) S
          th.fromNow: abbr(title=tooltips.ended) E
          th.seconds: abbr(title=tooltips.duration) L
          th: abbr(title=tooltips.kills) K
          th: abbr(title=tooltips.deaths) D
          th: abbr(title=tooltips.assists) A
          if extended
            th: abbr(title=tooltips.last_hits) LH
            th: abbr(title=tooltips.gold_per_min) GPM

      tbody.small
        each match in matches
          - var hero = constants.heroes[match.hero_id]
          tr 
            td: a(class=match.player_win ? "text-success" : "text-danger", href="/matches/"+match.match_id)=match.match_id
            td
              if hero
                img.img-sm(src=hero.img, title=hero.localized_name)
              else
                =match.hero_id
            td(class=match.player_win ? "text-success" : "text-danger")=match.player_win ? "W" : "L"
            td.small=constants.game_mode[match.game_mode] ? constants.game_mode[match.game_mode].name : match.game_mode
            td.small=constants.skill[match.skill] || match.skill
            td.small=match.start_time+match.duration
            td.rankable=match.duration
            td.rankable=match.kills
            td.rankable=match.deaths
            td.rankable=match.assists
            if extended
              td.rankable=match.last_hits
              td.rankable=match.gold_per_min