mixin teammate_table(rows)
  h3 Teammates
  table.table#teammates
    thead
      tr
        th Name
        th Games
        th Win%
        th Last
    each teammate in rows
      tr
        td
          img.user(src=teammate.avatar)
          a(href='/players/#{teammate.account_id}')=teammate.personaname || teammate.account_id
        td= teammate.games
        td
         - var pct = teammate ? 100*teammate.win/teammate.games : 0
         .progress
           .progress-bar(class=pct >= 50 ? "progress-bar-success" : "progress-bar-danger" style="width: #{pct}%") #{pct.toFixed(2)}%
        td= moment.unix(teammate.last_played).fromNow()
