include /mixins/progress_bar

mixin teammate_table(rows, short)
  h3 Players
  table.table.table-condensed#teammates
    thead
      tr
        th Name
        th.fromNow Last
        th Matches
        th Win%
        if !short
          th: abbr(title="Number of games with this player on the team") Played With
          th Win%
          th: abbr(title="Number of games with this player on the opposing team") Played Against
          th Win%
    each teammate in rows
      tr
        td.text-left
          img.img-md(src=teammate.avatar)
          if (teammate.last_visited)
            img.user(src='/public/images/favicon-16x16.png', title="YASP User")
          a(href='/players/#{teammate.account_id}')=teammate.personaname || teammate.account_id
        td=teammate.last_played
        td= teammate.games
        td
          +progress_bar(teammate.win, teammate.games)
        if !short
          td= teammate.with_games
          td
            +progress_bar(teammate.with_win, teammate.with_games)
          td= teammate.against_games
          td
            +progress_bar(teammate.against_win, teammate.against_games)
