extend /layout

block content
  if typeof player.account_id === "number"
    .row.match-top 
      if player.avatarmedium
        .col-md-1
           img(src='#{player.avatarmedium}').img-thumbnail
      .col-md-5
        h1.inline-header= player.personaname || player.account_id
        a(href=player.profileurl || "#", target="_blank")
          i(style="font-size:30px;border:1px solid lightblue;border-radius:5px;").fa.fa-steam
      .col-md-1
        if player.cheese
          i.flaticon-1.medium-cheese(style="display:inline-block")
          div.text-right x#{player.cheese}
      .col-md-5
        h3 Record 
          br
          small.text-success#win #{player.aggData.win}
          small -
          small.text-danger#lose #{player.aggData.lose} 
          small (#{((player.aggData.kills.sum + player.aggData.assists.sum)/(player.aggData.deaths.sum+player.aggData.games)).toFixed(2)} KDA, #{player.abandons} abandons)
        - var pct = (player.aggData.win / player.aggData.games * 100).toFixed(2)
        .progress
          .progress-bar.progress-bar-success#winbar(style="width:#{pct}%") #{pct}%
          
        h3
          - var ratings = player.ratings
          span.label.label-info#solo Solo: #{ratings[0] ? ratings[ratings.length - 1].soloCompetitiveRank : "N/A"}
          span.label.label-warning#party Party: #{ratings[0] ? ratings[ratings.length - 1].competitiveRank : "N/A"}
    hr
    .row
      .col-md-12
        if !(player.account_id in trackedPlayers)
          .alert.alert-danger This user has not visited recently, so their matches are not automatically queued for parse. (Parsing resumes on next visit)
        if (!player.full_history_time)
          .alert.alert-warning This user does not have full match history yet.  Some matches may be missing.  (Full history is requested on login)
        if (user && user.account_id === player.account_id)
          .checkbox
            label
              input.pref#theme(type="checkbox", checked=user.light_theme)
              | Use Light Theme
  //-
    hr
    table.table.table-condensed
      thead
        tr
          th Full History
          th Name Update
      tbody
        tr
          td=(player.full_history_time ? moment(player.full_history_time).fromNow() : "never")
          td=(player.last_summaries_update ? moment(player.last_summaries_update).fromNow() : "never")
          
  .row(style="margin-top:1em;")
    .col-md-10.table-responsive
      ul.nav.nav-tabs
        each val, key in tabs
          li(class= (route === key ? 'active' : ''))
              a(href="/players/#{player.account_id}/" + (key === 'index' ? "" : key))= val.name
    .col-md-2
      a(href="?json=1" class="btn btn-success") Download JSON
  include /query
  hr
  block playercontent
  hr
  
append footer_assets
  script.
    $(".pref").change(function() {
        $.post(
            "/preferences", {
                light_theme: $("#theme").is(":checked"),
            },
            function(data) {
                if (data.sync) {
                    location.reload(true);
                }
                else {
                    $(".page-header").after("<div role='alert' class='sync alert alert-warning'>Failed to update preferences. Try again later.</div>");
                }
                $(".sync").fadeOut(3000);
            });
    });