extend player

block playercontent
  //pre #{JSON.stringify(player.aggData, null, 2)}
  .row
    .col-md-12
      h3 Items 
        small (#{player.aggData.purchase_time.n} matches)
      table.table#builds.table-striped
        thead
          tr
            th: abbr(title=tooltips.items_name) Name
            th: abbr(title=tooltips.items_built) Built
            th: abbr(title=tooltips.items_matches) Matches
            th: abbr(title=tooltips.items_uses) Uses
            th: abbr(title=tooltips.items_uses_per_match) Uses/Match
            th.seconds: abbr(title=tooltips.items_timing) Avg Timing
            th: abbr(title=tooltips.items_build_pct) Build%
            th: abbr(title=tooltips.items_win_pct) Win%

        tbody
          each val, key in player.aggData.purchase_time.counts
            - var item = constants.items[key]
            tr 
              td
                if item
                  img.img-sm.item(src=item.img, title=key)
                  =item.dname
                else
                  =key
              td=player.aggData.purchase.counts[key]
              td=player.aggData.item_usage.counts[key] 
              td=player.aggData.item_uses.counts[key]
              td=player.aggData.item_uses.counts[key] ? (player.aggData.item_uses.counts[key]/player.aggData.item_usage.counts[key]).toFixed(2) : ""
              td=val/player.aggData.purchase.counts[key]
              td
                +progress_bar(player.aggData.item_usage.counts[key],player.aggData.item_usage.n)
              td
                +progress_bar(player.aggData.item_win.counts[key],player.aggData.item_usage.counts[key])

append footer_assets
  script.
    var builds = $('#builds').dataTable({
        //"searching": false,
        //"paging": false,
        "order": [
            [1, "desc"]
        ],
        "drawCallback": function() {
            window.tooltips();
        },
        "columnDefs": [{
            targets: "seconds",
            render: function(data, type) {
                if (type === "display") {
                    return formatSeconds(data);
                }
                return data;
            }
        }]
    });