extend player

block playercontent
    .row
      each val, key in counts
        .col-md-4
          h3=key.split("_").join(" ")
            small  (#{player.aggData[key].n} matches)
          table.table.table-striped.rankable.small
            thead
              tr
                th Category
                th Matches
                th Win%
            tbody
              each val2, key2 in player.aggData[key].counts
                tr
                  - var obj = {}
                  - obj[key] = key2;
                  td: a(href="/players/"+player.profile.account_id+"/matches?"+qs.stringify(obj))=constants[key] ? (constants[key][key2] ? constants[key][key2].name || constants[key][key2] : JSON.stringify(constants[key])) : key2
                  td.rankable=val2
                  td.rankable
                    +progress_bar(player.aggData[key].win_counts[key2], val2)
      .col-md-4
        h3 Kill Streaks 
          small (#{player.aggData.kill_streaks.n} matches)
        table.table.table-striped.rankable.small
          thead
            tr
              th Type
              th Count
          tbody
            each val, key in constants.kill_streaks
              tr
                td #{val} (#{key})
                td.rankable=player.aggData.kill_streaks.counts[key] || 0
      .col-md-4
        h3 Multi Kills 
          small (#{player.aggData.multi_kills.n} matches)
        table.table.table-striped.rankable.small
          thead
            tr
              th Type
              th Count
          tbody
            each val, key in constants.multi_kills
              tr
                td #{val} (#{key})
                td.rankable=player.aggData.multi_kills.counts[key] || 0
