extend player

block playercontent
  h2 Compare 
    small Comparing player medians against #{compare_data[0].aggData.games} recent matches
  table.table.table-condensed.table-striped
    thead
      tr
        td Stat
        each player in compare_data.slice(1)
          td #{player.account_id === "all" ? "All Matches" : player.personaname} (#{player.aggData.games} matches)
          td Percentile
    tbody
      each val, key in histograms
        tr
          td: abbr(title=tooltips[key])=prettyPrint(key)
          each player in compare_data.slice(1)
            td=player.aggData[key].avg ? player.aggData[key].avg.toFixed(0) : 0
            td.rankable
              +progress_bar(player.aggData[key].percentile, 1)
  #chart