extend player

block playercontent
  //pre #{JSON.stringify(player.aggData, null, 2)}
  .row
    .col-md-12
      h3 Skills 
        small (#{player.aggData.hero_hits.n} matches)
      table.table#accuracy.table-striped
        thead
          tr
            th: abbr(title=tooltips.skills_name) Name
            th: abbr(title=tooltips.skills_casts) Casts
            th: abbr(title=tooltips.skills_hits) Hits
            th: abbr(title=tooltips.skills_hit_pct) Hit%
        tbody
          each val, key in player.aggData.ability_uses.counts
            - var ability = constants.abilities[key]
            - var casts = val
            - var hits = player.aggData.hero_hits.counts[key] || 0
            tr
              td
                if ability
                  img.img-sm.ability(src=ability.img, title=key)
                  =ability.dname
                else
                  =key
              td=casts
              td=hits
              td
                +progress_bar(hits, casts)
                
append footer_assets
  script.
    var accuracy = $('#accuracy').dataTable({
        //"searching": false,
        //"paging": false,
        "order": [
            [1, "desc"]
        ],
        "drawCallback": function() {
            window.tooltips();
        },
        "columnDefs": []
    });