extend /layout

block content
  if typeof player.account_id === "number"
    .row.match-top 
      if player.avatarmedium
        .col-md-1
           img(src='#{player.avatarmedium}').img-thumbnail
      .col-md-6
        h1.inline-header= player.personaname || player.account_id
        a(href=player.profileurl || "#", target="_blank")
          i(style="font-size:30px;border:1px solid lightblue;border-radius:5px;").fa.fa-steam
      .col-md-1
        if player.cheese
          i.flaticon-1.medium-cheese(style="display:inline-block")
          div.text-right x#{player.cheese}
      .col-md-4
        h3 Record 
          small.green#win #{player.aggData.win}
          small -
          small.red#lose #{player.aggData.lose}
        - var pct = (player.aggData.win / player.aggData.games * 100).toFixed(2)
        .progress
          .progress-bar.progress-bar-success#winbar(style="width:#{pct}%") #{pct}%
    hr
    .row
      .col-md-12
        if !(player.account_id in trackedPlayers)
          .alert.alert-danger This user has not visited recently, so their matches are not automatically queued for parse. (Login to resume automatic parsing)
        if (!player.full_history_time)
          .alert.alert-warning This user does not have full match history yet.  Some matches may be missing.  (Full history is requested on login)
        if (user && user.account_id === player.account_id)
          .checkbox
            label
              input.pref#theme(type="checkbox", checked=user.light_theme)
              | Use Light Theme
  .row(style="margin-top:1em;")
    .col-md-10.table-responsive
      ul.nav.nav-tabs
        each val, key in tabs
          li(class= (route === key ? 'active' : ''))
              a(href="/players/#{player.account_id}/" + (key === 'index' ? "" : key))= val.name
    .col-md-2
      a(href="?json=1" class="btn btn-success") Download JSON
  include /query
  hr
  block playercontent
  hr
  table.table.table-condensed
    thead
      tr
        //th Record
        th Full History
        th Name Update
        th Last Visit
    tbody
      tr
        //td <span class="green">#{player.aggData.win}</span>-<span class="red">#{player.aggData.lose}</span> <br> (#{player.aggData.games ? (player.aggData.win/player.aggData.games*100).toFixed(2) : "0.00"}%)
        td=(player.full_history_time ? moment(player.full_history_time).fromNow() : "never")
        td=(player.last_summaries_update ? moment(player.last_summaries_update).fromNow() : "never")
        td #{(player.last_visited ? moment(player.last_visited).fromNow() : "never")}
        
append footer_assets
  script.
    $(".pref").change(function() {
        $.post(
            "/preferences", {
                light_theme: $("#theme").is(":checked"),
            },
            function(data) {
                if (data.sync) {
                    location.reload(true);
                }
                else {
                    $(".page-header").after("<div role='alert' class='sync alert alert-warning'>Failed to update preferences. Try again later.</div>");
                }
                $(".sync").fadeOut(3000);
            });
    });