extend /layout
include /mixins/progress_bar

block content
  .row
    .col-md-12
      if !(player.account_id in trackedPlayers)
        .alert.alert-danger This user has not visited recently, so their matches are not automatically parsed. (Parsing resumes shortly after login)
      else
        .alert.alert-success This user is tracked!  Their matches are automatically parsed.
      if (!player.full_history_time)
        .alert.alert-warning This user does not have full match history yet.  Some matches may be missing.  (Full history requested on login)
        
  .row.match-top 
    .col-md-1
      a(href=player.profileurl || "#", target="_blank")
        if player.avatarmedium
          img(src='#{player.avatarmedium}').img-thumbnail
        //else
          //i(style="font-size:30px;border:1px solid lightblue;border-radius:5px;").fa.fa-steam
    .col-md-6
      h1.inline-header #{player.personaname || player.account_id} 
        small
          a(href="?json=1" title="View as JSON")
            i.fa.fa-download
      div.lead
          span.label.label-info#solo: abbr(title="Solo MMR") #{player.soloRating || "N/A"}
          span.label.label-warning#party: abbr(title="Party MMR") #{player.partyRating || "N/A"}
    .col-md-1
      if player.cheese
        i.flaticon-1.medium-cheese(style="display:inline-block")
        div.text-right x#{player.cheese}
    .col-md-4
      h3 Record 
        br
        small.text-success#win #{player.aggData.win}
        small -
        small.text-danger#lose #{player.aggData.lose} 
        small (#{((player.aggData.kills.sum + player.aggData.assists.sum)/(player.aggData.deaths.sum+player.aggData.games)).toFixed(2)} KDA, #{player.abandons} abandons)
      +progress_bar(player.aggData.win, player.aggData.games)
      
  .row(style="margin-top:1em;")
    .col-md-12.table-responsive
      ul.nav.nav-tabs
        each val, key in tabs
          li(class= (route === key ? 'active' : ''))
              a(href="/players/#{player.account_id}/" + (key === 'index' ? "" : key))= val.name
  include /query
  block playercontent
