extend player

block playercontent
  .row
    .col-md-6
      h3 Multi Kills 
        small (#{player.aggData.multi_kills.n} matches)
      table.table.table-striped
        thead
          tr
            th Type
            th Count
        tbody
          each val, key in constants.multi_kills
            tr
              td #{val} (#{key})
              td=player.aggData.multi_kills.counts[key] || 0
  
    .col-md-6
      h3 Kill Streaks 
        small (#{player.aggData.kill_streaks.n} matches)
      table.table.table-striped
        thead
          tr
            th Type
            th Count
        tbody
          each val, key in constants.kill_streaks
            tr
              td #{val} (#{key})
              td=player.aggData.kill_streaks.counts[key] || 0
  hr
  +ad("banner2")
  hr
  .row
    .col-md-6
      h3 Observers 
        small (#{player.aggData.obs.n} matches)
      #map.mapContainer.mapContainer-small
        img.map(src='//cdn.rawgit.com/kronusme/dota2-api/master/images/map/dota-map-6.82.jpg', alt="map")
    .col-md-6
      h3 Sentries 
        small (#{player.aggData.sen.n} matches)
      #map2.mapContainer.mapContainer-small
        img.map(src='//cdn.rawgit.com/kronusme/dota2-api/master/images/map/dota-map-6.82.jpg', alt="map")
    
append footer_assets
  script.
    var posData = !{JSON.stringify(player.posData)};
    adjustHeatmapData(posData, document.getElementById('map').clientWidth/127);
    var heatmap = h337.create({
      container: document.getElementById('map'),
      radius: 15
    });
    var heatmap2 = h337.create({
      container: document.getElementById('map2'),
      radius: 15
    });
    heatmap.setData(posData[0]["obs"]);
    heatmap2.setData(posData[0]["sen"]);
          