extend player

block playercontent
    - var times={"duration":1,"first_blood_time":1}
    .row
      .col-md-12
        h3 Records
        table.table.table-condensed
          tr
            th Stat
            th Games
            th Mean
            th Total
            th Record
            th Hero
            th Match ID
            th Set
          each val, key in player.aggData
            if key in histograms
              - var avg = val.sum/val.n
              tr
                td #{key.split("_").map(function(s){ return s.charAt(0).toUpperCase() + s.slice(1)}).join(" ")} 
                td #{val.n}
                td(class=(key in times ? "format-seconds" : ""), data-format-seconds=avg) #{avg.toFixed(2)}
                td(class=(key in times ? "format-seconds" : "format"), data-format-seconds=val.sum) #{val.sum}
                td(class=(key in times ? "format-seconds" : ""), data-format-seconds=val.max) #{val.max}
                td
                  - var hero = constants.heroes[val.max_match.hero_id]
                  if hero
                    img(src=hero.img, title=hero.localized_name)
                  else
                    val.max_match.hero_id
                td: a(href=val.max_match.match_id ? "/matches/"+ val.max_match.match_id : "#") #{val.max_match.match_id}
                td #{val.max_match.start_time ? moment.unix(val.max_match.start_time).fromNow() : "never"}