extend /layout
include /mixins/progress_bar

block content
  .row.match-top
    .col-xs-3
      div
        if player.avatar
          a(href=player.profileurl || "#", target="_blank")
            img(style="display:inline-block; margin-right:5px;" src='#{player.avatar}').img-thumbnail
        if player.loccountrycode && constants.countries[player.loccountrycode]
          span: abbr(title=constants.countries[player.loccountrycode].name.common): span.flag-icon(style="margin-right:5px;" class="flag-icon-"+player.loccountrycode.toLowerCase())
        h4(style="word-wrap:break-word;") #{player.personaname || player.account_id}
        h4
          if player.cheese
            div
              i.flaticon-1.small-cheese(style="display:inline-block")
              small(style="margin-left:.5em") x #{' '} #{player.cheese}
    .col-xs-3
          h4
            span.text-info.rating: abbr(title="Solo MMR")
              i.fa.fa-fw.fa-user
              small(style="margin-left:.5em") #{player.soloRating || "N/A"}
            span.text-info.rating: abbr(title="Highest Solo MMR")
              i.fa.fa-fw.fa-star
              small(style="margin-left:.5em") #{Math.max(Math.max.apply(null, player.ratings.map(function(r){return r.solo_competitive_rank;})),0) || "N/A"}
          h4
            span.text-warning.rating: abbr(title="Party MMR")
              i.fa.fa-fw.fa-users
              small(style="margin-left:.5em") #{player.partyRating || "N/A"}
            span.text-warning.rating: abbr(title="Highest Party MMR")
              i.fa.fa-fw.fa-star
              small(style="margin-left:.5em") #{Math.max(Math.max.apply(null, player.ratings.map(function(r){return r.competitive_rank;})),0) || "N/A"}
    .col-xs-3
          h4
            if (!player.full_history_time)
              span.text-danger.rating: abbr(title="This player does not have full match history yet.  Some matches may be missing.  (A full history request is automatically queued on login)")
                i.fa.fa-exclamation-triangle
            else
              span.text-success.rating: abbr(title="Full history has been processed for this player.")
                i.fa.fa-check
            small: abbr(title="A recorded match is a match for which we have data from the Steam WebAPI.<br> \
              Players signing in for the first time may not see all matches until their full history has been retrieved.<br>") #{player.match_count} recorded 
              
          h4
            if !(player.account_id in trackedPlayers)
              span.text-danger.rating: abbr(title="This player has not visited in the last #{config.UNTRACK_DAYS} days, so their matches are not automatically parsed. (Parsing resumes on this user's next visit)")
                i.fa.fa-eye-slash
            else
              span.text-success.rating: abbr(title="This player has visited in the last #{config.UNTRACK_DAYS} days.  Matches they play are automatically parsed.")
                i.fa.fa-eye
            small: abbr(title="A parsed match is a match that has had its replay analyzed.<br> \
              Replay parsing is only available for matches within the last 7 days (prior to replay expiration).<br> \
              Many advanced statistics are only available for parsed matches.<br> \
              Replays of active users and specifically requested matches are parsed.") #{player.parsed_match_count} parsed 

    .col-xs-3
      h4
        span.text-primary
          i.fa.fa-trophy
          small(style="margin-left:.5em")
            span.text-success(style="margin:0 4px;") #{(player.win)}
            span -
            span.text-danger(style="margin:0 4px;") #{player.lose}
            span (#{(player.win/player.match_count*100).toFixed(2)}%)
      h4
        span.text-primary
          i.fa.fa-sign-out
          small(style="margin-left:.5em") #{player.abandon_count} abandons
      
  .row.player-tabs(style="margin-top:1em;")
    .col-md-12.table-responsive
      ul.nav.nav-tabs
        each val, key in tabs
          li(class= (route === key ? 'active' : ''))
            if !val.hide
              a(href="/players/#{player.account_id}/" + (key === 'index' ? "" : key) + querystring, class=(val["new-feature"] ? "new-feature" : ""))= val.name
  include /query
  block playercontent

append footer_assets
  script.
    $("#included_account_id").selectize({
        plugins: ['remove_button'],
        create: true,
        maxItems: 10
    });
    $("#with_hero_id").selectize({
        plugins: ['remove_button'],
        sortField: 'text',
        maxItems: 5
    });
    $("#enemy_hero_id").selectize({
        plugins: ['remove_button'],
        sortField: 'text',
        maxItems: 5
    });
    $("#purchased_item").selectize({
        plugins: ['remove_button'],
        sortField: 'text',
        maxItems: 5
    });
    $("#hero_id").selectize({
        plugins: ['remove_button'],
        mode: 'multi',
        sortField: 'text',
        maxItems: 1
    });
    $("#isRadiant").selectize({plugins: ['remove_button'],mode: 'multi',maxItems: 1});
    $("#win").selectize({plugins: ['remove_button'],mode: 'multi',maxItems: 1});
    $("#lane_role").selectize({plugins: ['remove_button'],mode: 'multi',maxItems: 1});
    $("#patch").selectize({plugins: ['remove_button'],mode: 'multi',maxItems: 1});
    $("#game_mode").selectize({plugins: ['remove_button'],mode: 'multi',maxItems: 1});
    $("#lobby_type").selectize({plugins: ['remove_button'],mode: 'multi',maxItems: 1});
    $("#region").selectize({plugins: ['remove_button'],mode: 'multi',maxItems: 1});
    $("#date").selectize({plugins: ['remove_button'],mode: 'multi',maxItems: 1});
    
    $('#matches').dataTable({
        "order": [
                [0, "desc"]
            ],
        info: #{route === "matches"},
        paging: #{route === "matches"},
        pageLength: 20,
        lengthChange: false,
        searching: false,
        "drawCallback":function(){
            formatHtml();
            tooltips();
        },
        columnDefs: [
            {
                "targets": "fromNow",
                render: function(data, type) {
                    if (type === "display") {
                        return moment.unix(data).fromNow();
                    }
                    return data;
                }
            },
            {
                "targets": "seconds",
                render: function(data, type) {
                    if (type === "display") {
                        return formatSeconds(data);
                    }
                    return data;
                }
            }
            ]
    });

    $('#heroes').dataTable({
        info: false,
        "paging": false,
        "searching": false,
        "order": [
            [2, "desc"]
        ],
        "drawCallback":function(){
            tooltips();
        },
        "columnDefs": [{
            targets: "fromNow",
            render: function(data, type) {
                if (type === "display") {
                    if (!Number(data)){
                        return "never";
                    }
                    return moment.unix(data).fromNow();
                }
                return data;
            }
        }]
    });

    $('#teammates').dataTable({
        info: false,
        "paging": false,
        "searching": false,
        "order": [
            [2, "desc"]
        ],
        "drawCallback":function(){
            window.tooltips();
        },
        "columnDefs": [{
            targets: "fromNow",
            render: function(data, type) {
                if (type === "display") {
                    if (!Number(data)){
                        return "never";
                    }
                    return moment.unix(data).fromNow();
                }
                return data;
            }
        }]
    });
    
    var builds = $('#builds').dataTable({
        "searching": false,
        "paging": false,
        "order": [
            [1, "desc"]
        ],
        "drawCallback": function() {
            window.tooltips();
        },
        "columnDefs": [{
            targets: "seconds",
            render: function(data, type) {
                if (type === "display") {
                    return formatSeconds(data);
                }
                return data;
            }
        }]
    });
    
    var accuracy = $('#accuracy').dataTable({
        "searching": false,
        "paging": false,
        "order": [
            [1, "desc"]
        ],
        "drawCallback": function() {
            window.tooltips();
        },
        "columnDefs": []
    });
