extend player

block playercontent
  .histograms.match
    .row
      .col-md-12
        script.
          var histogramData = {};
        ul.nav.nav-pills
          each v, key in histograms
            li(class=subkey===key ? "active" : ""): a(href='/players/'+player.profile.account_id+'/'+route+'/'+key + querystring) #{prettyPrint(key)}
        each v, key in histograms
          if key in player.aggData && (subkey===key)
            - var val = player.aggData[key]
            - var avg = val.sum/val.n
            //- var collapsed = true
            section.histogram-section(id="chart-histogram-container-"+key, data-histogram=key, class=collapsed ? "collapse" : "")
              h3: abbr(title=tooltips[key]) #{prettyPrint(key)} 
                small (#{val.n} matches, <span data-format-seconds=#{avg} class=#{key in times ? "format-seconds" : ""}>#{(avg).toFixed(2)}</span> mean)
              script.
                histogramData["#{key}"] = !{JSON.stringify({counts: player.aggData[key].counts, win_counts: player.aggData[key].win_counts})};
              div.histogram-chart(id="chart-histogram-"+key, data-histogram=key)
          
append footer_assets
  script.
    $(".histogram-chart").each(function() {
        var key = $(this).attr('data-histogram');
        var counts = histogramData[key].counts;
        var win_counts = histogramData[key].win_counts;
        createHistogram(counts, win_counts, key);
    });
    
    //$("#histogram-container-toggle-kills").click();
    
    function showAll(){
      $(".histogram-toggle-button").each(function() {
        if ($(this).attr("aria-expanded")!=="true"){
          this.click();
        }
      });
    }
