extend player

include /mixins/hero_table
include /mixins/teammate_table

block playercontent
  .row
     .col-md-12
       include /query
  .row
    .col-md-12
      table.table
        tr
          th Record
          th Win%
        tr
          td#record
          td
            .progress
              .progress-bar.progress-bar-success#winrate
  .row
    .col-md-12.table-responsive
      h3 Matches
      table.table#matches
      //-
        thead
          tr
           th Match ID
           th Hero
           th Hero Name
           th Result
           th Game Mode
           th Duration
           th Region
           th Played
           th K
           th D
           th A
           th LH
           th DN
           th GPM
           th XPM
           th HD
           th TD
           th HH
        each match in player.matches
          tr(class= match.player_win ? "success" : "danger")
            td: a(href='/matches/#{match.match_id}')= match.match_id
            - var hero = constants.heroes[match.players[0].hero_id]
            td.hero 
              if hero
                img(src=hero.img, title=hero.localized_name)
              else
                =match.players[0].hero_id
            td= hero ? hero.localized_name : "unknown hero"
            td= match.player_win ? "Won" : "Lost"
            td= constants.modes[match.game_mode] ? constants.modes[match.game_mode].name : match.game_mode
            td= moment().startOf('day').seconds(match.duration).format("H:mm:ss")
            td= constants.regions[match.cluster] ? constants.regions[match.cluster] : match.cluster
            td= moment.unix(match.start_time + match.duration).fromNow()
            td=match.players[0].kills
            td=match.players[0].deaths
            td=match.players[0].assists
            td=match.players[0].last_hits
            td=match.players[0].denies
            td=match.players[0].gold_per_min
            td=match.players[0].xp_per_min
            td=match.players[0].hero_damage
            td=match.players[0].tower_damage
            td=match.players[0].hero_healing 

  hr
  .row
    include /ads/leaderboard_2
  hr
  .row
    .col-md-12
      table.table#heroes
      //+hero_table(player.heroes_arr, true)
  hr
  .row
    .col-md-6
      table.table#teammates
      //+teammate_table(player.teammates)
    .col-md-6.match
      h3 Rating
        small.rating#solo Solo:
        small.rating#party Party:
      #ratings

append footer_assets
  script.
    var ratings = !{JSON.stringify(player.ratings || [])};
    ratingsChart(ratings);