extend player

block playercontent
  .counts
    .row
      - var counts = {"leaver_status":1,"game_mode":1,"lobby_type":1,"lane_role":1,"region":1,"patch":1}
      each val, key in counts
        .col-md-6
          h3=key.split("_").join(" ")
            small  (#{player.aggData[key].n})
          table.table
            tr
              th Category
              th Matches
              th Win%
            each val2, key2 in player.aggData[key].counts
              tr
                td=constants[key] ? constants[key][key2].name || constants[key][key2] : key2
                td=val2
                td
                  - var pct = 100*player.aggData[key].win_counts[key2]/val2
                  .progress
                    .progress-bar(class=pct >= 50 ? "progress-bar-success" : "progress-bar-danger" style="width: #{pct}%") #{pct.toFixed(2)}%
          
append footer_assets