extend player

block playercontent
  .histograms.match
    .row
      .col-md-12
        - var times={"duration":1,"first_blood_time":1}
        script.
          var histogramData = {};
          p: button.btn.btn-xs.btn-dark.toggle-button.bright-border.collapsed(onclick="showAll()" style="margin-right: 3px") Show All Histograms
        each val, key in player.aggData
          if key in histograms
            - var collapsed = true
            button.btn.btn-xs.btn-dark.toggle-button.bright-border-collapsible(data-toggle="collapse" data-target="#chart-histogram-container-"+key, aria-expanded=collapsed ? "false" : "true", style="margin-right: 3px", class=collapsed ? "collapsed" : "", id="histogram-container-toggle-"+key) #{key.split("_").map(function(s){ return s.charAt(0).toUpperCase() + s.slice(1)}).join(" ")}
        each val, key in player.aggData
          if key in histograms
            - var avg = val.sum/val.n
            - var collapsed = true
            section.histogram-section(id="chart-histogram-container-"+key, data-histogram=key, class=collapsed ? "collapse" : "")
              h3 #{key.split("_").map(function(s){ return s.charAt(0).toUpperCase() + s.slice(1)}).join(" ")} 
                small (#{val.n} matches, <span data-format-seconds=#{avg} class=#{key in times ? "format-seconds" : ""}>#{(avg).toFixed(2)}</span> mean)
              script.
                histogramData["#{key}"] = !{JSON.stringify(player.aggData[key])};
              div.histogram-chart(id="chart-histogram-"+key, data-histogram=key)
          
append footer_assets
  script.
    $(".histogram-chart").each(function() {
        var key = $(this).attr('data-histogram');
        var counts = histogramData[key].counts;
        var win_counts = histogramData[key].win_counts;
        createHistogram(counts, win_counts, key);
    });
    $("#histogram-container-toggle-duration").click();
    
    function showAll(){
      $(".histogram-section").removeClass("collapse");
      $(".toggle-button").hide();
    }