extend player

include /mixins/hero_table
include /mixins/teammate_table

block playercontent
  //pre=JSON.stringify(player.aggData)
  //result, W-L
  .row
    .col-md-12
      h3 Record 
        small.green#win #{player.aggData.win}
        small -
        small.red#lose #{player.aggData.lose}
      - var pct = (player.aggData.win / player.aggData.games * 100).toFixed(2)
      .progress
        .progress-bar.progress-bar-success#winbar(style="width:#{pct}%") #{pct}%
              
  - var clientConstants = {"game_mode": constants.game_mode,"lobby_type": constants.lobby_type,"heroes": constants.heroes,"parse_status": constants.parse_status};
  script.
    var constants = !{JSON.stringify(clientConstants)};
    var matches = !{JSON.stringify(player.matches.slice(0,10))};
    var heroes = !{JSON.stringify(player.aggData.heroes)};
    var teammates = !{JSON.stringify(player.aggData.teammates)};
    var ratings = !{JSON.stringify(player.ratings || [])};
  .row
    .col-md-12.table-responsive
      h3 Recent
      table.table#matches
      
  hr
  .row
    include /ads/leaderboard_2
    
  if typeof player.account_id === "number"
    hr
    .row
      .col-md-12
        h3 Heroes
        table.table#heroes
        //+hero_table(player.heroes_arr, true)
    hr
    .row
      .col-md-12
        h3 Teammates
        table.table#teammates
        //+teammate_table(player.teammates)
    hr
    .row
      .col-md-12
        h3 Rating
          small.rating#solo Solo:
          small.rating#party Party:
        #ratings

append footer_assets
  script.
    playerMatches();
    ratingsChart(ratings);