extend player

block playercontent
  //pre #{JSON.stringify(player.aggData, null, 2)}
  .row
    .col-md-12
      h3 Rankings 
      table.table#rankings.table-striped.rankable
        thead
          tr
            th: abbr(title=tooltips.items_name) Hero
            th Percentile
            th.ordinal Rank
        tbody
          each entry in player.rankings || []
            - var hero = constants.heroes[entry.hero_id]
            if entry.rank
              tr
                td.text-left
                  if hero
                    img.img-sm.hero(src=hero.img, title=hero.localized_name)
                    a(href="/rankings/"+hero.id)=hero.localized_name
                  else
                    =hero_id
                td.rankable=((entry.rank+1)/entry.card*100).toFixed(2)
                td=(entry.card - entry.rank)

append footer_assets
  script.
    $('#rankings').dataTable({
      info: false,
      "paging": false,
      "searching": false,
      "order": [
          [1, "desc"]
      ],
      "drawCallback":function(){
          tooltips();
      },
      "columnDefs": [{
          targets: "fromNow",
          render: function(data, type) {
              if (type === "display") {
                  if (!Number(data)){
                      return "never";
                  }
                  return moment.unix(data).fromNow();
              }
              return data;
          }
      },
      {
        targets: "ordinal",
        render: function(data, type) {
          if (type==="display")
          {
            return getOrdinal(data);
          }
          return data;
        }
      }]
    });
    
    function getOrdinal(n)
    {
        var s = ["th", "st", "nd", "rd"],
            v = n % 100;
        return n + (s[(v - 20) % 10] || s[v] || s[0]);
    };