extend player

block playercontent
  .row
    .col-md-6
      h3 Multi Kills 
        small (#{player.aggData.multi_kills.n} matches)
      table.table.table-striped.rankable
        thead
          tr
            th Type
            th Count
        tbody
          each val, key in constants.multi_kills
            tr
              td #{val} (#{key})
              td.rankable=player.aggData.multi_kills.counts[key] || 0
    .col-md-6
      h3 Kill Streaks         
        small (#{player.aggData.kill_streaks.n} matches)        
      table.table.table-striped.rankable      
        thead        
          tr        
            th Type        
            th Count        
        tbody        
          each val, key in constants.kill_streaks        
            tr        
              td #{val} (#{key})        
              td.rankable=player.aggData.kill_streaks.counts[key] || 0
