extend player

block playercontent
  .row
    .col-md-12
      h3 Rating 
        small To display MMR on profile, 
          a.alert-link(href="http://steamcommunity.com/profiles/"+ (bots[0] ? bots[0].steamID : "")) add a tracker.
      h4
        span.label.label-info Solo Rank: #{player.soloRank} of #{player.soloRatingsLength}
        span.label.label-warning Party Rank: #{player.partyRank} of #{player.partyRatingsLength}
      h4
        span.label.label-info Solo Peak: #{Math.max.apply(null, player.ratings.map(function(r){return r.soloCompetitiveRank;}))}
        span.label.label-warning Party Peak: #{Math.max.apply(null, player.ratings.map(function(r){return r.competitiveRank;}))}
       
      #ratings
      

append footer_assets
  script.
    var ratings = !{JSON.stringify(player.ratings)};
    ratingsChart(ratings);